{% extends "base-menu.html" %}
{% block main %}


	
	<a class="example button" href="{{ ROOT_URL }}/editor/?path=lessons/views.js" target="new">Show Example</a>
	<h1 id="views">Views</h1>
	

	<p>A view is just a square that draws stuff. It has a set of basic properties like x, y, width and height so it knows where to draw. Next to that it has more visual properties like opacity and scale. Views can display images or text, or a combination.</p>

	
	<a class="example button" href="{{ ROOT_URL }}/editor/?path=lessons/hierarchy.js" target="new">Show Example</a>
	<h1 id="hierarchy">View Hierarchy</h1>

	<p>Views can contain other views. We call these subviews. The parent of a view is called a superview. Views influence their subviews. For example, if you change the opacity of a view all subviews will become opaque too.</p>

	<p>A views coordinates are based on it's superview. So with an x and y of zero, a view gets placed in the most top left corner of its superview.</p>



	
	<a class="example button" href="{{ ROOT_URL }}/editor/?path=lessons/viewtypes.js" target="new">Show Example</a>
	<h1 id="types">Types of Views</h1>

	<p>Everything is based on a view. But some views have a specific task like scrolling their contents or showing an image. We call these subclasses of a view, for example an ImageView or ScrollView.</p>

	<p>It is easy to create components consisting of multiple views that you can re-use across projects, for example a collection view.</p>




	<a class="example button" href="{{ ROOT_URL }}/editor/?path=lessons/animation.js" target="new">Show Example</a>
	<h1 id="animation">Animation</h1>

	<p>Most properties of a view can be animated: x, y, width, height, scale, opacity. You can animate multiple properties at the same time.</p>

	<p>Animations optionally take a curve that describes the type of animation. You can used pre defined curves like linear or ease-in, custom ones or spring animations.</p>

	<p>You can create an animation explicitly with <span class="code">myAnimation = new Animation({..})</span> or with the shortcut on any view <span class="code">myView.animate({..})</span>.</p>




	<a class="example button" href="{{ ROOT_URL }}/editor/?path=lessons/styling.js" target="new">Show Example</a>
	<h1 id="styling">Styling</h1>

	<p>Because Framer runs in the browser, you can simply use html and css to style any view. To set the html contents of a view use <span class="code">someView.html = "hello"</span>. You can set some text or html.</p>

	<p>To add css styling you can edit the properties of the style attribute. You can set one at the time like <span class="code">view.style.backgroundColor = "red"</span> or update multiple properties at the same time as in the example. Please note that while most Framer properties take numeric values, the style attribute requires specific css values like <span class="code">view.style.lineHeight = "16px"</span>. You can also set a css class on a view by doing <span class="code">view.class = "myClass"</span>. This way you can use an external css file for styling.</p>



	
	<a class="example button" href="{{ ROOT_URL }}/editor/?path=lessons/events.js" target="new">Show Example</a>
	<h1 id="events">Events</h1>
	
	<p>Events are things that can happen to a view, for example a user click or mouse over, but also a scroll. You can listen to these events and respond to it to build complex interactions.</p>

	<p>There are <a href="http://en.wikipedia.org/wiki/DOM_events#Common.2FW3C_events">many events</a> you can listen to, but the most interesting are probably click, dblclick, mouseover, mouseout, and keydown. Mobile browsers have specific <a href="http://en.wikipedia.org/wiki/DOM_events#Touch_events"> touch events</a>: touchstart, touchmove and touchend.</p>

	<p>To listen to an event use <span class="code">view.on(&lt;event&gt;, &lt;function&gt;)</span>. To stop listening you can use <span class="code">view.off(&lt;event&gt;, &lt;function&gt;)</span>. You can listen to multiple events at the same time.</p>


{% endblock %}
