{% extends "base.html" %}
{% block content %}

<div class="divider"></div>

<section id="intro-text" class="row">
	These examples should help you get started. They vary from small everyday things until large shipped projects. If you made something cool and would like to help others by showing it off <a href="koen+framer.demo@madebysofa.com">drop me a line</a>.
</section>

<section class="row">
	


	<article class="col span_4 clr">
		<h2>Photoshop</h2>
		<p>Examples including Photoshop files to try out.</p>

		<div class="items">
			
			<div>
				<a href="">Android Unit</a>
				<p>Android News Feed unit</p>
			</div>

			<div>
				<a href="">iOS News Feed</a>
				<p>Facebook News Feed on iOS</p>
			</div>

		</div>



	</article>

	<article class="col span_4 clr">
		<h2>Quickies</h2>
		<p>Quick interactive examples of everyday things.</p>
		
		<div class="items">
			
			<div>
				<a href="{{ ROOT_URL }}/editor/?path=quickies/bouncy.js" target="new">Bouncy Dialog</a>
				<p>A simple iOS like bouncy dialog</p>
			</div>

			<div>
				<a href="{{ ROOT_URL }}/editor/?path=quickies/switch.js" target="new">Switching in and out Views</a>
				<p>Replacing views with other views</p>
			</div>

			<div>
				<a href="{{ ROOT_URL }}/editor/?path=quickies/navigation.js" target="new">iOS Like View Animating</a>
				<p>Animate views in and out</p>
			</div>

			<div>
				<a href="{{ ROOT_URL }}/editor/?path=quickies/draggable.js" target="new">Draggable Views</a>
				<p>Move Views around</p>
			</div>

			<div>
				<a href="{{ ROOT_URL }}/editor/?path=quickies/cycler.js" target="new">Value Cycler</a>
				<p>Cycle through a list of scale value</p>
			</div>

			<div>
				<a href="">ScrollView events</a>
				<p>Do something when scrolling</p>
			</div>

		</div>
		
	</article>


	<article class="col span_4 clr">
		<h2>Show Case</h2>
		<p>Complete examples of larger prototypes.</p>
	
		<div class="items">
			
			<div>
				<a href="">Commuter App</a>
				<p>Concept for a commuting app by Kristofer Brady</p>
			</div>
	
			<div>
				<a href="">iOS News Feed</a>
				<p>Facebook News Feed on iOS</p>
			</div>
	
		</div>
	</article>


</section>

{% endblock %}
