@-webkit-keyframes write-code {
20% { left: 90px; }
30% { left: 90px; }
40% { left: 95px; }

50% { left: 100px; }
60% { left: 120px; }

70% { left: 160px; }
80% { left: 165px; }

90% { left: 200px; }
100% { left: 240px; width: 60px; }
}

@-moz-keyframes write-code {
20% { left: 90px; }
30% { left: 90px; }
40% { left: 95px; }

50% { left: 100px; }
60% { left: 120px; }

70% { left: 160px; }
80% { left: 165px; }

90% { left: 200px; }
100% { left: 240px; width: 60px; }
}

@-o-keyframes write-code {
20% { left: 90px; }
30% { left: 90px; }
40% { left: 95px; }

50% { left: 100px; }
60% { left: 120px; }

70% { left: 160px; }
80% { left: 165px; }

90% { left: 200px; }
100% { left: 240px; width: 60px; }
}

@-ms-keyframes write-code {
20% { left: 90px; }
30% { left: 90px; }
40% { left: 95px; }

50% { left: 100px; }
60% { left: 120px; }

70% { left: 160px; }
80% { left: 165px; }

90% { left: 200px; }
100% { left: 240px; width: 60px; }
}

@keyframes write-code {
20% { left: 90px; }
30% { left: 90px; }
40% { left: 95px; }

50% { left: 100px; }
60% { left: 120px; }

70% { left: 160px; }
80% { left: 165px; }

90% { left: 200px; }
100% { left: 240px; width: 60px; }
}


/*-----------------*/

@-webkit-keyframes write-code-two {
20% { left: 117px; }
30% { left: 117px; }
40% { left: 120px; }

60% { left: 170px; }
70% { left: 170px; }

80% { left: 180px; }

90% { left: 220px; }
100% { left: 240px; width: 60px; }
}

@-moz-keyframes write-code-two {
20% { left: 90px; }
30% { left: 90px; }
40% { left: 95px; }

50% { left: 100px; }
60% { left: 120px; }

70% { left: 160px; }
80% { left: 165px; }

90% { left: 200px; }
100% { left: 240px; width: 60px; }
}

@-o-keyframes write-code-two {
20% { left: 90px; }
30% { left: 90px; }
40% { left: 95px; }

50% { left: 100px; }
60% { left: 120px; }

70% { left: 160px; }
80% { left: 165px; }

90% { left: 200px; }
100% { left: 240px; width: 60px; }
}
@-ms-keyframes write-code-two {
20% { left: 90px; }
30% { left: 90px; }
40% { left: 95px; }

50% { left: 100px; }
60% { left: 120px; }

70% { left: 160px; }
80% { left: 165px; }

90% { left: 200px; }
100% { left: 240px; width: 60px; }
}

@keyframes write-code-two {
20% { left: 90px; }
30% { left: 90px; }
40% { left: 95px; }

50% { left: 100px; }
60% { left: 120px; }

70% { left: 160px; }
80% { left: 165px; }

90% { left: 200px; }
100% { left: 240px; width: 60px; }
}