/* ==================================================== */
/* ================= Vertical SPACING (VSPACE) ================= */
/*40px between items, 70px between sections*/
p, #wrapper iframe {
  margin-bottom: 20px; }

#features li {
  margin-bottom: 40px; }

#wrapper ul {
  margin-bottom: 20px; }

table {
  margin: 40px 0; }

table.last {
  margin-bottom: 60px; }

/*Bitcoin*/
#bitcoin {
  display: block;
  margin-top: 20px; }

footer.global a.coinbase-button {
  padding: 8px 12px;
  border: 1px solid #d6dbe3;
  border-radius: 5px;
  font-weight: 500;
  font-size: 11px;
  letter-spacing: 1px; }

/*HEADER */
#header.framerjs {
  background: #4DB4EC;
  padding: 100px 0; }

#header.framerjs h1, #header.framerjs h2 {
  color: #fff; }

#header.framerjs h1 {
  margin-top: 0;
  margin-bottom: 30px; }

#header.framerjs a {
  background: transparent;
  box-shadow: inset 0 0 0 1px #fff;
  color: #fff; }

#header.framerjs a.green {
  background: #fff;
  color: #4DB4EC; }

/*-----------------------*/
#features {
  /* Fix for list margin */
  margin-bottom: -40px; }

#features li {
  float: left;
  max-width: 280px;
  list-style: none;
  line-height: 1.8;
  font-size: 16px;
  color: #888;
  min-height: 100px;
  -webkit-font-smoothing: antialiased;
  font-weight: 300; }

#features li img {
  float: left;
  height: 24px;
  width: 24px;
  position: relative;
  margin-right: 15px; }

#features li img.icon-flexible {
  top: 1px; }

#features li img.icon-speed {
  top: 0px; }

#features li p {
  margin-bottom: 0;
  margin-top: 0; }

#features li:nth-child(even) {
  float: right; }

#line-block {
  position: relative;
  width: 100%;
  min-height: 260px; }

#wrapper #line-block h4 {
  font-weight: 300;
  text-transform: none;
  margin-bottom: 20px;
  font-size: 26px;
  color: #333;
  letter-spacing: 0; }

#line-block section {
  max-width: 280px;
  text-align: center; }

#line-block section img {
  width: 114px;
  height: auto; }

#line-block section {
  float: left; }

#line-block section.right {
  float: right; }

#line-block section img {
  margin-bottom: 20px; }

#line-block img.line-arrow {
  position: absolute;
  top: 50px;
  opacity: .5;
  width: 11px;
  height: 22px; }

#line-block img.line-arrow.first {
  left: 32%; }

#line-block img.line-arrow.second {
  right: 31%; }

#line-block p {
  opacity: .6;
  font-size: 20px;
  line-height: 1.6; }

#line-block svg {
  margin-bottom: 20px; }

/* CODE-BLOCK */
#code-block {
  max-width: 100%;
  position: relative; }

#code-section h3 {
  font-weight: 500;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-radius: 6px 6px 0 0;
  margin-bottom: 30px;
  line-height: 1;
  -webkit-font-smoothing: subpixel-antialiased;
  font-weight: 500;
  color: #333; }

#code-block div {
  position: relative;
  width: 100%;
  height: 256px;
  border-radius: 6px 6px 0 0;
  background: black url("/static/examples/codeblock/images/background.png") repeat scroll top left;
  margin: 0; }

#code-block div iframe {
  display: block;
  width: 100%;
  position: absolute;
  height: 256px;
  top: 0;
  left: 0;
  border-radius: 6px 6px 0 0; }

#code-block div:after {
  content: "Click to animate";
  display: inline-block;
  text-align: center;
  font-size: 13px;
  position: absolute;
  font-weight: 400;
  bottom: 42px;
  left: 0;
  width: 100%;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px; }

@media only screen and (max-width: 900px) {
  #line-block section {
    max-width: 260px; } }
@media only screen and (max-width: 820px) {
  #line-block section {
    max-width: 240px; }

  #line-block img.line-arrow.first {
    left: 31%; }

  #line-block img.line-arrow.second {
    right: 31%; } }
@media only screen and (max-width: 640px) {
  #features li {
    font-size: 15px;
    max-width: 240px; } }
@media only screen and (max-width: 580px) {
  #header.framerjs {
    padding: 60px 0; }

  #header.framerjs h1 {
    font-weight: 300; }

  #header.framerjs h2 {
    margin-bottom: 60px; }

  #features li {
    font-size: 13px;
    max-width: 180px; }

  table {
    border: none; }

  table td, td, th {
    padding: 10px 0;
    background: transparent; }

  table, thead th, th {
    font-size: 13px; }

  table.api td.group {
    font-size: 11px; }

  table .examples {
    display: none; }

  nav#index li a {
    font-weight: 400;
    -webkit-font-smoothing: subpixel-antialiased; }

  h1, h1.title {
    margin-bottom: 20px; }

  h1, #footer h1 {
    font-size: 36px; }

  h2.headline {
    font-size: 17px;
    line-height: 1.6;
    font-weight: 400;
    margin-bottom: 40px;
    -webkit-font-smoothing: antialiased; }

  #line-block section {
    position: relative;
    display: inline-block;
    float: left; }

  #line-block p {
    font-size: 16px; } }
@media only screen and (max-width: 440px) {
  #line-block {
    height: auto; }

  #line-block section, #line-block section.left, #line-block section.right {
    position: relative;
    left: 0;
    right: 0;
    margin: 0;
    display: block;
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    margin-bottom: 40px;
    float: none; }

  #line-block section {
    padding-bottom: 40px;
    border-bottom: 1px solid #eee; }

  #line-block section.right {
    margin-bottom: 0;
    padding: 0;
    border: none; } }
/* ========================= 
HEIGHT QUERIES 
=========================== */
#sidebar ul svg {
  opacity: 0; }

@media only screen and (max-height: 720px) and (min-width: 640px) {
  #sidebar ul#more section {
    max-height: 0;
    overflow: hidden;
    visibility: hidden; }

  #sidebar ul#more section.appear {
    visibility: visible;
    max-height: 300px;
    margin-bottom: 40px; }

  #sidebar ul#more svg {
    opacity: 1; }

  #sidebar ul#more.flip svg {
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg); }

  #sidebar ul#more.flip svg path {
    fill: #fff; } }
@media only screen and (max-height: 620px) and (min-width: 640px) {
  #sidebar ul#docs section {
    max-height: 0;
    overflow: hidden;
    visibility: hidden; }

  #sidebar ul#docs {
    margin-bottom: 20px; }

  #sidebar ul#docs section.appear {
    visibility: visible;
    max-height: 300px;
    margin-bottom: 35px; }

  #sidebar ul#docs svg {
    opacity: 1; }

  #sidebar ul#docs.flip svg {
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg); }

  #sidebar ul#docs.flip svg path {
    fill: #fff; } }
@media only screen and (max-height: 540px) and (min-width: 640px) {
  #sidebar ul#examples section {
    max-height: 0;
    overflow: hidden;
    visibility: hidden; }

  #sidebar ul#examples {
    margin-bottom: 20px; }

  #sidebar ul#examples section.appear {
    visibility: visible;
    max-height: 300px;
    margin-bottom: 35px; }

  #sidebar ul#examples svg {
    opacity: 1; }

  #sidebar ul#examples.flip svg {
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg); }

  #sidebar ul#examples.flip svg path {
    fill: #fff; } }
