/* ==================================================== */
/* ================= Vertical SPACING (VSPACE) ================= */

/*40px between items, 70px between sections*/

p, #wrapper iframe{
	margin-bottom: 20px;
}

#features li{
	margin-bottom: 40px;
}

#wrapper ul  {
	margin-bottom: 20px;
}

table {
	margin:40px 0; 
}

table.last {
	margin-bottom: 60px;
}


/*Bitcoin*/
#bitcoin {
	display: block;
	margin-top: 20px;
}

footer.global a.coinbase-button {
	padding: 8px 12px;
	border: 1px solid #d6dbe3;
	border-radius: 5px;
	font-weight: 500;
	font-size: 11px;
	letter-spacing: 1px;
}


/*-----------------------*/

#features {
	/* Fix for list margin */
	margin-bottom: -40px;
}

#features li {
	float: left;
	max-width: 260px;
	list-style: none;
	line-height: 1.8;
	font-size: 16px;
	color: #888;
	min-height: 100px;
	-webkit-font-smoothing: antialiased;
	font-weight: 300;
}

#features li img {
	float: left; height: 24px; width: 24px;
	position: relative; 
	margin-right:15px;
}

#features li img.icon-flexible {
	top: 1px;
}

#features li img.icon-speed {
	top: 0px;
}

#features li p {
	margin-bottom: 0;
	margin-top: 0;
	
}

#features li:nth-child(even) {
	float: right;
}


#line-block {
	position: relative;
	margin-top: 70px;
	width: 100%;
	min-height: 300px;
	padding-bottom: 40px;
	margin-bottom: 40px;
	border-bottom: 1px solid #eee;
}

#line-block h3 {
	margin-bottom: 20px;
}

#line-block section {
	max-width: 180px;
	text-align: center;
}

#line-block section img {
	width: 114px;
	height: auto;
}

#line-block section {
	position: absolute; top: 0;
}

#line-block section.left {
	left: 0;
}

#line-block section.mid {
	left: 50%; margin-left: -90px;
}

#line-block section.right {
	right: 0;
}

#line-block section img {
	margin-bottom: 20px;
}

#line-block img.line-arrow {
	position: absolute;
	top: 50px;
	opacity: .5;
	width: 11px; height: 22px;
}

#line-block img.line-arrow.first {
	left: 32%;
}

#line-block img.line-arrow.second {
	right: 31%;
}

#line-block p {
	font-size: 15px; line-height: 1.6;
	opacity: .8;
}

@media only screen and (max-width: 900px) {

#line-block section {
	max-width: 160px;
}

#line-block section.mid {
	margin-left: -80px;
}

#line-block img.line-arrow.first {
	left: 160px;
}

#line-block img.line-arrow.second {
	right: 160px;
}

#line-block p {
	font-size: 14px;
}
}


@media only screen and (max-width: 640px) {
#features li {
	font-size: 15px;
	max-width: 240px;
}
}


@media only screen and (max-width: 580px) {
#features li {
	font-size: 13px;
	max-width: 180px;
}

table {
	border: none;
}

table td, td, th  {
	padding: 10px 0;
	background: transparent;	
}

table, thead th, th {
	font-size: 13px;
}

table.api td.group {
	font-size: 11px;
}

table .examples {
	display: none;
}

nav#index li a{
	font-weight: 400; -webkit-font-smoothing: subpixel-antialiased;
}

h1, h1.title {
	margin-bottom: 20px;
}

h1, #footer h1 {
	font-size: 36px;
}

h2.headline {
	font-size: 17px; line-height: 1.6; font-weight: 400;
	margin-bottom: 40px; -webkit-font-smoothing: antialiased;
}

#line-block section {
	position: relative;
	display: inline-block;
	float: left;
}

#line-block section.right {
	display: none;
}

#line-block section.mid {
	margin: 0; left: 0;
	float: right;
}

#line-block section {
	max-width: 44%; 
	min-width: 172px;
}

#line-block p {
	font-size: 15px;
}

#line-block img.line-arrow.second {
	display: none;
}

#line-block img.line-arrow.first {
	left: 50%;
}
}

/* ========================= 
HEIGHT QUERIES 
=========================== */

#sidebar ul svg { 
opacity: 0;
}


@media only screen and (max-height: 720px) and (min-width: 640px) {
#sidebar ul#more section {
	max-height: 0; overflow: hidden; visibility: hidden; 
}

#sidebar ul#more section.appear {
	visibility: visible; max-height: 300px; margin-bottom: 40px;
}

#sidebar ul#more svg { opacity: 1; }
#sidebar ul#more.flip svg { 
-moz-transform: rotate(180deg);
-webkit-transform: rotate(180deg);
-o-transform: rotate(180deg);
-ms-transform: rotate(180deg);
transform: rotate(180deg);
}

#sidebar ul#more.flip svg path { fill: #fff; }
}

@media only screen and (max-height: 620px) and (min-width: 640px) {
#sidebar ul#docs section {
	max-height: 0; overflow: hidden; visibility: hidden;
}

#sidebar ul#docs { margin-bottom: 20px; }

#sidebar ul#docs section.appear {
	visibility: visible; max-height: 300px;  margin-bottom: 35px;
}

#sidebar ul#docs svg { opacity: 1; }
#sidebar ul#docs.flip svg { -moz-transform: rotate(180deg);
-webkit-transform: rotate(180deg);
-o-transform: rotate(180deg);
-ms-transform: rotate(180deg);
transform: rotate(180deg);
}

#sidebar ul#docs.flip svg path { fill: #fff; }
}

@media only screen and (max-height: 540px) and (min-width: 640px) {
#sidebar ul#examples section {
	max-height: 0; overflow: hidden; visibility: hidden;
}

#sidebar ul#examples { margin-bottom: 20px; }

#sidebar ul#examples section.appear {
	visibility: visible; max-height: 300px; margin-bottom: 35px;
}

#sidebar ul#examples svg { opacity: 1; }
#sidebar ul#examples.flip svg { -moz-transform: rotate(180deg);
-webkit-transform: rotate(180deg);
-o-transform: rotate(180deg);
-ms-transform: rotate(180deg);
transform: rotate(180deg);
}
#sidebar ul#examples.flip svg path { fill: #fff; }
}







