/* ================= Post elements ================= */

table {
	width:100%;
	border-collapse: separate;
	font-size:14px;
	line-height:1.6;
	border: 1px solid #eee;
	border-radius: 6px;
	overflow: hidden;
	font-weight: 500;
}

table td, td {
	border-spacing:none; border-style:solid;
	padding:10px 15px; color: #999;
	position: relative;
}

tr>td {
	border-top:1px solid #eee;
}


/*Not sure if this is cleanest possible solution..*/
td:after {
	content: ""; display: inline-block;
	width: 140%; height: 1px; 
	background: #eee; position: absolute; top: -1px; right: -200px;
}

thead th, th {
	text-align:left;
	padding:12px 15px 9px;
	font-size:14px; font-weight:400;
	color:#bbb; cursor:default; white-space:nowrap;
	line-height: 1.2; 
	border-radius: 6px 6px 0 0; 
}

table .dim {
	color: #999;
}

table.api td:first-child {
	color: #666; font-size: 13px;
	font-family: 'Menlo', 'Monaco', Courier, monospace;
}

table.compatibility td:first-child {
	color: #666;
}

table.api td.group, table.compatibility td.group {
	font-weight: normal; font-weight: 500;
	text-transform: uppercase;
	font-size: 12px; padding-top: 14px;
	color: #2;
	letter-spacing: 1px;
	line-height: 2; color: #333;
}

th.examples {
	position: absolute; right: 42px; 
}

td.examples {
	width: auto;
	text-align: right;
	white-space: nowrap;
}

td a+a:before {
	content: "\b7"; display: inline-block; margin-right: 4px; font-weight: 500; opacity: .5;
}

#wrapper table ul {
	margin-top: 20px;
}

#wrapper table ul li {
	font-size: 13px; line-height: 1.6;
	padding-left: 10px;
}