pre {
    background: #282C33; /* base03 */
    word-wrap: break-word;
    margin: 0px;
    padding: 20px;
    color: #fff; /* base0 */
    font-size: 13px;
    line-height: 1.4em;
    margin-bottom: 20px;
    border-radius: 6px;
    font-weight: normal;
}

pre, code {
    font-family: 'Menlo', 'Monaco', Courier, monospace; 
}

code.inline {
	font-size: 14px;
	color: #333;font-family: 'Menlo', 'Monaco', Courier, monospace;
	border-bottom: 1px dotted #ddd;
	padding-bottom: 2px;
}

#code-block pre {
	border-radius: 0 0 6px 6px;
	font-size: 12px; line-height: 1.5;
	margin-bottom: 40px;
}

pre .comment {
    color: #84D1FF; /* base01 */
}

pre .constant{
    color: #839496; /* All numbers */  
}

pre .constant.numeric { /* --- Numbers, pinkish --- */
	color: #ff996c;
}
pre .constant.language {
    color: #fcfcfc; /* Javascript, so the ".on" in imageLayer.on */
}

pre .string, pre .comment.docstring {
    color: #acf351; /* --- Green, the "spring" and other things between hashes --- */
}

pre .keyword, pre .selector {
    color: #84D1FF; /* the "new" in new Layer */
}

/*LINES*/
pre code.rainbow .line:before {
	font-size: 10px;
	color: #939599;
	padding-top:1px;
	margin-right: 15px;
}
