/******************************************************/
/* FONTS */

@font-face {
	font-family: Aleo;
	src: 
		url("/static/fonts/Aleo/Aleo-Regular.otf") 
		format("opentype");
}


/******************************************************/
/* BASICS */

body {
	font: 16px/24px "Open Sans", sans-serif;
	color: #878b93;
	background-color: #eff1f4;
	-webkit-font-smoothing: antialiased;
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

h1, h2, h3 {font-weight: bold; font-family: Aleo, serif; color: #26292d;}

h1 {font-size: 22px; margin-bottom: 22px;}
h2 {font-size: 16px; margin-bottom: 16px;}
/*h3 {font-size: 22px}*/

p {margin-bottom: 16px;}

a {color: #878b93; text-decoration: none}
a:hover {cursor: pointer; text-decoration: underline}

.clear {clear:both}

/******************************************************/
/* GLOBAL */


#overlay {
	top: 0px;
	width: 1224px;
	height: 1700px;
	position: fixed;
	background-image:url('/static/img/overlay.png');
	opacity: .3;
	z-index: 1001;
}

#content {
	width:960px;
	margin: auto;
}

table 		{width:100%; margin-bottom:30px; border-collapse: collapse; font-size:13px; line-height:1.5em; border-width:1px 1px 0 1px; border-color:#dadadc; border-style:solid;}
th, td 		{text-align: left; padding-right:20px; vertical-align:top;}
th 			{border-bottom:1px solid black;}
td 			{border-bottom:1px solid #C8C8C8; border-spacing:none;}

table td {border-color:#dadadc; border-style:solid; padding:1em 15px; border-width:0 0 1px 0;}
thead th, th {
	text-align:left;
	padding:2px 15px;
	height:20px;
	font-size:11px;
	color:#696c72;
	font-weight:normal;
	border-bottom:1px solid #dadadc;
	cursor:default;
 	white-space:nowrap;
	background-color:#fafafa;}
	
	
span.code	{font-family:Menlo, Monaco, Courier; background-color:#EEE; font-size:14px;}
pre			{font-family:Menlo, Monaco, Courier; white-space:pre-wrap; border: 1px solid #d0d4da; padding:10px; margin-bottom:3em; background-color:#fdfdfd; font-size:14px;  overflow:auto;}



/******************************************************/
/* INTRO PAGE */


#intro {
	position:relative;
	width: 600px;
	height: 800px;
	float: left;
	top: 64px;
	color: #83868c;
}

#intro .logo {
	font-weight:normal;
	font-size: 18px;
	margin-bottom: 30px;
	color: #26292d;
}

#intro h1 {
	font-weight:normal;
	font-size: 30px;
	line-height: 44px;
	margin-right: 40px;
	margin-bottom: 44px;
	color: #26292d;
}

#intro p {
	font-size: 18px;
	line-height: 28px;
	margin-right: 100px;
	margin-bottom: 50px;
}

#intro li {
	width: 240px;
	margin-right: 40px;
	margin-bottom: 34px;
	float: left;
}

#intro img {
	float: left;
	margin-top: 2px;
	margin-right: 10px;
}

#intro h3 {
	font-size: 22px;
	line-height: 34px;
	color: #26292d;
	font-weight: normal;
	margin-bottom: 4px;
}

#intro .button {
	-webkit-user-select: none;
	display: inline-block;
	float: left;
}

#intro .button a {
	margin-top: 34px;
	width: 240px;
	height: 44px;
	display: inline-block;
	border-radius: 40px;
	background-image: -o-linear-gradient(-90deg, #86A9E6 0%, #4869A4 100%);
	background-image: -moz-linear-gradient(-90deg, #86A9E6 0%, #4869A4 100%);
	background-image: -webkit-linear-gradient(-90deg, #86A9E6 0%, #4869A4 100%);
	background-image: -ms-linear-gradient(-90deg, #86A9E6 0%, #4869A4 100%);
	background-image: linear-gradient(-180deg, #86A9E6 0%, #4869A4 100%);
	border: 1px solid #4A6BA6;
	-moz-box-shadow:    0px 1px 2px 0px rgba(0,0,0,0.20), inset 0px 1px 1px 0px #B3CEFF;
	-webkit-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.20), inset 0px 1px 1px 0px #B3CEFF;
	box-shadow:         0px 1px 2px 0px rgba(0,0,0,0.20), inset 0px 1px 1px 0px #B3CEFF;
	font-weight: 600;
	font-size: 16px;
	color: #FFFFFF;
	line-height: 40px;
	text-shadow: 0px 1px 1px rgba(0,0,0,0.30);
	text-align: center;
}

#intro .button a:hover {
	text-decoration: none;
	border-radius: 40px;
	background-image: -o-linear-gradient(-90deg, #7699D5 0%, #4869A4 100%);
	background-image: -moz-linear-gradient(-90deg, #7699D5 0%, #4869A4 100%);
	background-image: -webkit-linear-gradient(-90deg, #7699D5 0%, #4869A4 100%);
	background-image: -ms-linear-gradient(-90deg, #7699D5 0%, #4869A4 100%);
	background-image: linear-gradient(-180deg, #7699D5 0%, #4869A4 100%);
	border: 1px solid #4A6BA6;
	-moz-box-shadow:    0px 1px 2px 0px rgba(0,0,0,0.20), inset 0px 1px 1px 0px rgba(178,206,255,0.50);
	-webkit-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.20), inset 0px 1px 1px 0px rgba(178,206,255,0.50);
	box-shadow:         0px 1px 2px 0px rgba(0,0,0,0.20), inset 0px 1px 1px 0px rgba(178,206,255,0.50);
}

#intro .button a:active {
	border-radius: 40px;
	background-image: -o-linear-gradient(-90deg, #5B7DB9 0%, #6C8ECA 100%);
	background-image: -moz-linear-gradient(-90deg, #5B7DB9 0%, #6C8ECA 100%);
	background-image: -webkit-linear-gradient(-90deg, #5B7DB9 0%, #6C8ECA 100%);
	background-image: -ms-linear-gradient(-90deg, #5B7DB9 0%, #6C8ECA 100%);
	background-image: linear-gradient(-180deg, #5B7DB9 0%, #6C8ECA 100%);
	border: 1px solid #4A6BA6;
	-moz-box-shadow:    0px 1px 2px 0px rgba(0,0,0,0.20), inset 0px 1px 1px 0px rgba(178,206,255,0.40);
	-webkit-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.20), inset 0px 1px 1px 0px rgba(178,206,255,0.40);
	box-shadow:         0px 1px 2px 0px rgba(0,0,0,0.20), inset 0px 1px 1px 0px rgba(178,206,255,0.40);
}

#intro .button .shadow {
	width: 210px;
	height: 14px;
	position: relative;
	top:-15px;
	left:15px;	
	z-index: -1;
	border-radius: 40px;
	background: rgba(0,0,0,0.60);
	-moz-box-shadow:    0px 2px 8px 0px rgba(0,0,0,0.50);
	-webkit-box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.50);
	box-shadow:         0px 2px 8px 0px rgba(0,0,0,0.50);
}

#intro .source p {
	display: inline-block;
	border-top: 1px solid #d9dcdf;
	border-bottom: 1px solid #d9dcdf;
	margin: 0px;
	margin-top: 34px;
	margin-left: 40px;
	width: 240px;
	height: 44px;
	font-weight: 600;
	font-size: 14px;
	text-align: center;
	line-height: 41px;
}

#phone {
	position:relative; 
	width:400px; 
	height:800px;
	background-image:url('/static/img/Resources/iPhone.png');
	left: 575px;
	top: 20px;
}

#screen {
	position:absolute;
	width: 320px; 
	height: 568px;
	left: 40px;
	top: 113px;
	background-color: #000;
}


/******************************************************/
/* SUBPAGE */

#subpage {
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 240px;
	background-color: #fff;
	width: 720px;
	border-radius: 6px;
	-moz-box-shadow:    0px 0px 5px 0px rgba(0,0,0,0.15);
	-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.15);
	box-shadow:         0px 0px 5px 0px rgba(0,0,0,0.15);
}


#main {
	padding: 50px;
}

#submenu {
	position: fixed;
	top: 60px;
	left: 0;
	bottom: 0;
	width: 240px;
	height: 100%;
	overflow: scroll;
	left: 50%;
	margin-left: -480px; /* Half of the width */
}

@media (max-width: 960px) {
	#submenu {
		left: 0px;
		margin-left: 0px;
	}
}

#submenu .item {
	padding: 14px 22px;
	font-size: 16px;
	border-bottom: 1px solid #eaecef;
}

#submenu a {
	color: #26292d;
}

#submenu ul a {
	color: #878b93;
}

#submenu ul {
	margin-top: 4px;
	font-size: 14px;
}



#main {
	position: relative;
	width: 720px;
	height: 100%;
}

/******************************************************/
/* SITEMAP */

#sitemap {
	position: absolute;
	left: 0;
	right: 0;
	margin-top: 80px;
	padding: 40px 0;
	background-color: #222426;
}

#sitemap .wrapper {
	width: 960px;
	margin: 0 auto;
}

#sitemap .item {
	width: 160px;
	float: left;
}

#sitemap a {
	font-weight: 600;
	font-size: 14px;
	color: #fff;
}

#sitemap ul a {
	font-weight: 400;
	color: #878b93;
}

#sitemap ul {
	margin-top: 2px;
	font-size: 12px;
	line-height: 22px;
}

/******************************************************/
/* FOOTER */

/*#footer p {
	margin: 40px 0 20px 0;
	text-align: center;
	font-size: 12px;
	color: #B3B8C0;
}
*/