body {
	background-color: #101216
}
#sidebar {
	border-right: 1px solid #28292D;
}
#topbar{
	border-bottom:1px solid #28292D;
}

img {
	max-width: 100%;
}

hr {
	border-bottom-color: #25272A;
	margin: 80px auto;
}


/* TYPOGRAPHY ------------------------------- */
p {
	font-size: 17px; font-weight: 100;
	color: rgba(255,255,255,0.5);
	line-height: 1.7;
}

p.title {
	color: #fff;
	font-size: 20px;
	line-height: 1.5;
}

h2 {
	font-size: 29px; font-weight: 100;
	margin-bottom: 20px;  -webkit-font-smoothing: subpixel-antialiased;
	color: #FFFFFF;
	letter-spacing: 0;
}

h2.center {
	margin-bottom: 20px;
}

h3 {
	font-size: 20px; font-weight: 100;
	margin-bottom: 20px;
	-webkit-font-smoothing: subpixel-antialiased;
	color: #FFFFFF;
	padding-left: 40px
}

/* QUOTES -------------------------*/

h5 {
	text-align: center;
	font-size: 26px;
	font-weight: 100;
	line-height: 1.4;
}

h5 span {
	font-style: italic;
}


/* HEADER ------------------------------- */

#header h1 {
	font-size: 40px;
	line-height: 1.2;
	color: #FFF;
	font-weight: 100;
	-webkit-font-smoothing: subpixel-antialiased;
	margin: 50px 0;
}
#header img {
	margin-top: 0px
}
#header a.grey {
	background-color: #101216;
	box-shadow: inset 0 0 0 2px #28292D;
}
#header a {
	color:#FFF; background-color: #4DB4EC;
	box-shadow: inset 0 0 0 2px #4DB4EC; border-radius: 200px;
	padding:12px 16px 12px; margin:0 6px;
	font-weight: 400;
}
#header a.small {
	color:#34373A;
}

/* SCREENSHOT -------------------------*/

#screenshot {
	margin-top:120px;
}
#screenshot li {
	width:280px;
	list-style: none;
	float:left;
}
#screenshot li:first-child {margin-right: 40px}

#screenshot li img {
	float:left; position: relative; top: -6px;
}

#screenshot img.screenshot {
	margin-top:40px;
	margin-bottom: 80px;
}


/* BODY SECTIONS -------------------------*/

.half section {
	max-width: 280px;
	float: left;
}

.half .right {
	float: right;
}

#start .right img {
	position: relative; top: 20px;
}

/* FEATURE LISTS -------------------------*/

.features {
	float: left;
	margin-top: 40px;
}

#start .features li {
	list-style: none;
	color: #fff;
	float: left; position: static; padding: 0;
	min-width: 280px;
}

/*Align list items on the right to the grid*/
#start .features li:nth-child(2), #start .features li:nth-child(4) {
	margin-left: 40px;
}

.features img {
	position: relative; top: 2px;
	margin-right: 10px;
	display: inline-block;
}


/* INTERACTION SECTION -------------------------*/


#interaction h5 {
	margin-bottom: 80px;
}

/* FOOTER ------------------------------ */

footer.global {
	border-top:1px solid #28292D;
}
footer.global p, footer.global a {
	color:#34373A;
}
footer.global a.coinbase-button {
	border:1px solid #28292D;
}




















