/*=========================================
Reset
=========================================== */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0} 
*, *:before, *:after { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.group:before,.group:before,.group:after { content: ""; display: table;} 
.group:after { clear: both;}
.group { zoom: 1;}

body {
	font:17px/1 "colfax-web", "Helvetica Neue",Helvetica,Arial,sans-serif;
	text-rendering:optimizeLegibility;
	height: 100%; color:#666;
	overflow-x: hidden;
	padding-left: 260px; 
}

p {
	line-height:1.75;
}

strong {
	font-weight: 500;
	color: #444;
}

a {
	text-decoration:none;
	color:#5badf0;
	font-weight: 500;
}

a:hover {
	opacity: .8;
}

a:active {
	opacity: 1;
}

#wrapper {
	width: 100%; height: 100%;
	max-width: 680px;
	position: relative;
	margin:0 auto;
	padding: 100px 40px;
}

/* ================= Sidebar ================= */

#sidebar {
	position: fixed;
	top: 0; left: 0; bottom: 0; z-index: 20;
	width: 260px; height: 100%;
	background: #1E2229;
	padding: 60px;
	overflow-y: auto;
}

#sidebar ul {
	list-style: none;
}

#sidebar ul+ul {
	margin-top: 50px;
}

#sidebar ul li+li {
	margin-top: 12px;
}

#sidebar ul li a {
	color: #fff;
	font-weight: 300;
	font-size: 14px;
}

#sidebar ul li a:hover {
	color: rgba(255,255,255,0.5); opacity: 1;
}

#sidebar ul li a:active {
	color: #fff;
}

#sidebar ul li.headline {
	color: #84D1FF;
	font-weight: 500;
	text-transform: uppercase;
	font-size: 14px;
	margin-bottom: 15px;
	position: relative; left: -12px;
	font-style: italic;
}

#sidebar ul li.headline.green {
	color: #acf351;
}

#topbar {
	display: none;
}

/* ================= Helpers ================= */

.center {
	text-align: center;
	margin: 0 auto;
}

a[name] {
	position: relative; top: -30px;
	display: block;
}
/* ================= Customs scrollbar ================= */

::-webkit-scrollbar {
	background: rgba(255,255,255,.1);
	box-shadow: inset 1px 0 0 rgba(255,255,255,.1);
	width: 6px;
}
 
::-webkit-scrollbar-track {
}
 
::-webkit-scrollbar-thumb {
	background: rgba(255,255,255,.4);
	box-shadow: inset 0 0 0 1px rgba(255,255,255,0.1);
	border-radius: 6px;
}

/* ================= Post elements ================= */

table {
	width:100%;
	border-collapse: separate;
	font-size:14px;
	line-height:1.5em;
	border: 1px solid #eee;
	border-radius: 6px;
}

table td,td {
	border-spacing:none;
	border-style:solid;
	padding:10px 15px;
	border-width:1px 0 0 0;
}

tr>td {
	border-top:1px solid #eee;
}

thead th,th {
	text-align:left;
	padding:10px 15px;
	font-size:13px; font-weight:500;
	color:#333; cursor:default; white-space:nowrap;
}

/* ================= Typography ================= */

img {
	display: inline-block;
}

.icon-and-headline {
	margin-bottom: 60px;
	width: 105%;
}

#icon {
	float: left;
	margin-right: 10px;
	margin-top: 4px;
	margin-left: -10px;
}

#icon img {
	width: 80%;
}
/* Fonts to be smoothed */
h1, h2 strong, h3, strong, .headline {
	-webkit-font-smoothing:antialiased;
}

h1 {
	font-size: 40px; line-height: 1.4;
	font-weight: 300;
	color: #222; letter-spacing: -1px;
}

h2 {
	font-size: 22px; line-height: 1.7;
	font-weight: 300;
	color: #666;
	margin-bottom: 60px;
}

h3 {
	font-size: 26px; font-weight: 500;
	color: #222; margin-bottom: 30px;
}

h4 {
	font-size: 16px; font-weight: 500;
	color: #222; margin-bottom: 15px;
	text-transform: uppercase;
	letter-spacing: 1px;
}

#wrapper li {
	line-height: 1.8;
	font-size: 15px;
	color: #888;
	list-style-type: circle; 
	position: relative; left: 18px;
	padding-left: 15px;

}

#wrapper li+li {
	margin-top: 8px;
}


/* ================= Content ================= */

ul#features li {
	float: left;
	max-width: 260px;
	list-style: none;
	padding-left: 0;
}

ul#features li:before { display: none; }

ul#features li:nth-child(even) {
	float: right;
}

/* ==================================================== */
/* ================= Vertical SPACING ================= */

p, iframe {
	margin-bottom: 20px;
}

ul#features li:nth-child(1), ul#features li:nth-child(2){
	margin-bottom: 40px;
}

#wrapper ul  {
	margin-bottom: 20px;
}

hr {
	border: none;  width: 100%;
	border-bottom: 1px dotted #ddd;
	display: block; margin: 60px auto;
}

table {
	margin:40px 0; 
}

table.last {
	margin-bottom: 60px;
}

/* ==================================================== */
/* ==================================================== */
/* ==================================================== */


@media only screen and (min-width: 1400px) {
body {
	padding-left: 300px;
}

#sidebar {
	width: 300px;
	padding: 70px;
}
}

@media only screen and (max-width: 1100px) {
body {
	padding-left: 240px;
}

#sidebar {
	width: 240px;
}

#wrapper {
	max-width: 640px;
}

}

@media only screen and (max-width: 980px) {
body {
	padding-left: 220px;
}

#sidebar {
	width: 220px;
	padding: 50px;
}

#wrapper {
	max-width: 600px;
	padding: 80px 60px;
}

ul#features li {
	max-width: 240px;
}
}

@media only screen and (max-width: 860px) {
body {
	padding-left: 200px;
}

#sidebar {
	width: 200px;
	padding: 40px;
}

#wrapper {
	padding: 80px 60px;
}

ul#features li {
	max-width: 240px;
}

h1 {
	font-size: 36px;
}

/* Vertical Spacing */
hr {
	margin: 40px auto;
}
}

/* ================= Mobile (Navigation)  ================= */
@media only screen and (max-width: 760px) {
body {
	padding-left: 0;
}

#sidebar {
	width: 100%;
	padding: 0;
	position: relative; opacity: 0;
	max-height: 0; overflow: hidden;
}

#sidebar nav {
	padding: 40px;
	position: relative;
	top: -60px;
	-webkit-transition: top 0.3s ease, opacity 0.3s ease;
	-moz-transition: top 0.3s ease, opacity 0.3s ease;
	-ms-transition: top 0.3s ease, opacity 0.3s ease;
	-o-transition: top 0.3s ease, opacity 0.3s ease;
	transition: top 0.3s ease, opacity 0.3s ease;
	opacity: 0;
}

#sidebar.appear {
	opacity: 1; visibility: visible;
	max-height: 2000px; 
	-webkit-transition: max-height 1s ease;
	-moz-transition: max-height 1s ease;
	-ms-transition: max-height 1s ease;
	-o-transition: max-height 1s ease;
	transition: max-height 1s ease;
}

#sidebar.appear nav {
	top: 0; opacity: 1;
}

#topbar {
	display: block; height: 50px; width: 100%;
	background: #14181d;
	position: relative; top: 0; z-index: 30; left: 0;
	padding: 18px;
}

#topbar img {
	position: absolute; top: 10px; right: 10px;
	height: 32px; width: 32px;
	cursor: hand; cursor: pointer;
}

#topbar h1 {
	color: #fff;
	font-size: 16px; font-weight: 500;
	display: inline-block;
}

#wrapper {
	max-width: 580px;
	padding: 60px;
}

ul#features li {
	max-width: 240px;
}
}

@media only screen and (max-width: 580px) {
ul#features li {
	max-width: 100%;
	margin-bottom: 40px;
}
}

@media only screen and (max-width: 440px) {
#wrapper {
	padding:20px;
	padding-top: 40px;
}

h1 {
	font-size: 26px; font-weight: 400;
}

h2 {
	font-size: 19px;
}
}

