@import "fonts.css";

/*Colors*/
$blue: #4DB4EC;
$green: #7ED321;

img {
	max-width: 100%;
}

hr {
	margin: 60px auto;
}

/* TYPOGRAPHY ------------------------------- */
p {
	font-size: 18px; 
	line-height: 1.7; color:#777;
}

p.title {
	font-size: 20px;
	line-height: 1.5;
}

h2 {
	font-size: 24px; font-weight: 300;
	margin-bottom: 20px;  line-height: 1.2;
	font-weight: 200;
}

h3 {
	font-size: 26px;
	font-weight: 300;
	margin-bottom: 20px;  
	letter-spacing: 0px;
	color: #333;
}

/*Big h2*/
.feature-block h2 {
	text-align: center; letter-spacing: -1px;
	font-size: 50px; line-height: 1.1;
	font-weight: 100;
	margin-bottom: 10px;
}


#interaction h2 {
	color: #fff;
}

h4 {
	color: #888; text-transform: none; letter-spacing: 0; 
	text-align: center; display: block;
	font-size: 26px; font-weight: 100; line-height: 1.35; 
	font-weight: 200;
}
/*Feature Blocks H4 / Headlines */
#wrapper.index .feature-block h4 {
	margin-bottom: 0;
}


/* QUOTES -------------------------*/
.quote {
	position: relative;
	text-align: center;
	z-index: 10;
	display: block; width: 100%;
	background: #fcfcfc; box-shadow: inset 0 1px 0 rgba(0,0,0,0.06), inset 0 -1px 0 rgba(0,0,0,0.06);
	padding: 60px 0 58px;
	margin: 60px auto;
}

h5 {
	text-align: center;
	font-weight:300; font-style: italic;
	line-height: 1.4;
	font-size: 30px; 
	max-width: 600px; margin: 0 auto;
	color: #888; 
	-moz-font-feature-settings:"salt" 1, "ss01" 1; 
	-moz-font-feature-settings:"salt=1, ss01=1"; 
	-ms-font-feature-settings:"salt" 1, "ss01" 1; 
	-o-font-feature-settings:"salt" 1, "ss01" 1; 
	-webkit-font-feature-settings:"salt" 1, "ss01" 1; 
	font-feature-settings:"salt" 1, "ss01" 1;
}

.quote.bottom h5 {
	font-weight: 200; 
}

p.author {
	margin-top: 20px;
	color: #bec5c9;
	text-shadow: 0 1px 0 #fff;
	margin-bottom: 0;
}

/* HEADER ------------------------------- */

#illustration {
	max-height: 360px; 
	width: 100%; height: 100%;
	text-align: center; padding: 20px;
	position: relative;
	/* Rectangle 294: */
	background: #A1E9FF;
	background-image: -o-linear-gradient(0deg, #FFFFFF 0%, #7FD1E6 100%);
	background-image: -moz-linear-gradient(0deg, #FFFFFF 0%, #7FD1E6 100%);
	background-image: -ms-linear-gradient(0deg, #FFFFFF 0%, #7FD1E6 100%);
	background-image: linear-gradient(0deg, #FFFFFF 0%, #7FD1E6 100%);
	z-index: 2;
	
}

#illustration:after {
	content: ""; display: block; height: 100%; width: 100%; position: absolute;
	background: -moz-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,0)));
	background: -webkit-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
	background: -o-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
	background: -ms-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
	background: radial-gradient(ellipse at center,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 70%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 );
	z-index: -1; left: 0;
	bottom: -120px;
	
}

img.blueprint {
	display: block;
	margin: 0 auto;
	margin-top: 40px;
	max-width: 600px; width: 100%;
}

img.app-icon {
	bottom: 0; max-width: 256px;
	position: absolute; left: 50%; margin-left: -128px;
	bottom: -10px; z-index: 300;
}

#header h1 {
	letter-spacing: -3px;
	font-weight: 100;
	margin: 0px 0 20px 0;
	font-size: 68px; line-height: 1;
	color: #333;
}

#header h1 span {
	-moz-font-feature-settings:"salt" 1, "ss01" 1; 
	-moz-font-feature-settings:"salt=1, ss01=1"; 
	-ms-font-feature-settings:"salt" 1, "ss01" 1; 
	-o-font-feature-settings:"salt" 1, "ss01" 1; 
	-webkit-font-feature-settings:"salt" 1, "ss01" 1; 
	font-feature-settings:"salt" 1, "ss01" 1;
}

#header h2{
	font-weight: 200;
	color: #888; line-height: 1.4;
	font-size: 26px; letter-spacing: -0px;
	max-width: 470px; margin: 0 auto;
	margin-bottom: 40px; 
}

#footer h2 span {
	color: #333;
}

#header a, #footer a {
	padding:14px 10px 11px; position: relative; 
	border-radius: 50px; background: #fff; box-shadow: none;
	color: #fff; background:$blue;
	text-transform: none; letter-spacing: 0; 
	margin-bottom: 20px;
	font-size: 16px; line-height: 1;
	font-weight: 500;
}

#header a.green, #footer a.green {
	color: #fff; background:$green; 
	margin-bottom: 0;
	margin-right: 10px;
	box-shadow: none;
}

#header a.green:hover { color: #fff; box-shadow: none; }
#header a:hover:after { color: #4DB4EC; }
#header a.green:hover:after { color: #7DDC16; }


#header a:after {
	content: "$49.99"; left: 0; width: 100%;
	position: absolute; top: 50px; text-align: center;
	font-size: 12px; text-transform: uppercase; letter-spacing: 2px;
	font-weight: 400;
	color: $blue;
}

#header a.green:after {
	content: "Trial"; 
	color: $green;
}


/* SCREENSHOT -------------------------*/

#screenshot-copy {
	text-align: center;
}

#screenshot-copy h2 {
	font-weight: 200;
	font-size: 40px;
	margin: 0;
}

#screenshot-copy li p {
	display: block; color: #999;
	margin-top: 20px; margin-bottom: 0;
	font-size: 23px; line-height: 1.5;
	letter-spacing: 0; font-weight: 200;
}

#screenshot-copy li {
	max-width:280px;
	list-style: none;
	float:left;
}

#screenshot-copy li:first-child:before {
  content: "";
  background: url("/static/images/fs/ss-indicator.png");
  background-size: cover;
  width: 7px;
  margin: 0 auto;
  margin-top: -85px;
  height: 85px;
  top: -37px;
  display: block;
  position: relative;
  z-index: 100; 
 }

#screenshot-copy li:last-child:before {
  content: "";
  background: url("/static/images/fs/ss-indicator.png");
  width: 7px;
  margin: 0 auto;
  background-size: cover;
  margin-top: -85px;
  height: 85px;
  top: -37px;
  display: block;
  position: relative;
  z-index: 100; 
 }

section.mobile {
	display: none;
}

#screenshot-copy li:first-child { margin-right: 40px }

/*Retina*/
@media (-webkit-min-device-pixel-ratio: 1.5) {
	#screenshot-copy li:first-child:after, #screenshot-copy li:last-child:after {
		background: url('/static/images/fs/ss-indicator@2x.png') no-repeat;
		background-size: cover;
	}
}

#screenshot {
	text-align: center;
	background: #15181d url('/static/images/fs/bg-mavericks.png') no-repeat;
	background-size: cover;
	width: 100%; max-height: 580px;
	margin: 60px 0;
	height: 100%;
	position: relative;
}

#screenshot-copy p {
	font-size: 19px;
	color: #999;
}

img.studio {
	position: relative; margin: 40px 0 0px 0; max-width: 688px; width: 100%;
}

/* BODY SECTIONS -------------------------*/

/* Two Columns */
.half section {
	max-width: 280px; width: 100%;
	float: left;
}

.half .right {
	float: right;
}

.half .right p {
	margin-bottom: 0;
}

/* Three Columns */
.one-third section {
	max-width: 180px; float: left;  width: 100%;
}

.one-third section+section {
	margin-left: 30px;
}

#start img {
	position: relative; top: 10px;
}

#framer ul {
	margin-top: 0px;
	float: left;
}

#framer ul section {
	float: none;
	max-width: 100%;
	margin-top: 20px;
}

#framer ul section {
	max-width: 280px;
	width: 100%;
	float: left;
}

#framer p a {
	color: #333;
	font-weight: 400;
}

#framer ul section li {
	color: #4DB4EC; line-height: 1.8;
	padding-left: 0;
	font-size: 16px;
	font-weight: 400;
	list-style: none; left: 0; 
}

#framer section.right {
	text-align: center;
	
}

#used-by {
	margin: 0;
	margin-top: 40px;
}

#used-by p.small {
	color: #BEC5D0;
}


/* INTERACTION SECTION -------------------------*/

#interaction {
	background: rgb(21,24,29);
	background: -moz-linear-gradient(left,  rgba(21,24,29,1) 10%, rgba(44,51,61,1) 100%);
	background: -webkit-gradient(linear, left top, right top, color-stop(10%,rgba(21,24,29,1)), color-stop(100%,rgba(44,51,61,1)));
	background: -webkit-linear-gradient(left,  rgba(21,24,29,1) 10%,rgba(44,51,61,1) 100%);
	background: -o-linear-gradient(left,  rgba(21,24,29,1) 10%,rgba(44,51,61,1) 100%);
	background: -ms-linear-gradient(left,  rgba(21,24,29,1) 10%,rgba(44,51,61,1) 100%);
	background: linear-gradient(to right,  rgba(21,24,29,1) 10%,rgba(44,51,61,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#15181d', endColorstr='#2c333d',GradientType=1 );
	box-shadow: inset 1px 0 0 rgba(255,255,255,.1);
	padding: 65px 0;
	margin: 60px 0 0 0;
	position: relative;
	
}

#interaction hr {
	opacity: .1;
}

#interaction p {
	font-weight: 300;
	color: rgba(255,255,255,.6);
	color: #727989;
}

#interaction h4 {
	color: #fff; color: #9095A1;
}

#interaction .ss-half {
	background: url('/static/images/fs/ss-code.png') no-repeat;
	position: absolute; right: -360px; width: 620px; height: 649px;
	top: -10px;
}

/*Retina*/
@media (-webkit-min-device-pixel-ratio: 1.5) {
	#interaction .ss-half {
		background: url('/static/images/fs/ss-code@2x.png') no-repeat;
		background-size: cover;
	}
}

#interaction section p.title {
	color: #fff;
	font-weight: 300;
}

/* INTERACTION & VIEWER SECTION ------------------------------ */
.feature-block {
	overflow: hidden;
}

.feature-list {
	position: relative; left: -40px;
}

#viewer .feature-list {
	position: relative; left: auto; right: -40px;
}

.feature-block section li {
	list-style: none;
	font-size: 15px;
}

.feature-block section li+li {
	margin-top: 40px;
}

.feature-block p {
	font-size: 18px;
	line-height: 1.6;
}

.feature-block p.title {
	font-size: 18px;
	margin-bottom: 5px;
}

.feature-block section li img {
	float: left; position: relative; top: 3px;
	margin-right: 14px;
}

#interaction section li:nth-child(1) img { top: 3px; }
#interaction section li:nth-child(2) img { top: 5px; }
#interaction section li:nth-child(3) img { top: 2px; }
#viewer section li:nth-child(3) img { top: 2px; }
#viewer section li:nth-child(4) img { top: 1px; }


.feature-list {
	position: relative;
}

#viewer {
	padding: 65px 0 60px 0;
	position: relative;
	overflow: visible;
}

#viewer h2 {
	color: #111;
}

#viewer section p.title {
	color: #222;
	font-weight: 400;
}


#viewer .ss-half {
	background: url('/static/images/fs/ss-viewer.png') no-repeat;
	position: absolute; left: -360px; width: 617px; height: 687px;
	top: -25px;
}

/*Retina*/
@media (-webkit-min-device-pixel-ratio: 1.5) {
	#viewer .ss-half {
		background: url('/static/images/fs/ss-viewer@2x.png') no-repeat;
		background-size: cover;
	}
}

/* FOOTER FEATURE LISTS ------------------------------ */

#footer-features section ul li{
	padding-left: 0; left: 0;
	list-style: none; font-size: 16px;
	font-weight: 400;
}

#footer-features h2{
	letter-spacing: 0;
	text-align: center;
	font-size: 30px;
	margin-bottom: 60px;
}

/* FOOTER  ------------------------------ */
#footer-features ul {
	margin-bottom: 80px;
}

#footer h2 {
	text-align: left;
	float: left;
	margin: 0;
	color: #333;
	font-size: 28px;
	line-height: 1.1;
	display: none;
}

#footer a {
	margin-bottom: 0;
}

#footer a.green {
	margin-right: 10px;
}

#footer a.green:hover {
	color: #fff; box-shadow: none;
}

@media only screen and (max-width: 1024px) {

#screenshot-copy p {
	font-size: 17px;
}

.inner {
	max-width: 680px;
}

}

@media only screen and (max-width: 900px) {

#header h1 {
	font-size: 64px;
}



.inner {
	max-width: 680px;
}

#screenshot-copy li {
	max-width: 260px;
}
}

/* MOBILE NAVIGATION ------------------- */
@media only screen and (max-width: 768px) {
.half section {
	width: 48%;
}

p {
	font-size: 16px;
}

h5 {
	font-size: 30px;
	max-width: 500px;
}

#screenshot-copy li {
	max-width: 48%;
}

#screenshot-copy li:first-child { margin-right: 2%; }
}

@media only screen and (max-width: 580px) {

#wrapper.index {
	padding: 40px 0;
}

img.app-icon {
	width: 180px;
	margin-left: -90px;
	bottom: -68px;
}

#header h1 {
	margin-top: 40px;
}
#header h2 {
	font-size: 22px;
}

.half section {
	max-width: 100%;
	float: none;
	text-align: center;
}

.half .right {
	float: none;
}

hr {
	margin: 40px auto;
}

#screenshot {
	margin-bottom: 40px;
}

h2 {
	font-size: 20px;
	margin-bottom: 10px;
}

p {
	margin-bottom: 0;
}

.feature-block, #start, #framer, h5, #footer-features, hr.block {
	display: none;
}

footer.global {
	padding-top: 40px; margin-top: 40px; margin-bottom: 0px;
}

#screenshot-copy li p {
	font-size: 15px;
}

}



@media only screen and (max-width:440px) {
#header h1, h2 {
	margin-top: 40px; 
	font-size: 30px; font-weight: 200; letter-spacing: -1px;
	margin-bottom: 15px;
}

#illustration {
	max-height: 215px;
	padding: 10px;
}

img.blueprint {
	margin-top: 0;
}

p {
	line-height: 1.5;
}

hr {
	display: none;
}

#header h2 {
	font-size: 17px; font-weight: 300;
}

img.app-icon {
	width: 140px;
	margin-left: -70px;
	bottom: -50px;
}

#screenshot-copy li:first-child:after, #screenshot-copy li:last-child:after  {
	display: none;
}

/*Flip the screenshot texts */
#screenshot-copy {
	display: none;
}

section.mobile {
	display: block;
	text-align: center;
	margin-bottom: 40px;
}

}










