@import "fonts.css";

/*=========================================
Reset
=========================================== */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0} 
*, *:before, *:after { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.clearfix:before,.clearfix:before,.clearfix:after { content: ""; display: table;} 
.clearfix:after { clear: both;}
.clearfix { zoom: 1;}

body {
	font:18px/1 "Fakt Blond", "Helvetica Neue",Helvetica,Arial,sans-serif;
	text-rendering:optimizeLegibility;
	height: 100%; color:#666;
	overflow-x: hidden;
	padding-left: 240px; -webkit-font-smoothing: antialiased;
}

p {
	line-height:1.75;
}

strong {
	font-weight: 500;
	color: #444;
}

a {
	text-decoration:none;
	color:#33b0f7;
	font-weight: 500;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-ms-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	transition: all 0.2s ease;
}

a:hover {
	opacity: .8;
}

a:active {
	opacity: 1;
}

#wrapper {
	width: 100%; height: 100%;
	max-width: 680px;
	position: relative;
	margin:0 auto;
	padding: 60px 40px;
}

.inner {
	width: 100%; height: 100%; 
	position: relative;
	max-width: 680px;
	margin:0 auto;
	padding: 0 40px;
}

#wrapper.index {
	padding: 60px 0;
	max-width: 100%;
}

/* ================= Sidebar ================= */

#sidebar {
	position: fixed;
	top: 0; left: 0; bottom: 0; z-index: 100;
	width: 240px; height: 100%;
	background: #101216;
	background: #15181d;
	padding: 60px;
	overflow-y: auto;
	font-family: "Fakt Normal", "Helvetica Neue",Helvetica,Arial,sans-serif;
}

#sidebar ul {
	list-style: none;
}

#sidebar nav {
	padding-bottom: 60px;
}

#sidebar ul {
	margin-bottom: 35px;
}

#sidebar ul li+li {
	margin-top: 5px;
}

#sidebar ul li a {
	color: #7C838D; color: #686f78;
	color: #636d80;
	font-weight: 400;
	font-size: 14px;
	position: relative;
}

#sidebar ul li svg {
	display: inline-block;
	margin-bottom: -4px;
	margin-left: 2px;
	/*To not move up any other nav items... */
	position: relative; top: -1px;
}

/* Fade other nav items */
#sidebar ul li a:hover {
	opacity: 1;
	color: #fff;
}

#sidebar ul li a.active {
	color: #fff; 
}

#sidebar ul li.headline, #sidebar ul li.headline a {
	color: #84D1FF; 
	font-size: 16px;
	margin-bottom: 10px;
}

#sidebar ul li.headline.is-active a{
	color: #fff;
}

#sidebar ul li.headline a:hover, #sidebar ul li.headline a:active {
	color: #fff;
	opacity: 1;
}

#sidebar ul li.headline a.active {
	color: #fff;
}

#sidebar ul li.headline a.active svg path { fill: #fff; }

#topbar {
	display: none;
}

/* ================= Helpers ================= */

.center {
	text-align: center;
	margin: 0 auto;
}

a[name] {
	position: relative; top: -60px;
	display: block;
}

/* ================= Customs scrollbar ================= */

::-webkit-scrollbar {
	background: rgba(255,255,255,1);
	box-shadow: inset 1px 0 0 rgba(255,255,255,.1);
	width: 0px;
}
 
::-webkit-scrollbar-track {
}
 
::-webkit-scrollbar-thumb {
	background: rgba(255,255,255,.4);
	background: rgba(0,0,0,.1);
	box-shadow: inset 0 0 0 2px rgba(255,255,255,1);
	border-radius: 6px;
}

/* ================= Post elements ================= */

table {
	width:100%;
	border-collapse: separate;
	font-size:14px;
	line-height:1.6;
	border: 1px solid #eee;
	border-radius: 6px;
	overflow: hidden;
}

table td, td {
	border-spacing:none; border-style:solid;
	padding:10px 15px; color: #999;
	position: relative;
}

tr>td {
	border-top:1px solid #eee;
}


/*Not sure if this is cleanest possible solution..*/
td:after {
	content: ""; display: inline-block;
	width: 140%; height: 1px; 
	background: #eee; position: absolute; top: -1px; right: -200px;
}

thead th, th {
	text-align:left;
	padding:10px 15px;
	font-size:13px; font-weight:400;
	color:#bbb; cursor:default; white-space:nowrap;
	line-height: 1.2; 
	border-radius: 6px 6px 0 0; 
}

table .dim {
	color: #999;
}

table.api td:first-child {
	color: #666; font-size: 12px;
	font-family: 'Monaco', Courier, monospace;
}

table.compatibility td:first-child {
	color: #666;
}

table.api td.group, table.compatibility td.group {
	font-weight: 500; font-family: "Colfax";
	text-transform: uppercase;
	font-size: 12px; padding-top: 14px;
	color: #2;
	letter-spacing: 1px;
	line-height: 2; color: #333;
}

th.examples {
	position: absolute; right: 42px; 
}

td.examples {
	width: auto;
	text-align: right;
	white-space: nowrap;
}

td a+a:before {
	content: "\b7"; display: inline-block; margin-right: 4px; font-weight: 500; opacity: .5;
}

#wrapper table ul {
	margin-top: 20px;
}

#wrapper table ul li {
	font-size: 13px; line-height: 1.6;
	padding-left: 10px;
}

/* ================= Typography ================= */

img {
	display: inline-block;
}

#icon {
	float: left;
	margin-right: 30px;
	margin-top: -10px;
}

p.small {
	font-size: 12px; text-transform: uppercase; letter-spacing: 1px; 
	font-family: "Fakt Medium", "Helvetica Neue",Helvetica,Arial,sans-serif;
}
a.small {
	font-size:14px; font-weight: 400;
}
a.small.right {
	float:right; font-size: 12px; font-weight:500; margin-top:2px;
}
h1 {
	font-size: 63px; line-height: 1; color: #222;
	position: relative; z-index: 10;
	max-width: 600px;
	margin: 0 auto;
	margin-bottom: 40px;
	letter-spacing: -2px;
	font-family: "Fakt Thin", "Helvetica Neue",Helvetica,Arial,sans-serif;
}

h1.title {
	font-size: 14px; color: #60C4FF;
	text-transform: uppercase; letter-spacing: 1px;
	display: inline-block; 
	font-family: "Fakt Medium", "Helvetica Neue",Helvetica,Arial,sans-serif;
}

h2 {
	font-size: 40px; line-height: 1.5;
	font-family: "Fakt Light", "Helvetica Neue",Helvetica,Arial,sans-serif;
	color: #222; margin-bottom: 20px;
	letter-spacing: -1px;
	
}

/*Index page h2*/
h2.headline {
	font-size: 26px; line-height: 1.4;
	font-weight: 100;
	color: #888; letter-spacing: 0;
	margin-bottom: 40px; text-align: center;
		
}

h3 {
	font-size: 24px; font-weight: 500;
	color: #222; margin-bottom: 30px;
	-webkit-font-smoothing: antialiased-antialiased;
}


h4 {
	font-size: 14px; font-weight: 500;
	color: #222; margin-bottom: 25px;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-family: "Fakt Medium", "Helvetica Neue",Helvetica,Arial,sans-serif;
}

#wrapper.index h4 {
	margin-bottom: 15px;
}

p + h4 {
	margin-top: 30px;
}

#wrapper ul li {
	line-height: 1.8;
	font-size: 16px;
	color: #888;
	list-style-type: circle; 
	position: relative; left: 18px;
	padding-left: 8px;
}

#wrapper ul li+li {
	margin-top: 4px;
}

#wrapper li ul li {
	list-style-type: none;
	padding: 0; left: 0; line-height: 1.4;
	margin-top: 4px;
}

/* ================= Content ================= */

#header {
	text-align: center;
	position: relative;
}

#header a, #footer a {
	font-size: 12px; text-transform: uppercase;
	box-shadow: inset 0 0 0 1px #60C4FF; border-radius: 45px;
	padding:12px 16px 9px; letter-spacing: 1px;
	color: #60C4FF; position: relative; z-index: 10; display: inline-block;
	font-family: "Fakt Medium", "Helvetica Neue",Helvetica,Arial,sans-serif;
	width: 120px;
	-webkit-transition: all 0.1s ease;
	-moz-transition: all 0.1s ease;
	-ms-transition: all 0.1s ease;
	-o-transition: all 0.1s ease;
	transition: all 0.1s ease;
}

#header a.green, #footer a.green {
	box-shadow: inset 0 0 0 1px #7ED321;
	color: #7ED321;
	margin-right: 10px;
	margin-bottom: 20px;
}

#footer a, #footer a.green {
	margin-bottom: 0;
}

#header a.small, #footer a.small {
	display: inline-block; font-weight: 400;
	box-shadow: none; letter-spacing: 1px; text-transform: uppercase;
	color: #BEC5D0; font-size: 12px;
	margin-top: 20px; width: auto;
	padding: 0;
	display: block;
	line-height: 0;
}

#header a:hover , #footer a:hover{
	box-shadow: none; color: #fff; background: #60C4FF; opacity: 1;
}

#header a.green:hover, #footer a.green:hover {
	background: #7ED321; 
}

#header a.small:hover, #footer a.small:hover {
	background: none; color: #8d939e;
}

nav#index {
	margin-top: -10px;
}

nav#index li {
	list-style: none;
	font-size: 15px;
}

nav#index li a {
	font-weight: 400;
}

nav#index li:first-child {
	float: left;
}

nav#index li:last-child {
	float: right;
}

#example-block {
	background: #92CEE1;
	/* maybe this? background: #8EDAF1; */
	height: 540px;
	width: 100%; 
	margin: 70px 0;
	overflow: hidden;
	padding: 0 40px;
}

#example-block section {
	position: absolute; 
	top: 45px; left: 0; width: 100%; 
}

#example-block h4 {
	color: #fff; float: left; font-size: 12px; line-height: 1.5; letter-spacing: 1px;
}

#example-block a.more {
	color: #fff; float: right; font-size: 12px; padding: 10px 16px 8px 16px; border-radius: 5px;
	box-shadow: inset 0 0 0 2px #fff; text-transform: uppercase; letter-spacing: 1px;
	font-family: "Fakt SemiBold", "Helvetica Neue",Helvetica,Arial,sans-serif;
}

#example-block a.more:hover {
	opacity: 1; background: #fff;
	color: #92CEE1;
}

/* ------------- */

#example-block a.iphone {
	position: absolute; bottom: -15px; width: 318px;
	-webkit-transition: bottom 0.2s ease;
	-moz-transition: bottom 0.2s ease;
	-ms-transition: bottom 0.2s ease;
	-o-transition: bottom 0.2s ease;
	transition: bottom 0.2s ease;
	height: 444px;
}

#example-block img {
	width: 318px;
}

#example-block a.iphone.mid {
	height: 499px;
}

#example-block a.iphone div {
	background: rgba(255,255,255,0.9);
	color: #60C4FF; 
	width: 256px;
	height: 455px;
	position: absolute; top: 97px; left: 31px;
	z-index: 25; text-align: center; line-height: 455px;
	font-size: 11px; font-weight: 500; text-transform: uppercase;
	letter-spacing: 1px; display: inline-block;
	opacity: 0; visibility: hidden;
	-webkit-transition: opacity 0.2s ease;
	-moz-transition: opacity 0.2s ease;
	-ms-transition: opacity 0.2s ease;
	-o-transition: opacity 0.2s ease;
	transition: opacity 0.2s ease;
}

#example-block a.iphone div span {
	padding: 10px 12px 8px 12px; border-radius: 4px;
	box-shadow: inset 0 0 0 2px #60C4FF; background: rgba(255,255,255,1);
}

#example-block a.iphone:hover {
	bottom: 0; opacity: 1;
}

#example-block a.iphone:hover div {
	visibility: visible; opacity: 1;
}

#example-block a.left {
	left: -50px;
}

#example-block a.mid {
	left: 50%; margin-left: -159px;
	z-index: 50;
}

#example-block a.right {
	right: -50px;
}

#used-by {
	margin-bottom: 70px;
	text-align: center;
	color: #D3D8E1;
	position: relative;
}

#used-by:after {
	content: ""; display: block;
	position: absolute; width: 100%; height: 1px; background: #D3D8E1;
	top: 8px; left: 0; z-index: 0; opacity: .5;
}

#used-by p {
	background: #fff; position: relative; z-index: 10; display: inline-block; 
	padding: 0 20px;
}

#used-by img {
	position: relative;
	vertical-align: middle;
	height: auto;
	margin-bottom: 20px;
}

#used-by img+img {
	margin-left: 21px;
}

/* Tweaking vertical alignment */
#used-by img.facebook, #used-by img.apple { top: -2px; }
#used-by img.google, #used-by img.twitter { top: 2px; }

#used-by img.facebook { width: 99px; }
#used-by img.dropbox { width: 32px; }
#used-by img.google { width: 88px; }
#used-by img.apple { width: 26px; }
#used-by img.groupon { width: 111px; }
#used-by img.twitter { width: 35px; }
#used-by img.stripe { width: 54px; }

#features {
	/* Fix for list margin */
	margin-bottom: -40px;
}

#features li {
	float: left;
	max-width: 260px;
	list-style: none;
	line-height: 1.8;
	font-size: 16px;
	color: #888;
	min-height: 100px;
	-webkit-font-smoothing: antialiased;
	font-family: "Fakt Blond", "Helvetica Neue",Helvetica,Arial,sans-serif;
}

#features li img {
	float: left; height: 24px; width: 24px;
	position: relative; 
	margin-right:15px;
}

#features li img.icon-flexible {
	top: 1px;
}

#features li img.icon-speed {
	top: 0px;
}

#features li p {
	margin-bottom: 0;
	margin-top: 10px;
	-webkit-font-smoothing: subpixel-antialiased;
}

#features li:nth-child(even) {
	float: right;
}

/* Examples */
#examples a:hover {
	opacity: 1;
}

#code-block {
	max-width: 100%;
	margin-top: 70px; margin-bottom: 5px;
	position: relative;
}

#code-section {
	margin-bottom: 70px;
}

#code-section h3 {
	font-weight: 500; 
	font-size: 14px; text-transform: uppercase; letter-spacing: 1px;
	border-radius: 6px 6px 0 0;
	margin-bottom: 30px;
	line-height: 1;
	-webkit-font-smoothing: subpixel-antialiased;
	font-family: "Fakt Medium", "Helvetica Neue",Helvetica,Arial,sans-serif;
	color: #333;
}

#code-block div {
	position: relative;
	width: 100%;
	height: 256px;
	border-radius: 6px 6px 0 0;
	background: black url('/static/examples/codeblock/images/background.png') repeat scroll top left;
}

#code-block div iframe {
	display: block;
	width: 100%; position: absolute;
	height: 256px;  top: 0; left: 0;
	border-radius: 6px 6px 0 0;
}

#code-block div:after {
	content: "Click to animate";
	display: inline-block;
	text-align: center; font-size: 13px;
	position: absolute; font-family: "Fakt Normal", "Helvetica Neue",Helvetica,Arial,sans-serif;
	bottom: 42px; left: 0; width: 100%;
	color: #fff; text-transform: uppercase; letter-spacing: 1px;
}

p.intro {
	font: normal 22px/1.6 "Fakt Light", "Helvetica Neue",Helvetica,Arial,sans-serif;
}


/*Compatibility link*/
a.compat {
	font-size: 13px; font-family: "Fakt Medium", "Helvetica Neue",Helvetica,Arial,sans-serif;
	position: relative; top: 10px; text-transform: uppercase; letter-spacing: 1px;
	float: right; box-shadow: 0 0 0 1px #4DB4EC; border-radius: 55px; padding: 10px 20px 7px;
}

#line-block {
	position: relative;
	margin-top: 70px;
	width: 100%;
	min-height: 300px;
	padding-bottom: 40px;
	margin-bottom: 40px;
	border-bottom: 1px solid #eee;
}

#line-block h3 {
	margin-bottom: 20px;
}

#line-block section {
	max-width: 180px;
	text-align: center;
}

#line-block section img {
	width: 114px;
	height: auto;
}

#line-block section {
	position: absolute; top: 0;
}

#line-block section.left {
	left: 0;
}

#line-block section.mid {
	left: 50%; margin-left: -90px;
}

#line-block section.right {
	right: 0;
}

#line-block section img {
	margin-bottom: 20px;
}

#line-block img.line-arrow {
	position: absolute;
	top: 50px;
	opacity: .5;
	width: 11px; height: 22px;
}

#line-block img.line-arrow.first {
	left: 32%;
}

#line-block img.line-arrow.second {
	right: 31%;
}

#line-block p {
	font-size: 15px; line-height: 1.6;
	opacity: .8;
}

#footer {
	text-align: center;
}

#footer h1 {
	margin-bottom: 40px;
	font-size: 44px;
	letter-spacing: -1px;
}

footer.global {
	margin: 0 auto;
	text-align: center;
	border-top: 1px solid #eee;
	padding-top: 60px;
	margin-top: 60px;
}

footer.global p, footer.global a{
	display: inline-block; font-weight: 400;
	box-shadow: none; letter-spacing: 1px; text-transform: uppercase;
	color: #BEC5D0; font-size: 12px;
	margin: 0;
}

.hide {
	display: none;
}


/* ==================================================== */
/* ================= Vertical SPACING (VSPACE) ================= */

/*40px between items, 70px between sections*/

p, #wrapper iframe{
	margin-bottom: 20px;
}

#features li{
	margin-bottom: 40px;
}

#wrapper ul  {
	margin-bottom: 20px;
}

hr {
	border: none;  width: 100%;
	border-bottom: 1px solid #eee;
	display: block; margin: 60px auto;
}

hr.small {
	margin: 40px auto; 
}

table {
	margin:40px 0; 
}

table.last {
	margin-bottom: 60px;
}


/*Bitcoin*/
#bitcoin {
	display: block;
	margin-top: 20px;
}

footer.global a.coinbase-button {
	padding: 8px 12px;
	border: 1px solid #d6dbe3;
	border-radius: 5px;
	font-weight: 500;
	font-size: 11px;
	letter-spacing: 1px;
}

/* ==================================================== */
/* ==================================================== */
/* ==================================================== */
@media only screen and (min-width: 1200px) {
#sidebar {
	padding: 70px;
}

#wrapper {
	padding: 70px 40px;
}

#wrapper.index {
	padding-top: 70px;
}
footer.global {
	padding-top: 70px;
	margin-top: 70px;
}
}

@media only screen and (max-width: 1200px) {
body {
	padding-left: 240px;
}

#sidebar {
	width: 240px;
	padding:60px;
} 

#wrapper { padding:60px 40px; }

#wrapper.index { padding: 60px 0; }

/* Switch from 70 to 60px vertically VSPACE */
#example-block { margin: 60px 0; }
#used-by { margin-bottom: 60px; }
#code-block { margin-top: 60px; }
#code-section { margin-bottom: 60px; }

#features li {
	max-width: 240px;
}
}

@media only screen and (max-width: 1024px) {
body {
	padding-left: 220px;
}

#sidebar {
	width: 220px;
	padding:60px;
} 

#wrapper {
	max-width: 600px;
}
.inner, #wrapper.index footer.global p {
	max-width: 600px;
}
#example-block a.left { left: 0; }
#example-block a.right { right: 0; }

#example-block section {
	padding: 0 20px;
}

#used-by img:nth-last-child(2) {
	margin-left: 24px;
}
}

@media only screen and (max-width: 900px) {
body {
	padding-left: 180px;
}

#sidebar {
	width: 180px;
	padding: 40px;
}

#wrapper {
	padding: 40px;
	max-width: 580px;
}

.inner, #wrapper.index footer.global p {
	max-width: 620px;
}

#wrapper.index {
	padding: 60px 0;
}

nav#index {
	margin-top: -10px;
}

#features li {
	max-width: 240px;
}

#header a {
	font-size: 11px;
}

/* Vertical Spacing */
/*40px */
hr {
	margin: 40px auto;
}

h1 {
	font-size: 44px;
}

h2.headline {
	font-size: 24px;
}

#line-block section {
	max-width: 160px;
}

#line-block section.mid {
	margin-left: -80px;
}

#line-block img.line-arrow.first {
	left: 160px;
}

#line-block img.line-arrow.second {
	right: 160px;
}

#line-block p {
	font-size: 14px;
}

#example-block a.iphone {
	bottom: -60px;
}

#example-block a.iphone:hover {
	bottom: -40px;
}
}

/* ================= Mobile (Navigation)  ================= */
@media only screen and (max-width: 820px) {
body {
	padding-left: 0;
}

#sidebar {
	width: 100%;
	padding: 0;
	position: relative; opacity: 0;
	max-height: 0; overflow: hidden;
}

#sidebar nav {
	padding: 40px;
	position: relative;
	opacity: 0;
}

#sidebar.appear {
	opacity: 1; visibility: visible;
	max-height: 2000px; 
}

#sidebar.appear nav {
	opacity: 1;
}

/*Create a much smaller mobile navigation*/
#sidebar ul li:not(.headline) a {
	display: none;
}

#sidebar ul {
	margin-bottom: 20px;
}

#sidebar ul:last-of-type {
	margin: 0;
}

#topbar {
	display: block; height: 44px; width: 100%;
	background: #101216;
	position: relative; top: 0; z-index: 30; left: 0;
	padding: 14px;
}

#topbar img {
	position: absolute; top: 6px; right: 6px;
	height: 32px; width: 32px;
	cursor: hand; cursor: pointer;
}

#wrapper {
	max-width: 680px;
	padding: 60px 40px;
}

.inner, #wrapper.index footer.global p {
	max-width: 680px;
	padding: 0 40px;
}

nav#index {
	margin-top: -30px;
}

nav#index li {
	font-size: 13px;
}

#features li {
	max-width: 260px;
	min-height: auto;
}

p.small {
	font-weight: 500;
}

#line-block section {
	max-width: 150px;
}

#line-block p {
	font-size: 13px;
}

#line-block img.line-arrow.first {
	left: 31%;
}

#line-block img.line-arrow.second {
	right: 31%;
}

#example-block a.iphone {
	bottom: -15px;
}

#example-block a.iphone:hover {
	bottom: 0;
}

#used-by img:nth-last-child(2) {
	margin-left: 22px;
}

}

@media only screen and (max-width: 640px) {
#features li {
	font-size: 15px;
	max-width: 240px;
}

#used-by img:nth-last-child(2) {
	clear: both;
}

#code-block div:after {
	content: "Tap to animate";
}
}

@media only screen and (max-width: 580px) {
#features li {
	font-size: 13px;
	max-width: 180px;
}

#example-block {
	overflow: hidden;
	height: 400px;
	padding: 0;
}

#example-block section {
	position: relative; 
	top: 40px;
}

#example-block a.iphone, #example-block a img {
	bottom: -20px;
	width: 200px; height: auto;
}

#example-block a.iphone:hover {
	bottom: -5px;
}

#example-block a.iphone.mid {
	height: auto;
}

#example-block a.iphone div {
	display: none;
}

#example-block a.left { left: 50px; }
#example-block a.right { right: 50px; }

#example-block a.mid  {
	margin-left:-100px;
}

#used-by {
	margin-bottom: 40px;
	padding-bottom: 20px;
	border-bottom: 1px solid #eee;
}

table {
	border: none;
}

table td, td, th  {
	padding: 10px 0;
	background: transparent;	
}

table, thead th, th {
	font-size: 13px;
}

table.api td.group {
	font-size: 11px;
}

table .examples {
	display: none;
}

nav#index li a{
	font-weight: 400; -webkit-font-smoothing: subpixel-antialiased;
}

h1, h1.title {
	margin-bottom: 20px;
}

h1, #footer h1 {
	font-size: 36px;
}

h2.headline {
	font-size: 17px; line-height: 1.6; font-weight: 400;
	margin-bottom: 40px; -webkit-font-smoothing: antialiased;
}

#used-by:after {
	display: none;
}

#line-block section {
	position: relative;
	display: inline-block;
	float: left;
}

#line-block section.right {
	display: none;
}

#line-block section.mid {
	margin: 0; left: 0;
	float: right;
}

#line-block section {
	max-width: 44%; 
	min-width: 172px;
}

#line-block p {
	font-size: 15px;
}

#line-block img.line-arrow.second {
	display: none;
}

#line-block img.line-arrow.first {
	left: 50%;
}
}

@media only screen and (max-width: 490px) {
#example-block a { bottom: -20px; }
#example-block a.left { left:10px; }
#example-block a.right { right: 10px; }
}

@media only screen and (max-width: 440px) {

#sidebar nav {
	padding: 20px;
	position: relative;
	opacity: 0;
}

/* Vertical spacing = 40/20 */
#wrapper { padding:20px; padding-top: 40px; }
.inner, #wrapper.index footer.global p { padding: 0 20px; }
#wrapper.index { padding: 40px 0; }

/* Switch from 70 to 60px vertically VSPACE */
#example-block { margin: 40px 0; }
#used-by { margin-bottom: 40px; }
#code-block { margin-top: 40px; }
#code-section { margin-bottom: 40px; }

footer.global {
	padding-top: 40px;
	margin-top: 40px;
}

h1 {
	font-size: 30px; -webkit-font-smoothing: subpixel-antialiased;
}

#footer h1 {
	font-size: 28px;
}

h2 {
	font-size: 19px; 
}

h2.headline {
	font-size: 17px; line-height: 1.5; font-weight: 400;
	margin-bottom: 40px; -webkit-font-smoothing: antialiased;
}

nav#index {
	margin-top: -10px;
}

#features {
}

#features li {
	max-width: 100%;
	font-size: 15px;
}

#features li:nth-child(even) {
	float: none;
}

#used-by p {
	padding: 0;
	font-size: 10px;
}

#code-block div, #code-block pre {
	border-radius: 0 !important;
	padding-left: 10px;
}

#line-block {
	height: auto;
	margin-top: 40px;
}

#line-block p {
	margin: 0;
}

#line-block h3 {
	margin-bottom: 15px;
}

#line-block section, #line-block section.left, #line-block section.right, #line-block section.mid {
	position: relative; left: 0; right: 0; margin: 0;
	display: block; 
	width: 100%; max-width: 50%;
	margin: 0 auto; 
	margin-bottom: 40px; float: none;
}

#line-block img.line-arrow {
	display: none;
}

#line-block section {
	padding-bottom: 40px;
	border-bottom: 1px solid #eee;
}

#line-block section.right {
	margin-bottom: 0;
	padding: 0; border: none;
}

#code-section {
	margin-bottom: 0px;
}

.inner.code-block{
	padding: 0;
}

/*Hide lines on index*/
#wrapper pre code.rainbow .line:before {
	display: none;
}
}

/* HEIGHT QUERIES */
#sidebar ul svg { 
opacity: 0;
}


@media only screen and (max-height: 720px) and (min-width: 640px) {
#sidebar ul#more section {
	max-height: 0; overflow: hidden; visibility: hidden; 
}

#sidebar ul#more section.appear {
	visibility: visible; max-height: 300px; margin-bottom: 40px;
}

#sidebar ul#more svg { opacity: 1; }
#sidebar ul#more.flip svg { 
-moz-transform: rotate(180deg);
-webkit-transform: rotate(180deg);
-o-transform: rotate(180deg);
-ms-transform: rotate(180deg);
transform: rotate(180deg);
}

#sidebar ul#more.flip svg path { fill: #fff; }
}

@media only screen and (max-height: 620px) and (min-width: 640px) {
#sidebar ul#docs section {
	max-height: 0; overflow: hidden; visibility: hidden;
}

#sidebar ul#docs { margin-bottom: 20px; }

#sidebar ul#docs section.appear {
	visibility: visible; max-height: 300px;  margin-bottom: 35px;
}

#sidebar ul#docs svg { opacity: 1; }
#sidebar ul#docs.flip svg { -moz-transform: rotate(180deg);
-webkit-transform: rotate(180deg);
-o-transform: rotate(180deg);
-ms-transform: rotate(180deg);
transform: rotate(180deg);
}

#sidebar ul#docs.flip svg path { fill: #fff; }
}

@media only screen and (max-height: 540px) and (min-width: 640px) {
#sidebar ul#examples section {
	max-height: 0; overflow: hidden; visibility: hidden;
}

#sidebar ul#examples { margin-bottom: 20px; }

#sidebar ul#examples section.appear {
	visibility: visible; max-height: 300px; margin-bottom: 35px;
}

#sidebar ul#examples svg { opacity: 1; }
#sidebar ul#examples.flip svg { -moz-transform: rotate(180deg);
-webkit-transform: rotate(180deg);
-o-transform: rotate(180deg);
-ms-transform: rotate(180deg);
transform: rotate(180deg);
}
#sidebar ul#examples.flip svg path { fill: #fff; }
}



