@import url(fonts.css);
/* COLOR SCHEME ------------------------------ */
#wrapper {
  overflow: hidden; }

/* TYPOGRAPHY ------------------------------- */
img {
  max-width: 100%; }

hr {
  margin: 80px auto; }

hr.big {
  margin: 120px auto; }

.hr {
  margin: 100px auto; }

/* TYPOGRAPHY ------------------------------- */
p {
  font-size: 18px;
  line-height: 1.7;
  color: rgba(29, 32, 38, 0.8); }

p.title {
  font-size: 20px;
  line-height: 1.5; }

h2 {
  font-size: 26px;
  font-weight: 300;
  margin-bottom: 20px;
  line-height: 1.2;
  font-weight: 200;
  letter-spacing: 0; }

h3 {
  font-size: 28px;
  font-weight: 300;
  margin-bottom: 20px;
  letter-spacing: 0px;
  color: #4db4ec; }

/*Big h1*/
.feature-block h1 {
  text-align: center;
  letter-spacing: -1px;
  line-height: 1.1;
  font-weight: 100;
  margin-bottom: 10px;
  text-align: center; }

#interaction h1 {
  color: #fff; }

h4 {
  color: #888;
  text-transform: none;
  letter-spacing: 0;
  text-align: center;
  display: block;
  font-size: 26px;
  font-weight: 100;
  line-height: 1.35;
  font-weight: 200; }

/*Feature Blocks H4 / Headlines */
#wrapper.index .feature-block h4 {
  margin-bottom: 0; }

/* QUOTES -------------------------*/
h5 {
  text-align: center;
  font-weight: 200;
  line-height: 1.4;
  font-size: 30px;
  max-width: 600px;
  margin: -20px auto;
  color: rgba(97, 109, 133, 0.6);
  -moz-font-feature-settings: "salt" 1, "ss01" 1;
  -moz-font-feature-settings: "salt=1, ss01=1";
  -ms-font-feature-settings: "salt" 1, "ss01" 1;
  -o-font-feature-settings: "salt" 1, "ss01" 1;
  -webkit-font-feature-settings: "salt" 1, "ss01" 1;
  font-feature-settings: "salt" 1, "ss01" 1; }

h5.bottom {
  margin: 0 auto; }

p.author {
  margin-top: 20px;
  color: #bec5c9;
  text-shadow: 0 1px 0 #fff;
  margin-bottom: 0; }

/* HEADER ------------------------------- */
#header h1, #footer h1 {
  letter-spacing: -1px;
  font-weight: 200;
  margin: 80px 0 8px 0;
  font-size: 60px;
  line-height: 1;
  color: #222; }

#header h1.title {
  font-size: 14px;
  color: #4db4ec;
  text-transform: uppercase;
  letter-spacing: 8px;
  display: inline-block;
  font-weight: 600;
  margin: 0; }

#header h2, #footer h2 {
  font-weight: 300;
  color: rgba(97, 109, 133, 0.8);
  line-height: 1.4;
  font-size: 28px;
  letter-spacing: -0px;
  margin-bottom: 60px; }

#footer h2 span {
  color: #333; }

#header a, #footer a {
  border: none;
  padding: 12px 20px 9px;
  position: relative;
  border-radius: 50px;
  background: #4db4ec;
  color: #fff;
  text-transform: none;
  letter-spacing: 0;
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 1;
  font-weight: 600; }

#header form, #footer form {
  display: inline-block; }

#header form input[type="submit"], #footer form input[type="submit"] {
  font: 16px/1 "Fakt", "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 600;
  border: none;
  background: #4db4ec;
  color: #fff;
  cursor: pointer;
  cursor: hand;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  padding: 12px 30px 9px 20px;
  border-radius: 50px;
  width: 120px;
  position: relative;
  -webkit-appearance: none; }

#header form:after, #footer form:after {
  content: "99";
  display: inline-block;
  position: relative;
  font-size: 12px;
  font-weight: 500;
  color: #fff;
  left: -34px;
  top: -3px; }

#header form input[type="submit"]:hover, #footer form input[type="submit"]:hover {
  background: #4db4ec;
  color: #fff;
  box-shadow: none; }

#header a.green, #footer a.green {
  background: #7ddc16;
  color: #fff;
  margin-bottom: 0;
  margin-right: 10px; }

#header a.green:hover {
  color: #fff;
  box-shadow: none; }

#header a:hover:after {
  color: #4DB4EC; }

#header a.green:hover:after {
  color: #7DDC16; }

/* SCREENSHOT -------------------------*/
#screenshot {
  text-align: center;
  margin: 80px 0 30px 0;
  overflow: visible;
  position: relative; }

.studio-ss {
  position: relative;
  max-width: 708px;
  margin: 0 auto; }

.studio-ss-600 {
  position: relative;
  max-width: 628px;
  margin: 0 auto; }

#bg {
  position: absolute;
  top: 0;
  left: 0;
  background: url("/static/images/fs/bg-icon.jpg") no-repeat 50%;
  background-size: contain;
  top: 0px;
  width: 1240px;
  height: 1380px;
  z-index: 0;
  left: 50%;
  margin-left: -620px; }

#screenshot img.studio {
  max-width: 708px;
  width: 100%; }

#screenshot img.studio-600 {
  display: none; }

#framer section.iphone-bg {
  position: relative;
  z-index: 0; }

#screenshot .video-wrapper {
  width: 50%;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%; }

#screenshot video {
  position: absolute;
  max-width: 112px;
  top: 157px;
  left: 114px; }

#screenshot-copy {
  text-align: center; }

#screenshot-copy h2 {
  font-weight: 300;
  font-size: 32px;
  margin: 0;
  color: #4db4ec; }

#screenshot-copy li p {
  display: block;
  color: rgba(29, 32, 38, 0.8);
  margin-top: 10px;
  margin-bottom: 0;
  font-size: 23px;
  line-height: 1.5;
  letter-spacing: 0;
  font-weight: 200; }

#screenshot-copy li {
  max-width: 280px;
  list-style: none;
  float: left;
  margin-bottom: -20px; }

section.mobile {
  display: none; }

#screenshot-copy li:first-child {
  margin-right: 40px; }

/* BODY SECTIONS -------------------------*/
/* Two Columns */
.half section {
  max-width: 280px;
  width: 100%;
  float: left; }

.half .right {
  float: right; }

.half .right p {
  margin-bottom: 0; }

/* Three Columns */
.one-third section {
  max-width: 180px;
  float: left;
  width: 100%; }

.one-third section + section {
  margin-left: 30px; }

#start img {
  position: relative;
  top: 15px; }

#framer {
  position: relative; }

#framer ul {
  margin: 40px 0 0 20px;
  float: left;
  max-width: 280px;
  width: 100%; }

#framer .screen {
  position: absolute;
  top: 73px;
  left: 20px;
  max-width: 280px;
  padding-right: 82px; }

#framer video {
  width: 100%;
  border: none;
  cursor: pointer; }

#framer p a {
  color: #333;
  font-weight: 400;
  border-bottom: 1px solid #eee; }

#framer ul section li {
  color: rgba(97, 109, 133, 0.8);
  line-height: 1.8;
  padding-left: 0;
  font-size: 16px;
  font-weight: 400;
  list-style: none;
  left: 0; }

#framer ul section li:before {
  content: url("/static/images/fs/icon-check.png");
  display: inline-block;
  margin-right: 10px;
  position: relative;
  top: 1px; }

#framer section a.examples {
  box-shadow: inset 0 0 0 2px #4db4ec;
  padding: 12px 20px 10px;
  border-radius: 50px;
  font-size: 16px;
  display: inline-block; }

#framer ul section li span {
  width: 25px;
  background: red;
  display: inline-block; }

/* USED BY SECTION */
#used-by p {
  background: #fff;
  position: relative;
  z-index: 10;
  display: inline-block;
  padding: 0 20px;
  color: rgba(97, 109, 133, 0.4); }

/* INTERACTION SECTION -------------------------*/
#interaction {
  background: #191C22;
  padding: 100px 0 0 0;
  margin: 100px 0 0 0;
  position: relative; }

#interaction p {
  font-weight: 300;
  color: #fff; }

#interaction h4 {
  color: #fff;
  color: #9095A1; }

#interaction .ss-half {
  background: url("/static/images/fs/ss-code.png") no-repeat;
  width: 665px;
  height: 474px;
  top: 0;
  position: relative;
  left: -10px; }

/*Retina*/
@media (-webkit-min-device-pixel-ratio: 1.5) {
  #interaction .ss-half {
    background: url("/static/images/fs/ss-code@2x.png") no-repeat;
    background-size: cover; } }
#interaction p.title {
  color: #7ddc16;
  font-weight: 400; }

#interaction li:nth-child(2) p.title {
  color: #4db4ec; }

#interaction li:nth-child(3) p.title {
  color: #917BDF; }

#interaction li:last-child p.title {
  color: #818B9E; }

/* INTERACTION & VIEWER SECTION ------------------------------ */
.feature-block {
  overflow: hidden !important; }

.feature-block section li {
  list-style: none;
  font-size: 15px; }

.feature-block section li + li {
  margin-top: 0; }

.feature-block p {
  font-size: 18px;
  line-height: 1.6; }

.feature-block p.title {
  font-size: 22px;
  margin-bottom: 10px;
  line-height: 1.2; }

.feature-block li img {
  float: left;
  position: relative;
  top: 3px;
  margin-right: 12px; }

/*Feature lists*/
.feature-list {
  position: relative;
  margin: 40px 0 60px 0; }

.feature-list .right li, #interaction .feature-list li {
  max-width: 280px;
  float: left;
  margin-top: 40px;
  list-style: none; }

.feature-list .right li:nth-child(even), #interaction .feature-list li:nth-child(even) {
  float: right; }

#interaction li:nth-child(1) img {
  top: 3px; }

#interaction li:nth-child(2) img {
  top: 5px; }

#interaction li:nth-child(3) img {
  top: 2px; }

#viewer li:nth-child(3) img {
  top: 2px; }

#viewer li:nth-child(4) img {
  top: 1px; }

#viewer {
  padding: 100px 0 20px 0;
  /* The extra 20 is to fix the overflow bug */
  margin-bottom: -20px;
  position: relative;
  overflow: visible; }

#viewer h1 {
  color: #111; }

#viewer p.title {
  color: #7DDC16;
  font-weight: 400; }

#viewer li:nth-child(2) p.title {
  color: #4db4ec; }

#viewer li:nth-child(3) p.title {
  color: #917BDF; }

#viewer li:last-child p.title {
  color: #616d85; }

#viewer .ss-half {
  background: url("/static/images/fs/ss-viewer.png") no-repeat;
  position: absolute;
  left: -1080px;
  width: 1318px;
  height: 613px;
  top: 0; }

/*Retina*/
@media (-webkit-min-device-pixel-ratio: 1.5) {
  #viewer .ss-half {
    background: url("/static/images/fs/ss-viewer@2x.png") no-repeat;
    background-size: cover; } }
/* FOOTER FEATURE LISTS ------------------------------ */
#footer-features section ul li {
  padding-left: 0;
  left: 0;
  list-style: none;
  font-size: 14px;
  font-weight: 400;
  color: rgba(97, 109, 133, 0.6); }

#footer-features section ul li:before {
  content: url("/static/images/fs/icon-check.png");
  display: inline-block;
  margin-right: 10px;
  position: relative;
  top: 1px; }

#footer-features h2 {
  letter-spacing: 0;
  text-align: center;
  font-size: 30px; }

/* FOOTER  ------------------------------ */
#footer a {
  margin-bottom: 0; }

#footer a.green {
  margin-right: 10px; }

#footer a.green:hover {
  color: #fff;
  box-shadow: none; }

/* CODE DRAW  ------------------------------ */
.code-draw {
  position: absolute;
  bottom: 104px;
  left: 40px;
  height: 16px;
  width: 300px;
  -webkit-animation: write-code 3s 2s linear forwards;
  -moz-animation: write-code 3s 2s linear forwards;
  -ms-animation: write-code 3s 2s linear forwards;
  -o-animation: write-code 3s 2s linear forwards;
  animation: write-code 3s 2s linear forwards;
  background: #1D2026; }

.code-draw-two {
  position: absolute;
  bottom: 90px;
  left: 70px;
  height: 16px;
  width: 240px;
  -webkit-animation: write-code-two 2s 6s linear forwards;
  -moz-animation: write-code-two 2s 6s linear forwards;
  -ms-animation: write-code-two 2s 6s linear forwards;
  -o-animation: write-code-two 2s 6s linear forwards;
  animation: write-code-two 2s 6s linear forwards;
  background: #1D2026; }

@-webkit-keyframes write-code {
  20% {
    left: 90px; }

  30% {
    left: 90px; }

  40% {
    left: 95px; }

  50% {
    left: 100px; }

  60% {
    left: 120px; }

  70% {
    left: 160px; }

  80% {
    left: 165px; }

  90% {
    left: 200px; }

  100% {
    left: 240px;
    width: 60px; } }

@-moz-keyframes write-code {
  20% {
    left: 90px; }

  30% {
    left: 90px; }

  40% {
    left: 95px; }

  50% {
    left: 100px; }

  60% {
    left: 120px; }

  70% {
    left: 160px; }

  80% {
    left: 165px; }

  90% {
    left: 200px; }

  100% {
    left: 240px;
    width: 60px; } }

@-o-keyframes write-code {
  20% {
    left: 90px; }

  30% {
    left: 90px; }

  40% {
    left: 95px; }

  50% {
    left: 100px; }

  60% {
    left: 120px; }

  70% {
    left: 160px; }

  80% {
    left: 165px; }

  90% {
    left: 200px; }

  100% {
    left: 240px;
    width: 60px; } }

@-ms-keyframes write-code {
  20% {
    left: 90px; }

  30% {
    left: 90px; }

  40% {
    left: 95px; }

  50% {
    left: 100px; }

  60% {
    left: 120px; }

  70% {
    left: 160px; }

  80% {
    left: 165px; }

  90% {
    left: 200px; }

  100% {
    left: 240px;
    width: 60px; } }

@keyframes write-code {
  20% {
    left: 90px; }

  30% {
    left: 90px; }

  40% {
    left: 95px; }

  50% {
    left: 100px; }

  60% {
    left: 120px; }

  70% {
    left: 160px; }

  80% {
    left: 165px; }

  90% {
    left: 200px; }

  100% {
    left: 240px;
    width: 60px; } }

/*-----------------*/
@-webkit-keyframes write-code-two {
  20% {
    left: 117px; }

  30% {
    left: 117px; }

  40% {
    left: 120px; }

  60% {
    left: 170px; }

  70% {
    left: 170px; }

  80% {
    left: 180px; }

  90% {
    left: 220px; }

  100% {
    left: 240px;
    width: 60px; } }

@-moz-keyframes write-code-two {
  20% {
    left: 90px; }

  30% {
    left: 90px; }

  40% {
    left: 95px; }

  50% {
    left: 100px; }

  60% {
    left: 120px; }

  70% {
    left: 160px; }

  80% {
    left: 165px; }

  90% {
    left: 200px; }

  100% {
    left: 240px;
    width: 60px; } }

@-o-keyframes write-code-two {
  20% {
    left: 90px; }

  30% {
    left: 90px; }

  40% {
    left: 95px; }

  50% {
    left: 100px; }

  60% {
    left: 120px; }

  70% {
    left: 160px; }

  80% {
    left: 165px; }

  90% {
    left: 200px; }

  100% {
    left: 240px;
    width: 60px; } }

@-ms-keyframes write-code-two {
  20% {
    left: 90px; }

  30% {
    left: 90px; }

  40% {
    left: 95px; }

  50% {
    left: 100px; }

  60% {
    left: 120px; }

  70% {
    left: 160px; }

  80% {
    left: 165px; }

  90% {
    left: 200px; }

  100% {
    left: 240px;
    width: 60px; } }

@keyframes write-code-two {
  20% {
    left: 90px; }

  30% {
    left: 90px; }

  40% {
    left: 95px; }

  50% {
    left: 100px; }

  60% {
    left: 120px; }

  70% {
    left: 160px; }

  80% {
    left: 165px; }

  90% {
    left: 200px; }

  100% {
    left: 240px;
    width: 60px; } }

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .studio-ss {
    max-width: 628px; } }
@media only screen and (max-width: 1024px) {
  #screenshot img.studio {
    display: none; }

  #screenshot img.studio-600 {
    display: inline-block;
    max-width: 628px;
    width: 100%; }

  #screenshot video {
    position: absolute;
    max-width: 112px;
    top: 157px;
    left: 104px; }

  #screenshot-copy p {
    font-size: 17px; }

  .inner {
    max-width: 680px; } }
@media only screen and (max-width: 900px) {
  #header h1 {
    font-size: 64px; }

  .inner {
    max-width: 680px; }

  #screenshot-copy li {
    max-width: 260px; } }
/* MOBILE NAVIGATION ------------------- */
@media only screen and (max-width: 768px) {
  .half section {
    width: 48%; }

  .half section section {
    width: 100%; }

  #bg {
    background-size: 75%;
    top: -90px; }

  p {
    font-size: 16px; }

  #header h1, #footer h1 {
    font-size: 52px; }

  h5 {
    font-size: 30px;
    max-width: 500px; }

  #screenshot-copy li {
    max-width: 48%; }

  #screenshot-copy li:first-child {
    margin-right: 2%; }

  #carousel, #carousel-inapp {
    display: none; } }
@media only screen and (max-width: 580px) {
  #wrapper.index {
    padding: 40px 0; }

  #bg {
    background-size: 50%;
    top: -220px; }

  #header h1, #footer h1 {
    margin-top: 40px;
    font-size: 40px;
    font-weight: 200; }

  #header h2, #footer h2 {
    font-size: 22px; }

  .half section {
    max-width: 100%;
    width: 100%;
    float: none;
    text-align: center; }

  .half .right {
    float: none;
    max-width: 100%;
    width: 100%; }

  hr {
    margin: 40px auto; }

  #screenshot {
    padding-bottom: 20px;
    margin-bottom: 0;
    margin-top: 40px; }

  #screenshot-copy li {
    margin-bottom: 0; }

  #screenshot-copy h2 {
    font-size: 32px;
    font-weight: 200; }

  #screenshot-copy li p {
    font-size: 16px;
    font-weight: 300; }

  h2 {
    font-size: 20px;
    margin-bottom: 10px; }

  .feature-block h2 {
    font-size: 28px;
    letter-spacing: 0; }

  h4 {
    font-size: 20px; }

  h5 {
    font-size: 24px;
    margin: 0; }

  p {
    margin-bottom: 0; }

  #framer * {
    text-align: left; }

  #framer section ul {
    max-width: 100%; }

  #framer ul li {
    text-align: left; }

  #framer section.iphone-bg {
    display: none; }

  .feature-block p {
    text-align: left; }

  #start img {
    margin-bottom: 40px; }

  #interaction {
    padding: 60px 0;
    margin: 60px 0 0 0; }

  #viewer {
    padding: 60px 0 0 0; }

  #interaction .ss-half {
    position: relative;
    left: 0px;
    top: 0;
    height: 400px;
    margin-bottom: 40px;
    margin-top: 40px; }

  #interaction .ss-half:after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
    height: 40%;
    background: -moz-linear-gradient(top, rgba(40, 45, 54, 0) 0%, #282d36 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(40, 45, 54, 0)), color-stop(100%, #282d36));
    background: -webkit-linear-gradient(top, rgba(40, 45, 54, 0) 0%, #282d36 100%);
    background: -o-linear-gradient(top, rgba(40, 45, 54, 0) 0%, #282d36 100%);
    background: -ms-linear-gradient(top, rgba(40, 45, 54, 0) 0%, #282d36 100%);
    background: linear-gradient(to bottom, rgba(40, 45, 54, 0) 0%, #282d36 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00282d36', endColorstr='#282d36',GradientType=0 ); }

  #viewer .ss-half {
    position: relative;
    left: -1300px;
    margin-left: 95%;
    top: 0;
    height: 400px;
    margin-bottom: 40px;
    margin-top: 40px; }

  #viewer .ss-half:after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
    height: 40%;
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, white 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(100%, white));
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, white 100%);
    background: -o-linear-gradient(top, rgba(255, 255, 255, 0) 0%, white 100%);
    background: -ms-linear-gradient(top, rgba(255, 255, 255, 0) 0%, white 100%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, white 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); }

  /* --------- 4 Feature Blocks --------- */
  .feature-list .right li, #interaction .feature-list li {
    max-width: 46%;
    float: left;
    margin-top: 40px; }

  .feature-list .right li:nth-child(even), #interaction .feature-list li:nth-child(even) {
    float: right; }

  .feature-block section li + li {
    margin-top: 0; }

  .feature-block p.title {
    font-size: 20px; }

  .feature-block p {
    font-size: 16px; }

  .feature-list {
    margin-top: 0; }

  /*------------------------------------------*/
  footer.global {
    padding-top: 0;
    margin-top: 0;
    margin-bottom: 0px;
    border: none; }

  #footer-features {
    display: none; }

  #manifesto * {
    text-align: left; }

  #manifesto section + section {
    margin-top: 20px; } }
@media only screen and (max-width: 440px) {
  #bg {
    background-size: 40%;
    top: -320px; }

  #header h1.title {
    letter-spacing: 3px;
    margin-top: 0px; }

  #header h1, h2, #footer h1 {
    margin-top: 0px;
    font-size: 28px;
    font-weight: 300;
    letter-spacing: 0;
    margin-bottom: 10px; }

  #header h1 {
    margin-top: 20px; }

  #header h2, #footer h2 {
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 20px; }

  #illustration {
    max-height: 215px;
    padding: 10px; }

  img.blueprint {
    margin-top: 0; }

  .feature-block p.title {
    font-size: 20px; }

  p {
    line-height: 1.5; }

  h5 {
    font-size: 19px;
    font-weight: 300; }

  img.app-icon {
    width: 140px;
    margin-left: -70px;
    bottom: -50px; }

  #screenshot {
    padding: 0;
    margin-bottom: 20px; }

  /*Flip the screenshot texts */
  #screenshot-copy {
    display: none; }

  section.mobile {
    display: block;
    text-align: center; }

  /* --------- Full-width feature blocks --------- */
  .feature-list .right li, #interaction .feature-list li {
    max-width: 100%;
    float: none;
    margin-top: 40px; }

  .feature-list .right li:nth-child(even), #interaction .feature-list li:nth-child(even) {
    float: none; }

  .feature-block section li + li {
    margin-top: 0; }

  .feature-block p.title {
    font-size: 20px; }

  .feature-block p {
    font-size: 16px; }

  .feature-list {
    margin-top: 0; }

  #header a, #footer a {
    padding: 12px 18px 9px;
    width: 110px; }

  #header a, #footer a, #header form input[type="submit"], #footer form input[type="submit"] {
    font-size: 14px; }

  #header form input[type="submit"], #footer form input[type="submit"] {
    padding: 12px 28px 9px 18px; }

  #header form:after, #footer form:after {
    left: -38px;
    top: -2px;
    font-size: 11px; } }
