@import url(fonts.css);
/* COLOR SCHEME ------------------------------ */
/* TYPOGRAPHY ------------------------------- */
img {
  max-width: 100%; }

hr {
  margin: 80px auto; }

/* TYPOGRAPHY ------------------------------- */
p {
  font-size: 18px;
  line-height: 1.7;
  color: rgba(29, 32, 38, 0.8); }

p.title {
  font-size: 20px;
  line-height: 1.5; }

h2 {
  font-size: 26px;
  font-weight: 300;
  margin-bottom: 20px;
  line-height: 1.2;
  font-weight: 200;
  letter-spacing: 0; }

h3 {
  font-size: 28px;
  font-weight: 300;
  margin-bottom: 20px;
  letter-spacing: 0px;
  color: #4db4ec; }

/*Big h2*/
.feature-block h2 {
  text-align: center;
  letter-spacing: -1px;
  font-size: 50px;
  line-height: 1.1;
  font-weight: 200;
  margin-bottom: 10px; }

#interaction h2 {
  color: #fff; }

h4 {
  color: #888;
  text-transform: none;
  letter-spacing: 0;
  text-align: center;
  display: block;
  font-size: 26px;
  font-weight: 100;
  line-height: 1.35;
  font-weight: 200; }

/*Feature Blocks H4 / Headlines */
#wrapper.index .feature-block h4 {
  margin-bottom: 0; }

/* QUOTES -------------------------*/
h5 {
  text-align: center;
  font-weight: 200;
  line-height: 1.4;
  font-size: 30px;
  max-width: 600px;
  margin: 0 auto;
  color: rgba(97, 109, 133, 0.8);
  -moz-font-feature-settings: "salt" 1, "ss01" 1;
  -moz-font-feature-settings: "salt=1, ss01=1";
  -ms-font-feature-settings: "salt" 1, "ss01" 1;
  -o-font-feature-settings: "salt" 1, "ss01" 1;
  -webkit-font-feature-settings: "salt" 1, "ss01" 1;
  font-feature-settings: "salt" 1, "ss01" 1; }

p.author {
  margin-top: 20px;
  color: #bec5c9;
  text-shadow: 0 1px 0 #fff;
  margin-bottom: 0; }

/* HEADER ------------------------------- */
#illustration {
  max-height: 380px;
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 20px;
  position: relative;
  background: #4DB4EC;
  z-index: 2; }

#illustration:after {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  background-image: -o-linear-gradient(89deg, #4db4ec 0%, rgba(77, 180, 236, 0) 60%);
  background-image: -moz-linear-gradient(89deg, #4db4ec 0%, rgba(77, 180, 236, 0) 60%);
  background-image: -ms-linear-gradient(89deg, #4db4ec 0%, rgba(77, 180, 236, 0) 60%);
  background-image: linear-gradient(0deg, #4db4ec 0%, rgba(77, 180, 236, 0) 60%);
  z-index: 1;
  left: 0;
  bottom: 0; }

img.blueprint {
  display: block;
  margin: 0 auto;
  margin-top: 40px;
  max-width: 600px;
  width: 100%; }

img.app-icon {
  bottom: 0;
  max-width: 256px;
  position: absolute;
  left: 50%;
  margin-left: -128px;
  bottom: -80px;
  z-index: 300; }

#header h1 {
  letter-spacing: -2px;
  font-weight: 200;
  margin: 40px 0 4px 0;
  font-size: 60px;
  line-height: 1;
  color: #333; }

#header h1.title {
  font-size: 14px;
  color: #4db4ec;
  text-transform: uppercase;
  letter-spacing: 6px;
  display: inline-block;
  font-weight: 500;
  margin-top: 60px; }

#header h1 span {
  -moz-font-feature-settings: "salt" 1, "ss01" 1;
  -moz-font-feature-settings: "salt=1, ss01=1";
  -ms-font-feature-settings: "salt" 1, "ss01" 1;
  -o-font-feature-settings: "salt" 1, "ss01" 1;
  -webkit-font-feature-settings: "salt" 1, "ss01" 1;
  font-feature-settings: "salt" 1, "ss01" 1; }

#header h2 {
  font-weight: 200;
  color: #818B9E;
  line-height: 1.4;
  font-size: 28px;
  letter-spacing: -0px;
  margin-bottom: 40px; }

#footer h2 span {
  color: #333; }

#header a, #footer a {
  border: none;
  padding: 14px 10px 11px;
  position: relative;
  border-radius: 50px;
  color: #4db4ec;
  box-shadow: inset 0 0 0 2px #4db4ec;
  text-transform: none;
  letter-spacing: 0;
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 1;
  font-weight: 500; }

#header form {
  padding: 12px 20px 9px;
  box-shadow: inset 0 0 0 2px #4db4ec;
  display: inline-block;
  border-radius: 50px;
  cursor: pointer;
  cursor: hand; }

#header form input[type="submit"] {
  font: 16px/1 "Fakt", "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 500;
  border: none;
  background: transparent;
  color: #4db4ec;
  cursor: pointer;
  cursor: hand;
  padding: 0; }

#header a.green, #footer a.green {
  color: #7ddc16;
  background: #fff;
  margin-bottom: 0;
  margin-right: 10px;
  box-shadow: inset 0 0 0 2px #7ddc16; }

#header a.green:hover {
  color: #fff;
  box-shadow: none; }

#header a:hover:after {
  color: #4DB4EC; }

#header a.green:hover:after {
  color: #7DDC16; }

/* SCREENSHOT -------------------------*/
#screenshot-copy {
  text-align: center; }

#screenshot-copy h2 {
  font-weight: 200;
  font-size: 36px;
  margin: 0; }

#screenshot-copy li p {
  display: block;
  color: rgba(29, 32, 38, 0.6);
  margin-top: 20px;
  margin-bottom: 0;
  font-size: 23px;
  line-height: 1.5;
  letter-spacing: 0;
  font-weight: 200; }

#screenshot-copy li {
  max-width: 280px;
  list-style: none;
  float: left; }

section.mobile {
  display: none; }

#screenshot-copy li:first-child {
  margin-right: 40px; }

/*Retina*/
@media (-webkit-min-device-pixel-ratio: 1.5) {
  #screenshot-copy li:first-child:after, #screenshot-copy li:last-child:after {
    background: url("/static/images/fs/ss-indicator@2x.png") no-repeat;
    background-size: cover; } }
#screenshot {
  text-align: center;
  background: url("/static/images/fs/ss-bg.png") no-repeat;
  background-size: 764px 460px;
  background-position: 50% 0%;
  width: 100%;
  height: 100%;
  position: relative;
  padding-top: 80px;
  margin-top: 80px;
  margin-bottom: 60px;
  position: relative; }

#screenshot-copy p {
  font-size: 19px;
  color: #999; }

#screenshot figure {
  position: relative;
  max-width: 608px;
  margin: 0 auto; }

#screenshot video {
  position: absolute;
  max-width: 112px;
  top: 143px;
  right: 98px;
  z-index: 100; }

img.studio {
  position: relative;
  max-width: 608px;
  width: 100%; }

/* BODY SECTIONS -------------------------*/
/* Two Columns */
.half section {
  max-width: 280px;
  width: 100%;
  float: left; }

.half .right {
  float: right; }

.half .right p {
  margin-bottom: 0; }

/* Three Columns */
.one-third section {
  max-width: 180px;
  float: left;
  width: 100%; }

.one-third section + section {
  margin-left: 30px; }

#start img {
  position: relative;
  top: 10px; }

#framer {
  position: relative; }

#framer ul {
  margin-top: 0px;
  float: left; }

#framer ul {
  margin: 40px 0;
  float: left;
  max-width: 280px;
  width: 100%; }

#framer .screen {
  position: absolute;
  top: 73px;
  left: 20px;
  max-width: 280px;
  padding-right: 82px;
  overflow: hidden;
  z-index: 100; }

#framer video {
  width: 100%;
  border: none;
  background: #fff;
  cursor: pointer; }

#framer p a {
  color: #333;
  font-weight: 400; }

#framer ul section li {
  color: rgba(97, 109, 133, 0.8);
  line-height: 1.8;
  padding-left: 0;
  font-size: 16px;
  font-weight: 400;
  list-style: none;
  left: 0; }

#framer ul section li:before {
  content: url("/static/images/fs/icon-check.png");
  display: inline-block;
  margin-right: 10px;
  position: relative;
  top: 1px; }

#framer section.right a {
  box-shadow: inset 0 0 0 2px #4db4ec;
  padding: 12px 20px 10px;
  border-radius: 50px;
  font-size: 16px;
  display: inline-block; }

/* INTERACTION SECTION -------------------------*/
#interaction {
  background: #2A2F38;
  padding: 80px 0;
  margin: 80px 0 0 0;
  position: relative; }

#interaction p {
  font-weight: 300;
  color: #fff; }

#interaction h4 {
  color: #fff;
  color: #9095A1; }

#interaction .ss-half {
  background: url("/static/images/fs/ss-code.png") no-repeat;
  position: absolute;
  right: -360px;
  width: 620px;
  height: 649px;
  top: -10px; }

/*Retina*/
@media (-webkit-min-device-pixel-ratio: 1.5) {
  #interaction .ss-half {
    background: url("/static/images/fs/ss-code@2x.png") no-repeat;
    background-size: cover; } }
#interaction section p.title {
  color: #4db4ec;
  font-weight: 300; }

/* INTERACTION & VIEWER SECTION ------------------------------ */
.feature-block {
  overflow: hidden; }

.feature-block section li {
  list-style: none;
  font-size: 15px; }

.feature-block section li + li {
  margin-top: 40px; }

.feature-block p {
  font-size: 18px;
  line-height: 1.6; }

.feature-block p.title {
  font-size: 20px;
  margin-bottom: 5px; }

.feature-block section li img {
  float: left;
  position: relative;
  top: 3px;
  margin-right: 14px; }

#interaction section li:nth-child(1) img {
  top: 3px; }

#interaction section li:nth-child(2) img {
  top: 5px; }

#interaction section li:nth-child(3) img {
  top: 2px; }

#viewer section li:nth-child(3) img {
  top: 2px; }

#viewer section li:nth-child(4) img {
  top: 1px; }

.feature-list {
  position: relative;
  margin-top: 80px; }

#viewer {
  padding: 80px 0;
  position: relative;
  overflow: visible; }

#viewer h2 {
  color: #111; }

#viewer section p.title {
  color: #222;
  font-weight: 400; }

#viewer .ss-half {
  background: url("/static/images/fs/ss-viewer.png") no-repeat;
  position: absolute;
  left: -360px;
  width: 617px;
  height: 687px;
  top: -25px; }

/*Retina*/
@media (-webkit-min-device-pixel-ratio: 1.5) {
  #viewer .ss-half {
    background: url("/static/images/fs/ss-viewer@2x.png") no-repeat;
    background-size: cover; } }
/* FOOTER FEATURE LISTS ------------------------------ */
#footer-features section ul li {
  padding-left: 0;
  left: 0;
  list-style: none;
  font-size: 16px;
  font-weight: 400; }

#footer-features h2 {
  letter-spacing: 0;
  text-align: center;
  font-size: 30px;
  margin-bottom: 60px; }

/* FOOTER  ------------------------------ */
#footer-features ul {
  margin-bottom: 80px; }

#footer h2 {
  text-align: left;
  float: left;
  margin: 0;
  color: #333;
  font-size: 28px;
  line-height: 1.1;
  display: none; }

#footer a {
  margin-bottom: 0; }

#footer a.green {
  margin-right: 10px; }

#footer a.green:hover {
  color: #fff;
  box-shadow: none; }

@media only screen and (max-width: 1024px) {
  #screenshot-copy p {
    font-size: 17px; }

  .inner {
    max-width: 680px; } }
@media only screen and (max-width: 900px) {
  #header h1 {
    font-size: 64px; }

  .inner {
    max-width: 680px; }

  #screenshot-copy li {
    max-width: 260px; } }
/* MOBILE NAVIGATION ------------------- */
@media only screen and (max-width: 768px) {
  .half section {
    width: 48%; }

  p {
    font-size: 16px; }

  h5 {
    font-size: 30px;
    max-width: 500px; }

  #screenshot-copy li {
    max-width: 48%; }

  #screenshot-copy li:first-child {
    margin-right: 2%; }

  #carousel, #carousel-inapp {
    display: none; } }
@media only screen and (max-width: 580px) {
  #wrapper.index {
    padding: 40px 0; }

  img.app-icon {
    width: 180px;
    margin-left: -90px;
    bottom: -68px; }

  #header h1 {
    margin-top: 40px; }

  #header h2 {
    font-size: 22px; }

  .half section {
    max-width: 100%;
    float: none;
    text-align: center; }

  .half .right {
    float: none; }

  hr {
    margin: 40px auto; }

  #screenshot {
    margin-bottom: 40px; }

  h2 {
    font-size: 20px;
    margin-bottom: 10px; }

  p {
    margin-bottom: 0; }

  .feature-block, #start, #framer, h5, #footer-features, hr.block {
    display: none; }

  footer.global {
    padding-top: 40px;
    margin-top: 40px;
    margin-bottom: 0px; }

  #screenshot-copy li p {
    font-size: 15px; } }
@media only screen and (max-width: 440px) {
  #header h1, h2 {
    margin-top: 40px;
    font-size: 30px;
    font-weight: 200;
    letter-spacing: -1px;
    margin-bottom: 15px; }

  #illustration {
    max-height: 215px;
    padding: 10px; }

  img.blueprint {
    margin-top: 0; }

  p {
    line-height: 1.5; }

  hr {
    display: none; }

  #header h2 {
    font-size: 17px;
    font-weight: 300; }

  img.app-icon {
    width: 140px;
    margin-left: -70px;
    bottom: -50px; }

  #screenshot-copy li:first-child:after, #screenshot-copy li:last-child:after {
    display: none; }

  /*Flip the screenshot texts */
  #screenshot-copy {
    display: none; }

  section.mobile {
    display: block;
    text-align: center;
    margin-bottom: 40px; } }
