{% extends "base-menu.html" %}
{% block main %}

<h1 id="install">Install and Setup</h1>

<p>
	To get started, download Framer and unzip it. From there you use the Framer app to <a href="{% url '/start/index.html' %}#photoshop">generate a new project</a> from a Photoshop file. Or you can begin from scratch with the template:
</p>

<ul>
	<li>Open <span class="code">index.html</span> in Safari or Chrome</li>
	<li>Start editing <span class="code">app.js</a></li>
</ul>

<h1>Motivation</h1>

<p>Many people already prototype in the browser. It's simple and quick. But while html/js/css/jquery gets a lot done it has some downsides:</p>

<ul>
	<li>It can get pretty complicated mixing all the different technologies</li>
	<li>It can be hard to get the pixel perfect control you want</li>
	<li>It's not always performant, especially on mobile</li>
	<li>It's pretty far from how it will be actually implemented if you prototype for native</li>
</ul>

<p>Framer tries to solve some of these problems by providing a very lightweight framework modeled after larger application frameworks. The basic idea is that you only need a few simple building blocks like images, animation and events to build and test complex interactions.</p>

<p>Inspired by <a href="https://github.com/rsms">Rasmus</a> excellent <a href="http://rsms.me/uilayer/">UILayer</a>, it uses modern webkit technologies to leverage the graphics card, so it runs smooth on both desktop and mobile.</p>

<p>Framer can be seen as an alternative to <a href="http://www.adobe.com/products/flash.html">Flash</a> or <a href="https://developer.apple.com/technologies/mac/graphics-and-animation.html">Quartz Composer</a>. It's targeted at designers that can do basic javascript, up until experienced interface programmers.</p>


<h1 id="philosohpy">Philosophy</h1>

<p>
	Framer was built to solve an existing practical problem: it's damn hard to add behavior to your mocks. I sincerely hope the future will bring us tools that lets us express interaction more naturally than raw code. But today Framer nicely solves a problem, and that's what it was designed for.
</p>

<h1 id="users">Users</h1>

<p>
	Framer has been tested by a large group of volunteers and is used in the design departments of Facebook, Instagram, Google, Twitter, Dropbox and many other great companies and <a href="https://twitter.com/search?q=%20framerjs&src=typd">talented individuals</a>.
</p>

<h1 id="thanks">Thanks</h1>

<p>
	Many thanks to all the <a href="https://github.com/koenbok/Framer/contributors">contributors</a> and a special shout-out to Rasmus Andersson, Jorn van Dijk, Maykel Loomans, Brandon Souba, Aaron Carambula, Blaise DiPersia, Thomas Aylott, Robert Gaal and Noah Levin. 
</p>


<!-- <h1>Assumptions</h1>

<p>Although not strictly needed, it helps if you have a very basic understanding of:</p>

<ul>
	<li>HTML/CSS</li>
	<li>Javascript</li>
	<li>Object oriented programming</li>
</ul>

<h1>Alternatives</h1> -->

{% endblock %}
