{% extends "base-menu.html" %}
{% block main %}
<h1 id="photoshop">Photoshop Integration</h1>

<p class="intro">
	Framer comes with an application to convert your Photoshop document into a Framer project. This eliminates the need for slicing up your images and rebuilding your views in Framer. To get a quick overview of how this works see this video.
</p>

<p>
	<iframe src="http://player.vimeo.com/video/66300587" width="100%" height="313" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
</p>

<p>
	To begin, just open the Framer application, a Photoshop document and click Run. After running you will be presented with a folder containing your project. The project folder contents consists of images, the framework, view data, an index.html and app.js file. Open the index.html file in your browser to see your project.
</p>

<p>
	The <span class="code">app.js</span> file is where you start coding. By default it contains some example code that you can safely remove. Framer added an object called <span class="code">PSD</span> that has references to all your views by name. So if your layer group is called <span class="code">iPhone</span>, you can access it's views with <span class="code">PSD.iPhone</span> or <span class="code">PSD["iPhone"]</span>. The views are normal Framer views, so for example to animate an the view created from the layer group named iPhone you can do:
	<pre class="code" data-language="javascript">
PSD.iPhone.on("click", function() {
  PSD.iPhone.animate({
    properties: {scale: 2.0}
  })
})</pre>
</p>

<p>
	From this point you can use Framer like you normally would to basically add behavior to your Photoshop mock. You can also safely run Framer again after a change in Photoshop, it will update the views but not touch your code.
</p>

<p>
	The rules for converting Photoshop files are:
	<ul>
		<li>Every layer group will become an ImageView, backed by the pixel and/or shape layers in that layer group.</li>
		<li>Views are accessible by name under the <span class="code">PSD</span> object.</li>
		<li>Framer respects the layer hierarchy, so a sub layer group will become a subview. This way you can define your view structure in Photoshop.</li>
		<li>Layer groups with vector masks will become views with clipping enabled. You can optionally add "scroll" to the layer group name to make it a ScrollView.</li>
		<li>Layer group names should be unique, if they're not Framer will silently rename them on export.</li>
	</ul>
</p>


<h1 id="javascript">Learning Javascript</h1>

<p>
	If you don't know any Javascript or are just beginning, don't worry. There are many great resources to get started and while it might seem hard at first you'll see that you'll get better quickly. It's also good to know that Javascript is worth learning even apart from Framer, as you can do web, application and backend development with it. Most people agree it's a language with a future.
</p>

<p>
	Some great Javascript resources:
</p>

<table border="0" cellspacing="0" cellpadding="0">
	<tr>
		<th>Site</th>
		<th>Description</th>
	</tr>
	<tr>
		<td><a href="http://www.codecademy.com/tracks/javascript">Code Academy</a></td>
		<td>Free high quality online Javascript course. Start here if you don't know any Javascript</td>
	</tr>
	<tr>
		<td><a href="https://developer.mozilla.org/en-US/learn/javascript">Mozilla Dev Center</a></td>
		<td>Mozilla's resources to get started with Javascript.</td>
	</tr>
</table>

<h1 id="debugging">Debugging</h1>

<p>
	Because Framer runs in the browser you can use all the <a href="https://developers.google.com/chrome-developer-tools/">debugging tools</a> available like the console, timeline, profiler and debugger. Framer will alert you when a Javascript error occurred.
</p>

<p>
	Additionally, Framer has a few keyboard shortcuts to help with specific debug tasks:
</p>

<table border="0" cellspacing="0" cellpadding="0">
	<tr>
		<th>Key</th>
		<th>Description</th>
	</tr>
	<tr>
		<td>Escape (toggle)</td>
		<td>Switch between the normal view and a debug view of all layers. Useful to inspect structure and positions.</td>
	</tr>
	<tr>
		<td>Shift (hold)</td>
		<td>While shift is pressed, Framer will delay the time by 25x. This will slow down animations and timers like utils.delay and utils.interval. Great to inspect animations carefully.</td>
	</tr>
</table>

<h1 id="faq">Frequently Asked Questions</h1>

<h2>Can I use Framer with Sketch</h2>
<p>
	Yes. We have an experimental <a href="https://github.com/bomberstudios/sketch-framer">Sketch plugin here</a>. We're working on getting Sketch support in the main Framer app directly.
</p>

<h2>Why does performance on mobile seem worse?</h2>
<p>
	If you see delays when running you prototype on mobile, it's very likely that it because of the <a href="https://developers.google.com/mobile/articles/fast_buttons">500ms click delay in mobile browsers</a>. In a nutshell, mobile browsers have to distinguish a click event from a hover or right click and they use a small delay to do so.
</p>
<p>
	Fortunately it is easy to get rid of these. The most straightforward way is to use a "touchstart" or "touchend" event instead of the "click" event. For other ways you can check this <a href="http://stackoverflow.com/questions/12238587/eliminate-300ms-delay-on-click-events-in-mobile-safari">stack overflow thread</a>.
</p>


<h2>Can I use Framer on Windows?</h2>
<p>
	Yes. The core of Framer is a Javascript library that works on all platforms. You can use the Photoshop integration too, but you have to run the raw jsx script. <a href="/static/downloads/FramerPS.jsx.zip">Download it here</a>, unzip it, make sure you have a document open and double click the file.
</p>


{% endblock %}
