{% extends "base.html" %}
{% block isindex %}class="index"{% endblock isindex %}
{% block hide %}hide{% endblock hide %}
{% block studioclass %}is-active{% endblock %}

{% block studioheader %}
<figure id="illustration">
	<img class="blueprint 2x" src="/static/images/fs/illustration-blueprint.png">
	<img class="app-icon 2x" src="/static/images/fs/256.png">
</figure>
{% endblock studioheader %}


{% block sidebarclass %}class="studio"{% endblock %}
{% block content %}

	<link rel="stylesheet" href="{% static '/static/css/style-studio.css' %}">
	
	<div class="inner">
	<header id="header">
		<h1><span>Framer</span> Studio</h1>
		<h2>A new kind of prototyping tool for Mac. The best way to work with Framer.</h2>
		<a class="green" href="/">Download</a>
		<a href="/">Buy Now</a>
	</header>
	
	</div> <!--inner-->
	
	<section id="screenshot">
	<img class="2x studio" src="/static/images/fs/ui-studio.png">
	</section>
	
	<div class="inner">
	<section id="screenshot-copy" class="clearfix">
		<li>
			<h2>Editor</h2>
			<p>Define animations and interactions in code.</p>
		</li>
		<li>
			<h2>Preview</h2>
			<p>With instant visual feedback while you're working.</p>
		</li>		
	</section>
	
	<section class="mobile">
		<h2>Editor & Preview</h2>
		<p>Define animations and interactions in code. See results instantly. </p>
	</section>
	</div><!--inner-->
	

	<div class="inner">
	
	<hr>
	
	<section id="framer" class="half clearfix">
		<section>
			<h3>Built on Framer</h3>
			<p>Framer Studio is built on Framer.js, an open source framework for rapid prototyping. Framer allows you to define animations and interactions. It runs on mobile devices, too.</p>
		</section>
		
		<section class="right">
		<a href="http://examples.framerjs.com/#Google%20Now%20-%20Overview.framer"><img class="icon-gen 2x" src="/static/images/fs/illustration-framer.png"></a>
		</section>
		
		<ul>	
			<section>
				<li>Fully Open Source</li>
				<li>Hardware Accelerated</li>
				<li>Events and 3D Animations</li>
				<li>Spring Physics</li>
				<li>Based on WebKit</li>
			</section>
		</ul>
	</section> <!---framer block --->
	
	</div><!--inner-->
	<figure class="quote"><h5>“When prototyping, you're not only considering how your design looks, but also how it feels.”</h5></figure>
	<div class="inner">
	
	<section id="start" class="half clearfix">
		<section>
			<img class="2x" src="/static/images/fs/generate.png">
		</section>

		<section class="right">
			<h3>Integrated Workflow</h3>
			<p>Framer Studio has Photoshop & Sketch integration, allowing you to import layers directly from your static designs and turn them into interactive prototypes.</p>
		</section>
	</section> <!--start block -->
		
	</div> <!--inner-->
	
	<section id="interaction" class="feature-block half clearfix">
		
		<div class="inner">
			<h2>Discover new interactions.</h2>
			<h4>Framer Studio embraces code for its flexibility.<br> Its smart editor is built to simplify coding.</h4>
		
		<hr class="block"> 
		<div class="feature-list">
			<figure class="ss-half"></figure>
			<section>
				<li><img src="/static/images/fs/icon-cs.png"><p class="title">CoffeeScript</p>
				<p>Framer Studio uses CoffeeScript, a much more legible and minimal way to write JavaScript.</p></li>
				
				<li><img src="/static/images/fs/icon-snippets.png"><p class="title">Snippets</p>
				<p>Framer Studio comes with a built-in snippet library. Add layers and interactions with a single click.</p></li>
				
				<li><img src="/static/images/fs/icon-autocomplete.png"><p class="title">Auto-Complete</p>
				<p>Optimized for Framer. Includes all functions, properties, variables and layer names you have set.</p></li>
				
				<li><img src="/static/images/fs/icon-errors.png"><p class="title">Inline Errors</p>
				<p>Quickly find out what is going wrong. Dive deep with the built in Javascript console.</p></li>
			</section>
		</div> <!--feature-list-->
		
			
		</div> <!--inner-->
	</section> <!--interaction-block -->
	
	<section id="viewer" class="feature-block half clearfix">
		
		<div class="inner">
			<h2>See what you're creating.</h2>
			<h4>Instant interactive visual feedback, multiple devices and a full-screen presentation mode.</h4>
			<hr class="block"> 
			<div class="feature-list">
				<figure class="ss-half"></figure>
				<section class="right">
					<li><img src="/static/images/fs/icon-present.png"><p class="title">Present</p>
					<p>Use the full screen presentation mode for an interactive immersive demo of your prototype.</p></li>
					
					<li><img src="/static/images/fs/icon-preview.png"><p class="title">Preview</p>
					<p>Instant pixel perfect previews while you are building. Customize the delay to your liking per project.</p></li>
					
					<li><img src="/static/images/fs/icon-devices.png"><p class="title">Devices</p>
					<p>iPhones, iPad or Android devices included. Or bring your own with the full screen mode. </p></li>
					
					<li><img src="/static/images/fs/icon-share.png"><p class="title">Share & Export</p>
					<p>Share your project document with others. Or export to upload online.</p></li>
				</section><!--right-->
			</div> <!--feature-list-->
				
		</div> <!--inner-->
		</section> <!--viewer-block -->
	
	
	<!-- Quote 2 -->
	<figure class="quote bottom">
	<h5>“Prototyping encourages exploration and helps designers effectively communicate concepts.”</h5>
	</figure>
	
	
	<div class="inner">

	<section id="footer-features" class="one-third clearfix">
		<h2>And many more features.</h2>
		<section>
			<ul>
				<li>Visual feedback</li>
				<li>Presentation Mode</li>
				<li>Multiple Devices</li>
				<li>Zoom & Scale</li>
				<li>Web Inspector</li>
				<li>Generator</li>
			</ul>
		</section>
		<section>
			<ul>
				<li>Snippets</li>
				<li>CoffeeScript</li>
				<li>Drag ’n Drop Images</li>
				<li>Inline Errors</li>
				<li>Auto-Complete</li>
				<li>State Machine</li>
			</ul>
		</section>
		
		<section>
			<ul>
				<li>Midi-Support</li>
				<li>Self-contained projects</li>
				<li>Adjust Auto-Refresh</li>
				<li>Full Javascript console</li>
				<li>Export to .framer</li>
				<li>Based on WebKit</li>
			</ul>
		</section>
		
	</section>
	
	<footer id="footer" class="clearfix">
		<h2>Start prototyping today.</h2>
		<section>
		<a class="green" href="/">Download</a>
		<a href="/">Buy Now</a>
		</section>
	</footer>
	
	<footer class="global">
		<p class="small">Site built with <a href="http://www.cactusformac.com" target="_blank">Cactus</a><br>Copyright &copy; 2014 Podium BV</p>
		

	</footer>
	</div> <!--inner-->

{% endblock content%}