{% extends "base.html" %}
{% block sidebarclass %}docs{% endblock %}

{% block content %}
{% filter markdown %}

<!-- Docs -->
<a name="docs"></a>
### Docs

The core of Framer is a Javascript Framework that enables you to define interaction and animation in a simple, readable way. It's a small .js file that makes creating realistic prototypes a breeze – complete with animations, spring physics and 3D effects.

---

<a name="layerstwo"></a>
<!-- Layers -->
### Layers

<table border="0" cellspacing="0" cellpadding="0" class="api">
	<tbody>
	<tr>
		<th>Property</th>
		<th>Description</th>
	</tr>
	
	<tr>
		<td colspan="2" class="group">Geometry</td>
	</tr>
	
	<tr>
		<td>x <span class="dim">minX, midX, maxX</span></td>
		<td>x position</td>
	</tr>
	<tr>
		<td>y <span class="dim">minY, midY, maxY</span></td>
		<td>y position</td>
	</tr>
	<tr>
		<td>width</td>
		<td>width</td>
	</tr>
	<tr>
		<td>height</td>
		<td>height</td>
	</tr>
	<tr>
		<td>frame</td>
		<td>this frame x, y, width and height values</td>
	</tr>
	<tr>
		<td>screenFrame</td>
		<td>get this views absolute frame on the screen</td>
	</tr>
	<tr>
		<td>contentFrame()</td>
		<td>the frame for the total size of all subviews</td>
	</tr>
	<tr>
		<td>centerFrame()</td>
		<td>the centered frame in this views superView</td>
	</tr>

	<tr>
		<td colspan="2" class="group">Visual</td>
	</tr>

	<tr>
		<td>visible</td>
		<td>toggles views visibility</td>
	</tr>
	<tr>
		<td>opacity</td>
		<td>opacity between 0 and 1</td>
	</tr>
	<tr>
		<td>clip</td>
		<td>toggles wether view should clip subviews</td>
	</tr>
	<tr>
		<td>rotation <span class="dim">rotationX, rotationY, rotationZ</span></td>
		<td>rotation in degrees</td>
	</tr>
	<tr>
		<td>scale <span class="dim">scaleX, scaleY, scaleZ</span></td>
		<td>scale between 0 and 1</td>
	</tr>

	<tr>
		<td colspan="2" class="group">Hierarchy</td>
	</tr>

	<tr>
		<td>superView</td>
		<td>the view that contains this view</td>
	</tr>
	<tr>
		<td>subViews</td>
		<td>the views contained by this view</td>
	</tr>
	<tr>
		<td>addSubView(view)</td>
		<td>add a subview to this view</td>
	</tr>
	<tr>
		<td>removeSubView(view)</td>
		<td>remove a subview from this views subviews</td>
	</tr>
	<tr>
		<td>siblingViews</td>
		<td>the subviews of this views superview</td>
	</tr>
	
	<tr>
		<td colspan="2" class="group">Ordering</td>
	</tr>
	
	<tr>
		<td>index</td>
		<td>this views layering position index</td>
	</tr>
	<tr>
		<td>placeBefore(view)</td>
		<td>place this view on top of other view</td>
	</tr>
	<tr>
		<td>placeBehind(view)</td>
		<td>place this view behind another view</td>
	</tr>
	<tr>
		<td>bringToFront()</td>
		<td>place this view in front of all sibling views</td>
	</tr>
	<tr>
		<td>sendToBack()</td>
		<td>place this view behind all sibling views</td>
	</tr>

	<tr>
		<td colspan="2" class="group">HTML</td>
	</tr>

	<tr>
		<td>style</td>
		<td>css properties for this layer</td>
	</tr>
	<tr>
		<td>html</td>
		<td>html contents for this layer</td>
	</tr>
	<tr>
		<td>destroy()</td>
		<td>destroy this view</td>
	</tr>

	<tr>
		<td colspan="2" class="group" id="view.filters">Filters</td>
	</tr>
	
	<tr>
		<td>blur</td>
		<td>gaussian blur in pixels</td>
	</tr>
	<tr>
		<td>brightness</td>
		<td>brightness in percent</td>
	</tr>
	<tr>
		<td>saturate</td>
		<td>saturation in percent</td>
	</tr>
	<tr>
		<td>hueRotate</td>
		<td>hue rotation in degrees</td>
	</tr>
	<tr>
		<td>contrast</td>
		<td>contrast in percent</td>
	</tr>
	<tr>
		<td>invert</td>
		<td>color inversion in percent</td>
	</tr>
	<tr>
		<td>grayscale</td>
		<td>grayscale in percent</td>
	</tr>
	<tr>
		<td>sepia</td>
		<td>sepia in percent</td>
	</tr>
	
	<tr>
		<td colspan="2" class="group">Animation</td>
	</tr>
	
	<tr>
		<td>animate({...})</td>
		<td>create and start an Animation on this view, returns the Animation object</td>
	</tr>
	<tr>
		<td>animateStop()</td>
		<td>stop all animations on this view</td>
	</tr>
	<tr>
		<td>on(event, function)</td>
		<td>
			listen to events: click, mouseover, change:property, etc
		</td>
	</tr>
</tbody></table>
<hr>

<!-- Animations -->
<a name="animations"></a>

### Animations
<table border="0" cellspacing="0" cellpadding="0" class="api">
	<tbody>
	<tr>
		<th>Property</th>
		<th>Description</th>
		<th>Examples</th>
	</tr>
	<tr>
		<td>view</td>
		<td>view that is animated</td>
	</tr>
	<tr>
		<td>properties</td>
		<td>properties being animated (x, y, width, height, opacity, scale, rotation, filters)</td>
	</tr>
	<tr>
		<td>curve</td>
		<td>
			curve used for animation
			<ul>
				<li>linear, ease-in, ease-out</li>
				<li>bezier-curve(a, b, c, d)</li>
				<li>spring(tension, friction, velocity)<br>
					Tension is the stiffness of the spring, friction the amount of effort it takes to move the object and velocity the initial velocity of the object.
					</li>
			
		</ul></td>
	</tr>
	<tr>
		<td>time</td>
		<td>time to animate in milliseconds (ignored for springs)</td>
	</tr>
	<tr>
		<td>origin</td>
		<td>origin to transform from in percent "50% 50%"</td>
	</tr>
	<tr>
		<td>start()</td>
		<td>start the animation</td>
	</tr>
	<tr>
		<td>stop()</td>
		<td>stop the animation</td>
	</tr>
	<tr>
		<td>reverse()</td>
		<td>returns the opposite animation to this one</td>
	</tr>
	<tr>
		<td>on(event, function)</td>
		<td>
			listen to events: end
		</td>
	</tr>

</tbody></table>

<hr>

<!-- Utilities -->
<a name="utilities"></a>

### Utilities
<table border="0" cellspacing="0" cellpadding="0" class="api">
	<tbody><tr>
		<th>Function</th>
		<th>Description</th>
		<th>Examples</th>
	</tr>
	<tr>
		<td>cycle([1, 2, ...])</td>
		<td>Returns a function that returns the next value every time you call it.</td>
	</tr>
	<tr>
		<td>randomColor(alpha)</td>
		<td>Returns a random color string.</td>
	</tr>

	<tr>
		<td>delay(time, function)</td>
		<td>Executes the function after time in ms. Holding shift will slow this down 25x.</td>
	</tr>
	<tr>
		<td>interval(time, function)</td>
		<td>Executes the function every x ms.</td>
	</tr>

	<tr>
		<td>throttle(time, function)</td>
		<td>Call function at most once every x ms.</td>
	</tr>
	<tr>
		<td>debounce(time, function)</td>
		<td>Call function only when being stopped calling for x ms.</td>
	</tr>

	<tr>
		<td>convertPoint(point, viewA, viewB)</td>
		<td>Converts a point location from one views coordinate system to another.</td>
	</tr>

	<tr>
		<td>max([..])</td>
		<td>Returns the largest value in an array.</td>
	</tr>
	<tr>
		<td>min([..])</td>
		<td>Returns the smallest value in an array.</td>
	</tr>
	<tr>
		<td>sum([..])</td>
		<td>Returns the sum of an array.</td>
	</tr>

	<tr>
		<td>uuid()</td>
		<td>Returns a random hex uuid string.</td>
	</tr>

	<tr>
		<td>round(number, decimals)</td>
		<td>Rounds a number to x decimals.</td>
	</tr>

	<tr>
		<td>isWebKit()</td>
		<td>Returns wether this is a webkit browser.</td>
	</tr>
	<tr>
		<td>isMobile()</td>
		<td>Returns wether this is a mobile device.</td>
	</tr>
	<tr>
		<td>isTouch()</td>
		<td>Returns wether this is a touch device.</td>
	</tr>

</tbody></table>
<hr>

<!-- Defaults -->
<a name="defaults"></a>

### Defaults
<table border="0" cellspacing="0" cellpadding="0" class="api">
	<tbody><tr>
		<th>Property</th>
		<th>Description</th>
		<th width="20px">Examples</th>
	</tr>
	<tr>
		<td>timeSpeedFactor</td>
		<td>Current speed of time. Used to slow down animations and timers. Default value is 1.</td>
	</tr>
	<tr>
		<td>roundingDecimals</td>
		<td>Rounding setting when generating css values. Default value is 5.</td>
	</tr>

	<tr>
		<td>animationPrecision</td>
		<td>Number of css keyframes per second to generate for animations. Default value is 60.</td>
	</tr>
	<tr>
		<td>animationDebug</td>
		<td>Global setting to debug all animations. Default value is false.</td>
	</tr>

	<tr>
		<td>animationProfile</td>
		<td>Global setting to profile all animations. Default value is false.</td>
	</tr>
</tbody></table>
<hr>

{% endfilter %}	
{% endblock content%}