{% extends "base.html" %}
{% block sidebarclass %}docs{% endblock %}

{% block content %}
{% filter markdown %}

<!-- Docs -->
<a name="docs"></a>
### Docs

Below you'll find documentation for much of Framer. We've tried to be as complete as possible, but if you're looking for more you should always check the <a href="https://github.com/koenbok/Framer" target="_blank">Framer source</a> on Github.

---

<a name="layers"></a>
<!-- Layers -->
### Layers

<table border="0" cellspacing="0" cellpadding="0" class="api">
	<tbody>
	<tr>
		<th>Property</th>
		<th>Description</th>
		<th class="examples">Examples</th>
	</tr>

	<tr>
		<td colspan="3" class="group">Basic</td>
	</tr>

	<tr>
		<td>id</td>
		<td>layer id (readonly)</td>
	</tr>
	<tr>
		<td>name</td>
		<td>layer name</td>
		<td class="examples"><a target="_blank" href="http://examples.framerjs.com/#layer-properties.framer">1</a></td>
	</tr>
	<tr>
		<td>properties</td>
		<td>all current properties for this layer</td>
		<td class="examples">
			<a target="_blank" href="http://examples.framerjs.com/#layer-properties.framer">1</a>
		<a target="_blank" href="http://examples.framerjs.com/#animation-basics.framer">2</a>
		</td>
	</tr>

	<tr>
		<td colspan="3" class="group">Geometry</td>
	</tr>
	
	<tr>
		<td>x <span class="dim">minX, midX, maxX</span></td>
		<td>x position</td>
	</tr>
	<tr>
		<td>y <span class="dim">minY, midY, maxY</span></td>
		<td>y position</td>
	</tr>
	<tr>
		<td>z</td>
		<td>z position</td>
	</tr>
	<tr>
		<td>width</td>
		<td>width</td>
	</tr>
	<tr>
		<td>height</td>
		<td>height</td>
	</tr>
	<tr>
		<td>frame</td>
		<td>object with x, y, width and height values</td>
	</tr>
	<tr>
		<td>screenFrame()</td>
		<td>get this layer's absolute frame on the screen</td>
	</tr>
	<tr>
		<td>contentFrame()</td>
		<td>the frame for the total size of all the subLayers combined</td>
	</tr>
	<tr>
		<td>centerFrame()</td>
		<td>the centered frame for this layer</td>
	</tr>
	<tr>
		<td>center() <span class="dim">centerX(), centerY()</span></td>
		<td>center this layer</td>
		<td class="examples"><a target="_blank" href="http://examples.framerjs.com/#draggable-momentum.framer">1</a></td>
	</tr>
	<tr>
		<td>pixelAlign()</span></td>
		<td>round the x and y values to whole pixels</td>
	</tr>

	<tr>
		<td colspan="3" class="group">Visual</td>
	</tr>
	<tr>
		<td>backgroundColor</td>
		<td>set html background color</td>
	</tr>
	<tr>
		<td>visible</td>
		<td>toggles layer's visibility</td>
	</tr>
	<tr>
		<td>opacity</td>
		<td>opacity between 0 and 1</td>
	</tr>
	<tr>
		<td>clip</td>
		<td>toggles whether layer should clip subLayers</td>
	</tr>
	<tr>
		<td>rotation <span class="dim">rotationX, rotationY, rotationZ</span></td>
		<td>rotation in degrees</td>
		<td class="examples"><a target="_blank" href="http://examples.framerjs.com/#animation-basics.framer">1</a></td>
	</tr>
	<tr>
		<td>scale <span class="dim">scaleX, scaleY, scaleZ</span></td>
		<td>scale between 0 and 1</td>
		
		<td class="examples">
		<a target="_blank" href="http://examples.framerjs.com/#event-basics.framer">1</a>
		<a target="_blank" href="http://examples.framerjs.com/#event-checkmark.framer">2</a>
		<a target="_blank" href="http://examples.framerjs.com/#layer-properties.framer">3</a>
		</td>
	</tr>
	<tr>
		<td>originX, originY</span></td>
		<td>origin of scale and/or rotation transformation</td>
		<td class="examples"><a target="_blank" href="http://examples.framerjs.com/#animation-changing-animation-origin.framer">1</a></td>
	</tr>

	<tr>
		<td colspan="3" class="group">Images</td>
	</tr>

	<tr>
		<td>image</td>
		<td>set the image url for this layer</td>
		<td class="examples"><a target="_blank" href="http://examples.framerjs.com/#event-checkmark.framer">1</a></td>
	</tr>
	
	<tr>
		<td colspan="3" class="group">Hierarchy</td>
	</tr>

	<tr>
		<td>superLayer</td>
		<td>the layer that contains this layer</td>
	</tr>
	<tr>
		<td>subLayers</td>
		<td>the layers contained by this layer</td>
	</tr>
	<tr>
		<td>subLayersByName("name")</td>
		<td>returns array of subLayers by name</td>
	</tr>
	<tr>
		<td>addSubLayer(layer)</td>
		<td>add a subLayer to this layer</td>
	</tr>
	<tr>
		<td>removeSubLayer(layer)</td>
		<td>remove a sub layer from this layer's subLayers</td>
	</tr>
	<tr>
		<td>siblingLayers</td>
		<td>the subLayers of this layer's superLayer</td>
	</tr>

	
	<tr>
		<td colspan="3" class="group">Ordering</td>
	</tr>
	
	<tr>
		<td>index</td>
		<td>this layer's layering position index</td>
	</tr>
	<tr>
		<td>placeBefore(layer)</td>
		<td>place this layer on top of another layer</td>
	</tr>
	<tr>
		<td>placeBehind(layer)</td>
		<td>place this layer behind another layer</td>
	</tr>
	<tr>
		<td>bringToFront()</td>
		<td>place this layer in front of all sibling layers</td>
	</tr>
	<tr>
		<td>sendToBack()</td>
		<td>place this layer behind all sibling layers</td>
	</tr>

	<tr>
		<td colspan="3" class="group">HTML</td>
	</tr>

	<tr>
		<td>style</td>
		<td>css properties for this layer</td>
		<td class="examples"><a target="_blank" href="http://examples.framerjs.com/#animation-chaining-animations.framer">2</a></td>
	</tr>
	<tr>
		<td>html</td>
		<td>html contents for this layer</td>
		<td class="examples"><a target="_blank" href="http://examples.framerjs.com/#event-basics.framer">1</a></td>
	</tr>
	<tr>
		<td>destroy()</td>
		<td>destroy this layer from the DOM</td>
		<td class="examples"><a target="_blank" href="http://examples.framerjs.com/#carousel-onboarding.framer">1</a></td>
	</tr>

	<tr>
		<td colspan="3" class="group" id="layer.filters">Filters</td>
	</tr>
	
	<tr>
		<td>blur</td>
		<td>gaussian blur in pixels</td>
		<td class="examples"><a target="_blank" href="http://examples.framerjs.com/#layer-properties.framer">1</a></td>
	</tr>
	<tr>
		<td>brightness</td>
		<td>brightness in percent</td>
	</tr>
	<tr>
		<td>saturate</td>
		<td>saturation in percent</td>
	</tr>
	<tr>
		<td>hueRotate</td>
		<td>hue rotation in degrees</td>
	</tr>
	<tr>
		<td>contrast</td>
		<td>contrast in percent</td>
	</tr>
	<tr>
		<td>invert</td>
		<td>color inversion in percent</td>
	</tr>
	<tr>
		<td>grayscale</td>
		<td>grayscale in percent</td>
	</tr>
	<tr>
		<td>sepia</td>
		<td>sepia in percent</td>
	</tr>
	
	<tr>
		<td colspan="3" class="group">Animation</td>
	</tr>
	
	<tr>
		<td>animate({...})</td>
		<td>create and start an animation on this layer, returns the animation object</td>
	</tr>
	<tr>
		<td>animations()</td>
		<td>return array of all current running animations on this layer</td>
	</tr>
	<tr>
		<td>animateStop()</td>
		<td>stop all animations on this layer</td>
	</tr>

	<tr>
		<td colspan="3" class="group">Scrolling</td>
	</tr>

	<tr>
		<td>scroll <span class="dim">scrollHorizontal, scrollVertical</span></td>
		<td>enable scrolling</td>
	</tr>
	<tr>
		<td>scrollX, scrollY</td>
		<td>scroll positions</td>
	</tr>
<!-- 	<tr>
		<td>scrollFrame</td>
		<td>current scroll position for layer</td>
	</tr> -->

	<tr>
		<td colspan="3" class="group">Draggable</td>
	</tr>

	<tr>
		<td>draggable.enabled</td>
		<td>toggle layer dragging</td>
		<td class="examples"><a target="_blank" href="http://examples.framerjs.com/#draggable-momentum.framer">1</a></td>
	</tr>

	<tr>
		<td>draggable.speedX, draggable.speedY</td>
		<td>layer dragging speed (resistance)</td>
	</tr>

	<tr>
		<td>draggable.calculateVelocity()</td>
		<td>x and y velocity over the last 0.1 second</td>
	</tr>

	<tr>
		<td colspan="3" class="group">States</td>
	</tr>

	<tr>
		<td>states.animationOptions</td>
		<td>set the default animation option, takes the same input as .animate()</td>
	</tr>
	<tr>
		<td>states.add("name", {...})</td>
		<td>add a state</td>
		<td class="examples"><a target="_blank" href="http://examples.framerjs.com/#state-machine-basics.framer">1</a></td>
	</tr>
	<tr>
		<td>states.remove("name")</td>
		<td>remove a state</td>
	</tr>
	<tr>
		<td>states.switch("name")</td>
		<td>switch to a state with the default animation options</td>
	</tr>
	<tr>
		<td>states.current</td>
		<td>returns the name of the current state</td>
	</tr>
	<tr>
		<td>states.switchInstant("name")</td>
		<td>switch to a state instantly with no animation</td>
	</tr>
	<tr>
		<td>states.next("nameA", "nameB", "nameC")</td>
		<td>switch to the next state in the list</td>
	</tr>

	<tr>
		<td colspan="3" class="group">Events</td>
	</tr>
	<tr>
		<td>ignoreEvents</td>
		<td>
			layer will ignore user events. Is set to false once you add an event listener
		</td>
	</tr>
	<tr>
		<td>on(event, function)</td>
		<td>listen to events: click, mouseover, change:property, etc</td>
		<td class="examples"><a target="_blank" href="http://examples.framerjs.com/#event-basics.framer">1</a></td>
	</tr>
</tbody></table>
<hr>

<!-- Animations -->
<a name="animations"></a>

### Animations

Framer supports many different types of animations, including springs and bezier curves.

<table border="0" cellspacing="0" cellpadding="0" class="api">
	<tbody>
	<tr>
		<th>Property</th>
		<th>Description</th>
		<th class="examples">Examples</th>
	</tr>
	<tr>
		<td>layer</td>
		<td>layer that is animated</td>
	</tr>
	<tr>
		<td>properties</td>
		<td>properties being animated (x, y, width, height, opacity, scale, rotation, filters)</td>
	</tr>
	<tr>
		<td>curve</td>
		<td>
			curve used for animation:

			<ul>
				<li>"linear"</li>
				<li>"bezier-curve"</li>
				<li>"spring-rk4" Runge-Kutta spring</li>
				<li>"spring-dho" Damping harmonic oscillator spring</li>
				<li>"spring" same as "spring-rk4"</li>
			</ul>


			<!-- <ul>
				<li>linear, ease-in, ease-out</li>
				<li>bezier-curve(a, b, c, d)</li>
				<li>spring(tension, friction, velocity)<br>
					Tension is the stiffness of the spring, friction the amount of effort it takes to move the object and velocity the initial velocity of the object.
				</li>
			</ul> -->
		</td>
	</tr>
	<tr>
		<td>curveOptions</td>
		<td>
			options for used curve

			<ul>
				<li>bezier-curve: "ease-in", "ease-out", "ease-in-out", [0, 1, 0, 1]</li>
				<li>spring-rk4: friction, tension, velocity, tolerance
				<li>spring-dho: stiffness, damping, mass, velocity, tolerance</li>
			</ul>
		</td>
		
		<td class="examples"><a target="_blank" href="http://examples.framerjs.com/#animation-chaining-animations.framer">1</a></td>
	</tr>

	<tr>
		<td>time</td>
		<td>duration of the animation in seconds (ignored for springs)</td>
	</tr>
	<tr>
		<td>delay</td>
		<td>amount of seconds to delay the animation before start</td>
	</tr>
	<tr>
		<td>repeat</td>
		<td>number of times to repeat animation</td>
	</tr>
	<tr>
		<td>start()</td>
		<td>start the animation</td>
	</tr>
	<tr>
		<td>stop()</td>
		<td>stop the animation</td>
	</tr>
	<tr>
		<td>reverse()</td>
		<td>returns the opposite animation to this one</td>
	</tr>
	<tr>
		<td>on(event, function)</td>
		<td>
			listen to events: "start", "stop", "end"
		</td>
	</tr>

</tbody></table>

<hr>

<!-- Events -->
<a name="events"></a>

### Events

Events are things that happen to objects. They can originate from the user like a touch or mouse click, or from an animation that ends.

<table border="0" cellspacing="0" cellpadding="0" class="api">
	<tbody><tr>
		<th>Name</th>
		<th>Description</th>
		<th class="examples">Examples</th>
	</tr>

	<tr>
		<td colspan="3" class="group">Basic</td>
	</tr>

	<tr>
		<td>Events.Click </td>
		<td>Click or touch (no delay on mobile)</td>
		<td class="examples"><a target="_blank" href="http://examples.framerjs.com/#event-basics.framer">1</a></td>
	</tr>
	<tr>
		<td>Events.TouchStart</td>
		<td>Start a touch/click</td>
			<td class="examples"><a target="_blank" href="http://examples.framerjs.com/#event-checkmark.framer">1</a></td>
	</tr>

	<tr>
		<td>Events.TouchMove</td>
		<td>Touch move or mouse drag</td>
	</tr>
	<tr>
		<td>Events.TouchEnd</td>
		<td>End touch or click</td>
	</tr>

	<tr>
		<td colspan="3" class="group">Mouse</td>
	</tr>

	<tr>
		<td>Events.MouseOver</td>
		<td>Hover mouse</td>
	</tr>
	<tr>
		<td>Events.MouseOut</td>
		<td>Unhover mouse</td>
	</tr>

	<tr>
		<td colspan="3" class="group">Animation</td>
	</tr>

	<tr>
		<td>Events.AnimationStart</td>
		<td>Start animation</td>
	</tr>
	<tr>
		<td>Events.AnimationStop</td>
		<td>Stop animation</td>
	</tr>
	<tr>
		<td>Events.AnimationEnd</td>
		<td>End animation (reached end point)</td>
	</tr>

	<tr>
		<td colspan="3" class="group">Dragging</td>
	</tr>

	<tr>
		<td>Events.DragStart</td>
		<td>Start drag</td>
	</tr>
	<tr>
		<td>Events.DragMove</td>
		<td>Move drag</td>
	</tr>
	<tr>
		<td>Events.DragEnd</td>
		<td>End drag</td>
	</tr>

	<tr>
		<td colspan="3" class="group">Scroll</td>
	</tr>

	<tr>
		<td>Events.Scroll</td>
		<td>Did scroll, does not always work on mobile</td>
	</tr>

	<tr>
		<td colspan="3" class="group">States</td>
	</tr>

	<tr>
		<td>Events.StateWillSwitch</td>
		<td>About to switch to a new state</td>
	</tr>
	<tr>
		<td>Events.StateDidSwitch</td>
		<td>Just switched to new state</td>
	</tr>


</tbody></table>
<hr>

<!-- Utilities -->
<a name="utilities"></a>

### Utilities


Utilities is a collection of functions that make things easier to do. Lots of handy stuff here. Be sure to <a href="https://github.com/koenbok/Framer/blob/master/framer/Utils.coffee" target="_blank">check the source</a> to see everything.


<table border="0" cellspacing="0" cellpadding="0" class="api">
	<tbody><tr>
		<th>Function</th>
		<th>Description</th>
		<th class="examples">Examples</th>
	</tr>
	<tr>
		<td>cycle([1, 2, ...])</td>
		<td>Returns a function that returns the next value every time you call it.</td>
	</tr>
	<tr>
		<td>randomColor(alpha)</td>
		<td>Returns a random color string.</td>
	</tr>

	<tr>
		<td>delay(time, function)</td>
		<td>Executes the function after time in seconds</td>
	</tr>
	<tr>
		<td>interval(time, function)</td>
		<td>Executes the function every x seconds</td>
	</tr>

	<tr>
		<td>throttle(time, function)</td>
		<td>Call function at most once every x seconds</td>
	</tr>
	<tr>
		<td>debounce(time, function)</td>
		<td>Call function only when being stopped calling for x seconds</td>
	</tr>

	<tr>
		<td>convertPoint(point, layerA, layerB)</td>
		<td>Converts a point location from one layers coordinate system to another.</td>
	</tr>

	<tr>
		<td>labelLayer(layer, "text")</td>
		<td>Add centered text label to a layer.</td>
	</tr>

	<tr>
		<td>uuid()</td>
		<td>Returns a random hex uuid string.</td>
	</tr>

	<tr>
		<td>round(number, decimals)</td>
		<td>Rounds a number to x decimals.</td>
	</tr>

	<tr>
		<td>isWebKit()</td>
		<td>Returns wether this is a webkit browser.</td>
	</tr>
	<tr>
		<td>isMobile()</td>
		<td>Returns wether this is a mobile device.</td>
	</tr>
	<tr>
		<td>isTouch()</td>
		<td>Returns wether this is a touch device.</td>
	</tr>

</tbody></table>
<hr>



<!-- Defaults -->


<a name="defaults"></a>

### Defaults

The Framer.Defaults object contains all defaults for Layers and Animations.

<table border="0" cellspacing="0" cellpadding="0" class="api">
	<tbody><tr>
		<th>Property</th>
		<th>Description</th>
		<th class="examples">Examples</th>
	</tr>
	<tr>
		<td>Framer.Defaults.Layer</td>
		<td>Layer defaults</td>
	</tr>
	<tr>
		<td>Framer.Defaults.Animation</td>
		<td>Animation defaults</td>
	</tr>
	<tr>
		<td>Framer.resetDefaults()</td>
		<td>Reset to original defaults</td>
	</tr>
	</tbody></table>

{% endfilter %}	
{% endblock content%}
