{% extends "base.html" %}
{% block sidebarclass %}examples{% endblock %}
{% block content %}
{% filter markdown %}

<a name="examples"></a>
<!-- Examples -->

### Examples
<a name="examples"></a>
We're doing our best to list as many relevant prototypes here. Please tweet your work to <a href="http://twitter.com/framerjs" target="_blank">@framerjs</a>!

<hr>
<a name="prototypes"></a>

<!-- Prototypes -->

### Prototypes
These prototypes are all build with Framer. Press &#8997;&#8984;U to view the source, find the scripts folder and check out app.js to learn more.

<table class="last">
		<tbody><tr>
			<th width="180px">Site</th>
			<th>Description</th>
		</tr>
		<tr>
			<td><a href="http://framer.camp/examples/GoogleNow/index.html" target="_blank">Google Now</a></td>
			<td>Google Now interaction prototype on tap</td>
		</tr>
		<tr>
			<td><a href="http://nlevin.com/steinbeck/Doodle/index.html" target="_blank">Google Doodle</a></td>
			<td>Google Doodle animation prototype</td>
		</tr>
		<tr>
			<td><a href="http://framer.camp/examples/PotluckCard/index.html" target="_blank">Potluck</a></td>
			<td>Tap and drag prototype for a card based UI</td>
		</tr>
		<tr>
			<td><a href="http://framer.camp/examples/PotluckOnboarding/index.html" target="_blank">Potluck Onboarding</a></td>
			<td>Full new user onboarding flow</td>
		</tr>
		<tr>
			<td><a href="http://framer.camp/examples/NewsFeed/index.html" target="_blank">Facebook</a></td>
			<td>Reveal the navigation and chat list on tap, with mutliple layers scrolling</td>
		</tr>
		<tr>
			<td><a href="http://framer.camp/demos/ClickDemoSolution/index.html" target="_blank">Basic Click</a></td>
			<td>A basic click interaction and animation</td>
		</tr>
		<tr>
			<td><a href="http://framer.camp/demos/ScrollDemoSolution/index.html" target="_blank">Basic Scrolling</a></td>
			<td>A scrolling layer, with a spring animation</td>
		</tr>
		<tr>
			<td><a href="http://framer.camp/demos/DragDemoSolution/index.html" target="_blank">Basic Dragging</a></td>
			<td>A draggable layer that bounces back into place</td>
		</tr>
		<tr>
			<td><a href="http://framer-origin.s3-website-us-east-1.amazonaws.com" target="_blank">Origin Values</a></td>
			<td>Origin values explained with hover interaction</td>
		</tr>
		<tr>
			<td><a href="http://framer-spring.s3-website-us-east-1.amazonaws.com" target="_blank">Spring Values</a></td>
			<td>Spring values explained with click &amp; drag interaction</td>
		</tr>
	</tbody>
</table>
<a name="prototypes"></a>
<hr>

<!-- CodePen -->
<a name="codepen"></a>

### CodePen
You can find user examples, varying from small tests until larger ideas on CodePen under the <a href="http://codepen.io/tag/framer/">#framer tag</a>. Here are a couple of highlights.

<table class="last">
		<tbody><tr>
			<th width="180px">Site</th>
			<th>Description</th>
		</tr>
<!-- 		<tr>
			<td><a href="http://codepen.io/framerjs/" target="_blank">Framer</a></td>
			<td>Official Framer CodePen</td>
		</tr> -->
		<tr>
			<td><a href="http://codepen.io/koenbok/pen/Lotci?editors=001" target="_blank">Drag to Dismiss</a></td>
			<td>Flick to dismiss cards</td>
		</tr>
		<tr>
			<td><a href="http://codepen.io/cemre/pen/rExAn?editors=001" target="_blank">Spring Values</a></td>
			<td>Velocity, tension &amp; friction explained</td>
		</tr>
		<tr>
			<td><a href="http://codepen.io/cemre/pen/GoatK?editors=001" target="_blank">Parallax</a></td>
			<td>Mobile parallax effect</td>
		</tr>
		<tr>
			<td><a href="http://codepen.io/tishogeorgiev/pen/jLfEh?editors=001" target="_blank">Spring Cube</a></td>
			<td>3D cube that springs back in place</td>
		</tr>
		<tr>
			<td><a href="http://codepen.io/koenbok/pen/xroCm?editors=001" target="_blank">Chat Bubbles</a></td>
			<td>Chat view with input and animation</td>
		</tr>
	</tbody>
</table>


{% endfilter %}	
{% endblock content%}