{% extends "base.html" %}
{% block isindex %}class="index"{% endblock isindex %}
{% block framerclass %}is-active{% endblock %}
{% block content %}
	
	<header id="header" class="group">
		<h1 class="title">Framer.js</h1>
		
		<h1>A prototyping toolkit</h1>
		<h2 class="headline">Built for designers to make static mockups tactile with animation & interaction</h2>
		
		<a class="green" href="#">Download</a>
		<a href="https://www.facebook.com/groups/framerjs/">Community</a>
		<a href="https://github.com/koenbok/Framer" class="small">Version 3 on GitHub</a>
		
	</header>
			
	<section id="example-block">
		
		<img class="left 2x" src="/static/images/iphone-left.png">
		<img class="mid 2x" src="/static/images/iphone-mid.png">
		<img class="right 2x" src="/static/images/iphone-right.png">
		
		<section>
			<h4>Framer Examples</h4>
			<a href="#">More</a>
		</section>
	</section> <!--example-block-->

	<section id="features" class="group">
		<li>
			<img class="2x" src="/static/images/icons/icon-generator.png">
			<h4>Generator</h4>
			<p>Generate assets out of Sketch and Photoshop to set up new projects.</p>
		</li>
		<li>
			<img class="2x" src="/static/images/icons/icon-animation.png">
			<h4>Animation</h4>
			<p>Animate any layer in 3D space with spring physics and bezier curves.</p>
		</li>		
		<li>
			<img class="2x" src="/static/images/icons/icon-speed.png">
			<h4>Performance</h4>
			<p>Hardware accelerated for high frame rates, based on CSS transforms.</p>
		</li>
		<li>
			<img class="2x" src="/static/images/icons/icon-flexible.png">
			<h4>Flexible</h4>
			<p>Works on desktop, mobile and tablets. Plays well with WebKit.</p>
		</li>
	</section>
	
	<hr>
	
	<section id="code-block">
	<h3>How it works</h3>
	<div><iframe id="iframe" src="/static/examples/codeblock/index.html"></iframe></div>
	<pre><code data-language="coffeescript"># Define the imageLayer
imageLayer = new Layer({x:0, y:0, width:128, height:128 
imageLayer.image = "images/icon.png"
imageLayer.center()

# Define a state
imageLayer.states.add
	bounce: {scale: 0.8},
	hue: {hueRotate: -20},
	rotate: {rotationZ: 90}

# Set the animation options
imageLayer.states.animationOptions = 
	curve: "spring(600,18,0)"

# On click, go to the next state
imageLayer.on Events.Click, -> 
	imageLayer.states.next()</code></pre>
	
<p>The core of Framer is a Javascript Framework that enables you to define interaction and animation in a simple, readable way. It's a small .js file that makes creating realistic prototypes a breeze – complete with animations, spring physics and 3D effects.</p>
</section> <!--code-block-->

<hr>

<footer id="footer">
	<h1>Start prototyping today</h1>
	<a class="green" href="#">Download</a>
	<a href="https://www.facebook.com/groups/framerjs/">Community</a>
	<a href="https://github.com/koenbok/Framer" class="small">Version 3 on GitHub</a>
</footer>
	
	

{% endblock content %}
