{% extends "base.html" %}
{% block content %}
	<h1 class="title">Framer</h1>
	<h1>A prototyping framework for animation & interaction</h1>
	
	<hr>
	
	<figure id="icon"><img class="center" src="/static/images/appicon.png"></figure><h2>Create complex interactions and fluid animations. Make your static designs tactile, iterate rapidly and start experimenting.
	
	</h2>
	
	<hr>
	
	<ul id="features" class="group">
		<li>
			<img src="/static/images/icons/animation.png">
			<h4>Animation</h4>
			<p>Animate any view in full 3D space with spring physics and bezier curves.</p>
		</li>
		<li>
			<img src="/static/images/icons/gestures.png">
			<h4>Gestures</h4>
			<p>Define how your designs feel. Test your protoypes in the palm of your hand.</p>
		</li>		
		<li>
			<img src="/static/images/icons/performance.png">
			<h4>Performance</h4>
			<p>Hardware accelerated for high frame rates. Play multiple animations simultaneously.</p>
		</li>
		<li>
			<img src="/static/images/icons/flexible.png">
			<h4>Flexible</h4>
			<p>Works great on desktop, mobile and tablets. Plays well with the rest of the browser.</p>
		</li>
	</ul>
	
	<hr>
{% endblock content%}
