{% extends "base.html" %}
{% block content %}

<aside id="sidebar">
	<nav>
		<ul>
			<li class="headline green"># Framer</li>
			<li><a href="#">Intro</a></li>
			<li><a href="#">Examples</a></li>
		</ul>
		
		<ul>
			<li class="headline"># Start</li>
			<li><a href="#">Install</a></li>
			<li><a href="#">Javascript</a></li>
			<li><a href="#">Resources</a></li>
			<li><a href="#">Photoshop</a></li>
			<li><a href="#">Sketch</a></li>
			<li><a href="#">FAQ</a></li>
		</ul>
		
		<ul>
			<li class="headline"># Learn</li>
			<li><a href="#">Layers</a></li>
			<li><a href="#">Hierarchy</a></li>
			<li><a href="#">Types</a></li>
			<li><a href="#">Animation</a></li>
			<li><a href="#">Styling</a></li>
			<li><a href="#">Events</a></li>
			<li><a href="#">State Machine</a></li>
		</ul>
		
		<ul>
			<li class="headline"># Docs</li>
			<li><a href="#">Layers</a></li>
			<li><a href="#">Animations</a></li>
			<li><a href="#">Utilities</a></li>
			<li><a href="#">Defaults</a></li>
		</ul>
		
		<ul>
			<li class="headline"># More</li>
			<li><a href="#">Organizing Code</a></li>
			<li><a href="#">CSS Keyframes</a></li>
			<li><a href="#">Philosophy</a></li>
			<li><a href="#">Debugging</a></li>
		</ul>
	
	</nav>
</aside>


<section id="wrapper">
	<figure id="icon"><img class="center" src="/static/images/appicon.png"></figure>
	
	<h1>A prototyping framework for animation & interaction</h1>
	
	<h2>Framer lets you create prototypes with complex interaction and fluid animation. Make your static design work tactile, iterate rapidly and start experimenting.</h2>
	
	<ul id="features" class="group">
		<li>
			<h3>Animation</h3>
			<h4>Framer lets you create prototypes with complex interaction and fluid animation.</h4>
		</li>
		<li>
			<h3>Gestures</h3>
			<h4>Framer lets you create prototypes with complex interaction and fluid animation.</h4>
		</li>		
		<li>
			<h3>Performance</h3>
			<h4>Framer lets you create prototypes with complex interaction and fluid animation.</h4>
		</li>
		<li>
			<h3>Flexible</h3>
			<h4>Framer lets you create prototypes with complex interaction and fluid animation.</h4>
		</li>
	</ul>
	
	
	<p>The <strong>default template</strong> is a barebones starting point for your project. <br/> It has all the files you need to set up a website, yet barely any pre-defined styles. If you’d like to start from scratch, this one’s for you.</p> 
</section>
{% endblock content%}
