{% extends "base.html" %}
{% block sidebarclass %}learn{% endblock %}

{% block content %}
{% filter markdown %}

<!-- Learn -->
<a name="learn"></a>
### Learn

This section covers the basic principles of Framer. It's a good overview of the core principles on which Framer was built. These examples are in CoffeeScript, but most of them will work in JavaScript too.

---

<!-- Layers -->
<a name="basics"></a> 

### Basics

#### Layers <a href="docs.html#layers" class="small right">More</a>
A layer is just a rectangle that draws stuff in the browser. It has a set of basic properties like x, y, width and height. It also has other properties like opacity, scale, and blur. Layers can display images, text, or both.

	# This creates a new layer, and sets its x property to 100
	myLayer = new Layer({x:0, y:0, width:128, height:128})
	myLayer.x = 100

<hr>

<!-- Hierarchy -->
<a name="basics"></a>
#### Hierarchy <a href="docs.html#layers&amp;hierarchy" class="small right">More</a>
Layers can contain other layers. We call these subLayers. The parent of a layer is called a superLayer. Layers inherit from their superLayers. For example, if you change the opacity of a layer to 0.5, all subLayers will have opacity of 0.5.

A layer's coordinates are based on its superLayer. So with an x and y of zero, a layer gets placed in the top left corner of its superLayer.

You can manipulate the layer hierarchy as you need to.

	# Adds a subLayer to a layer
	parentLayer.addSubLayer(childLayer)

<hr>

<!-- types -->

<a name="basics"></a>

#### Images and Scrolling

Most layers will just contain an image. They are pretty easy to set with the image property.

	# Set an image
	layer = new Layer({width:100, height:100, image:"my-image.png"})

Layers can also scroll their contents. You can enable scrolling with the scroll keyword.
	
	# Make layer scrollable
	layer = new Layer({width:100, height:100})
	layer.scroll = true


It is easy to create components consisting of multiple layers that you can re-use across projects. A component with a specific task containing different layers is called a View (other names are widgets or components). Some examples of Views on iOS are TableView, CollectionView etc.

<hr>

<!-- Animation -->
<a name="basics"></a>

#### Animation <a href="docs.html#animations" class="small right">More</a>


Most properties of a layer can be animated: x, y, width, height, scale, opacity, etc. You can animate multiple properties at the same time.

Animations optionally take a curve that describes the type of animation. You can use pre-defined curves like 'linear' or 'ease-in', custom ones, or spring animations.

You can create an animation explicitly with <code class="inline">myAnimation = layer.animate({..})</code> or with the shortcut on any layer <code class="inline">layer.animate({..}).</code>

	# Creates an animation using a spring
	springUp = layer.animate({
		properties: {y: layer.y + 100},
		curve: "spring(100,10,0)",
	})

<hr>

<!-- Styling -->
<a name="basics"></a>
#### Styling <a href="docs.html#layers&amp;style" class="small right">More</a>
Because Framer runs in the browser, you can simply use html and css to style any layer. To set the html contents of a layer use <code class="inline">somelayer.html = "hello".</code> You can set either text or html.

To add css styling, you edit the properties of the layer's style attribute. You can set these one at the time like <code class="inline">layer.style.backgroundColor = "red"</code> or <code class="inline">layer.style['background-color'] = "red"</code>, or also update multiple properties at the same time as in the example below. Please note that while most Framer properties take numeric values, the style attribute requires specific css values like <code class="inline">layer.style.lineHeight = "16px"</code>. You can also set a css class on a layer by doing <code class="inline">layer.classList.add("myClass");</code>. This way you, can use an external css file for styling.

	# Set multiple layer styles at once
	layer.style = {
		"font-size": "18px",
		"text-align": "center",
		"line-height": "24px",
		"color": "red"
	}

Note: if you set a single style on a layer, don't forget to use the javascript syntax, e.g. 'font-size' would be layer.fontSize

<hr>

<!-- Events -->
<a name="basics"></a>
#### Events <a href="docs.html#events" class="small right">More</a>
Events are things that can happen to a layer, for example a user click or mouse over, or also a scroll. You can listen to these events and respond to them to build simple (or complex) interactions.

There are many events you can listen to, but the most interesting are probably click, dblclick, mouseover, mouseout, and keydown. Mobile browsers have specific touch events: touchstart, touchmove and touchend. 

Framer has a helper method that maps the most common events nicely for you, for example 'Events.TouchStart' will be called on 'mousedown' for computers, or 'touchstart' for mobile devices.

To listen to an event use <code class="inline">layer.on event, -> ... </code> To stop listening you can use <code class="inline">layer.off event, -> ... </code>. You can listen to multiple events at the same time.

	# Listen to multiple events on a layer
	layer.on Events.TouchStart, (event) ->
		console.log "Touch/click start happened on layer"

	layer.on Events.TouchMove, (event) ->
		console.log "Touch/click is moving!"

	layer.on Events.TouchEnd, (event) ->
		console.log "The touch has ended :("

You'll notice the "event" in function. It's an object with additional information about the event that happened like its position.

<hr>

<!-- State Machine -->
<a name="basics"></a>
#### State Machine <a href="docs.html#layers&amp;state" class="small right">More</a>

A new feature in Framer 3, the state machine is incredibly powerful and useful. It allows you to add multiple states to a layer. Think of a state as a set of one or more properties for the layer. A layer can have multiple states, you can add and remove them, and switch or animate between states. All of the states for a layer can have the same animation properties as well, such as the animation curve. You can access any state for a layer at any time. Layers also have a 'default' state as well, which are the properties of the layer at time of creation.

States are most useful when a layer has to be on the screen, but in multiple different positions/sizes, etc. For example, let's use the state machine to add three states to a layer, and then animate between them on a click.

	# Add three states to the layer
	imageLayer.states.add
		tooSmall:  {scale: 0.8}
		tooBig:	   {scale: 1.2}
		justRight: {scale: 1.0}

	# Set the default animation options for the layer
	imageLayer.states.animationOptions =
		curve: "spring(200,12,10)"

	# On a click, go to the next state
	imageLayer.on Events.Click, (event) ->
		imageLayer.states.next()

<hr>


<!-- CoffeeScript -->
<a name="coffeescript"></a>
### Learn CoffeeScript 

This should help you to learn the basics in an afternoon. Or use it as a cheat sheet. It is mostly meant for designers wanting to work with [Framer Studio](http://framerjs.com/), but it should be useful for anyone learning CoffeeScript.

CoffeeScript is worth learning because: 

* It has a cleaner and more readable syntax, so it's easier to learn
* It helps you avoid the bad parts of Javascript
* It helps you work quicker with smart shortcuts

---

#### The Language

##### Comments

Comments is text that is not code. You use them to explain what happens in the code around it if it's not self evident from the code. Comments are prefixed with **#**.

	# I am a comment
	5 + 6 # I am a comment too

##### Printing Output

Whenever you want to display a value to inspect you can print it to the log like

	console.log "Hello" # Output: Hello
	console.log "Hello", "World" # Output: Hello World

##### Tabs

CoffeeScript uses *significant whitespace*. That means that tabs are used to define the structure of the language, instead of **{** and **}** like in Javascript. So if your tabs are not correct, your script will fail.

	if 1 + 1 == 2
		console.log "hello" # This will work

	if 1 + 1 == 2
	console.log "hello" # This will fail (missing tab)

##### Variables

A variable is a way to store something under a name. It's pretty simple:

	myVariable = 1

From this point on the variable myVariable contains 1. You can change this at any point just by assigning a new value.

If you ask the value of a variable before it has one (defined) it returns a special value 'undefined'. If you get an error with undefined there is a big chance you are trying to use a variable that doesn't exist (yet).

	myUnexistingVariable # Output "undefined"

Variables can store different types of data, see below.

---

#### Data types

##### Boolean

A boolean can only have two values: **false** or **true**:

	myBoolA = true
	myBoolB = false

##### Number

Numbers can be small, big, rounded, positive or negative:

	myNumberA = 2
	myNumberB = 20.0
	myNumberC = -223894

You can calculate with numbers like this (*operators*):

	myNumberA + myNumberB  # Add, output: 22.0
	myNumberA / myNumberB  # Divide, output: 0.10
	myNumberA * myNumberB  # Product, output: 40.0
	myNumberA ** myNumberB # Power, output: 400.0

##### String

A string is a set of characters like words or complete sentences:

	myStringA = "Hello there"

You can combine strings like this:

	myStringB = "#{myStringA}, I am the dude"
	# Output: "Hello there, I am the dude"

But strings can also hold complex values you cannot describe in just numbers:

	myStringC = "rgba(255,0,0,0.1)"
	myStringD = "1px solid #FFFFFF"


##### Array

Arrays contain an ordered set of values. The values can be any type. They can even be nested (for example an array with arrays).

	myListA = [1, 2, 3, 4, 5] # Just numbers
	myListB = [1, "test", 22, [1, 2, 3]] # Mixed

You can access any item in an array by it's number (it's called an index) which starts at 0:

	myListA[0] # Output: 1
	myListA[4] # Output: 5

You can also count the items in an array:

	myListB.length # Output: 4

Or grab a range from the array:

	myListB[0..2] # Output: [1, 2, 3]

##### Object

Objects are a bit like lists, but instead of by number, you can access them by a string (word). Much like a dictionary from a phone book (look up a person by last name). We call the 'lookup string' a key.

	myObjectA = {name:"Framer", age:12}

You can also write objects like this, it's the exact same thing as above:

	myObjectA =
		name: "Framer"
		age: 12


To find a value in an object you use the key:

	myObjectB["name"] # Output: "Framer"

If you use a key that does not exist, you get the special undefined value:

	myObjectB["nothere"] # Output: undefined

Once you have made an object, you can add more stuff in it like this:

	myObjectB["platform"] = "Mac"

Or remove something like this:

	delete myObjectB["platform"]
	myObjectB["platform"] # Output: undefined

---

#### Functions

Functions are bits of executable code. It's pretty much the same thing as a function in mathematics. They take input and generate output. The part in between is just a description how to get from one to the other. When you run a function for a specific set of inputs, programmers say you *call* the function, and the input(s) are *arguments**.

Common examples of what you use functions for are:

* Describe to do something, but use it later (when it gets *called*)
* Wrap something you do multiple multiple times in a function so you can reuse it easily

This is how you define a function, note it follows the standard way of defining variables. The *return* keyword passes back a value to the caller (by default, CoffeeScript returns the latest used variable).

	myFunction = (input) -> 
		output = input * 2
		return output

To now use (or, **call**) the function with the number 42 (**argument**) you do this:

	myFunction(42) # Output: 84

You can assign the output of a function directly to a new variable:

	myCalculatedNumber = myFunction(42)
	myCalculatedNumber # Output: 84

A function can be defined with as many arguments as you like and they can be any type:

	myFunction = (argumentA, argumentB, argumentC) ->
		return argumentA + argumentB + argumentC

---

#### Comparators

Comparators compare things. The most common are equality and greater/smaller than.

	4 is 4 # Output: true
	4 isnt 4 # Output: false
	4 < 5 # Output true
	4 > 5 # Output false

You can combine multiple comparators with and and or:

	4 is 4 and 5 < 4 # Output false
	4 is 4 or 5 < 4 # Output true

---

#### Conditionals

Conditionals define your logic. You use them together with comparators to make decisions. They are all based around the **if**, **else if** and **else** keywords.

	if age > 21
		console.log "Over 21!"

A little more complicated example that checks for multiple things:

	if age < 21
		console.log "Young"
	else if age < 65
		console.log "Adult"
	else
		console.log "Senior"

---

#### Loops

Loops are used to iterate over collections, as in do something for each item. Collections can be an Array or Object. They use the **for** keyword.

To loop over an Array you can do this:

	myArray = [1, 2, 3, 4, 5]

	for number in myArray
		number + 1
	
	# Output: 2, 3, 4, 5, 6

An Object has a key and value (for example name=Koen) and you'll likely want to use both in your loop. For that, you can use **of** instead of **in** when you loop:

	myObject =
		name: "Koen"
		city: "Amsterdam"
		age: 31

	for key, value of myObject
		key, "=", value 
	
	# Output: name=Koen, city=Amsterdam, age=31

---

#### Common Errors

* **SyntaxError ... unexpected ...**: the interpreter encountered code that it doesn't know what to do with. You likely made a typo.
* **ReferenceError ... Can't find variable**: ...: you are using a variable that the interpreter doesn't know about. You likely forgot to declare it (at the right time).

---

#### More CoffeeScript resources

If you made it this far you should know enough to start playing around. Some good next steps would be:

* [Convert any Javascript to CoffeeScript](http://js2coffee.org/)
* [The official CoffeeScript Site](http://coffeescript.org/)
* [The Little Book on CoffeeScript](http://arcturo.github.io/library/coffeescript)
* [Code School CoffeeScript Course](http://coffeescript.codeschool.com/) (Paid)



<hr>

<!-- Resources -->

<a name="resources"></a>

### Resources
Optimize your prototyping workflow with these tools.

<table>
		<tbody><tr>
			<th width="170px">Product</th>
			<th>Description</th>
		</tr>
		<tr>
			<td><a href="http://cactusformac.com" target="_blank">Cactus for Mac</a></td>
			<td>Auto-refreshes the browser on change. Get immediate feedback on your prototype</td>
		</tr>
		<tr>
			<td><a href="https://github.com/koenbok/CactusTemplatesExtras" target="_blank">Cactus Template</a></td>
			<td>A template to drop Framer into Cactus</td>
		</tr>
		<tr>
			<td><a href="https://itunes.apple.com/us/app/clear-browser-full-screen/id536117231?mt=8" target="_blank">Clear iOS Browser</a></td>
			<td>Run your prototype with Cactus and load the local URL into this browser</td>
		</tr>
</tbody></table>


{% endfilter %}	
{% endblock content%}
