{% extends "base.html" %}
{% block sidebarclass %}more{% endblock %}

{% block content %}
{% filter markdown %}

<!-- More -->
<a name="more"></a>
### More

The core of Framer is a Javascript Framework that enables you to define interaction and animation in a simple, readable way. It's a small .js file that makes creating realistic prototypes a breeze – complete with animations, spring physics and 3D effects.
<hr>

<!-- Philosophy -->
<a name="philosophy"></a>

### Philosophy

There are a variety of ways where you can make your Framer workflow more efficient. These are the ones that I use most. Let me know if you like to see something added here.
<hr>

<!-- Debugging -->
<a name="debugging"></a>

### Debugging
text
<hr>

<!-- FAQ's -->

<a name="faq"></a>
### FAQ
Content
<hr>

{% endfilter %}	
{% endblock content%}