{% extends "base.html" %}
{% block sidebarclass %}start{% endblock %}
{% block content %}
{% filter markdown %}
<!-- Start -->
<a name="start"></a>
### Start
<strong>Framer</strong> consists of 2 parts – the Framework and Generator.

The core of Framer is a Javascript <strong>Framework</strong> that enables you to define interaction and animation in a simple, readable way. It's a small .js file that makes creating realistic prototypes a breeze – complete with animations, spring physics and 3D effects.

Framer <strong>Generator</strong> optimizes the flow of going from static mockups to an interactive prototype. It's a desktop application that extracts the resources and layer hierarchy out of Sketch or Photoshop and renders them to a Framer project folder. You can now add interaction to the layers.

<hr>

<!-- Install -->
<a name="installation"></a>

### Installation
To get started, <a href="#">Download</a> Framer and unzip it. Here's what you get:

<ul>
	<li><strong>Project folder</strong>
		<ul>
			<li>app.js</li>
			<li>index.html</li>
			<li>Framer folder</li>
			<li>Images folder </li>
		</ul>
	</li>
	<li><strong>Framer Generator.app</strong></li>
</ul>
<a name="installation"></a>

Open index.html and you'll see the logo bounce on a click. Framer runs best in WebKit, so please use Safari. Chrome works too, but has been rocky since they switched to Blink. Start editing app.js (in your code-editor) to add interactions and animations. Try it by adding a state to imageLayer:

<pre><code data-language="coffeescript">four: {y:200, scale:0.8, rotationZ:200, blur:2}</code></pre>

The imageLayer will now move up, scale, rotate and blur on the fourth click. Framer works, congrats!

<hr>

<!-- JavaScript -->

<a name="javascript"></a>

### JavaScript

Framer makes it easier to prototype animations and interactions, but you will benefit from understanding a bit of JavaScript. If you don't know JavaScript or are just beginning, don't worry. There are many great resources to get started and while it might seem hard at first you'll see that you'll get better quickly. It's also good to know that JavaScript is worth learning apart from Framer, as you can do web, application and backend development with it.

<table class="last">
		<tbody><tr>
			<th width="170px">Site</th>
			<th>Description</th>
		</tr>
		<tr>
			<td><a href="http://www.codecademy.com/tracks/javascript/" target="_blank">Codecademy</a></td>
			<td>Free high quality online JavaScript course</td>
		</tr>
		<tr>
			<td><a href="https://developer.mozilla.org/en-US/learn/javascript" target="_blank">Mozilla Dev Center</a></td>
			<td>Mozilla's resources to get started with JavaScript</td>
		</tr>
	</tbody>
</table>

<hr>

<!-- Coffeescript 

<a name="coffeescript"></a>

### Coffeescript

Framer Studio works with CoffeeScript, a language that compiles into JavaScript. Framer Studio compiles CoffeeScript automatically, so you can try it out immediatly.

<span style="color:red">Koen: add some benefits of CS over JS.</span>

<table class="last">
		<tbody><tr>
			<th width="170px">Site</th>
			<th>Description</th>
		</tr>
		<tr>
			<td><a href="http://coffeescript.org/" target="_blank">CoffeeScript</a></td>
			<td>Official site and full documentation</td>
		</tr>
		<tr>
			<td><a href="http://blog.teamtreehouse.com/the-absolute-beginners-guide-to-coffeescript" target="_blank">Treehouse</a></td>
			<td>A beginners guide to CoffeeScript</td>
		</tr>
	</tbody>
</table>

<hr> -->

<!-- Resources -->

<a name="resources"></a>

### Resources
Optimize your prototyping workflow with these tools.

<table>
		<tbody><tr>
			<th width="170px">Product</th>
			<th>Description</th>
		</tr>
		<tr>
			<td><a href="http://cactusformac.com" target="_blank">Cactus for Mac</a></td>
			<td>Auto-refreshes the browser on change. Get immediate feedback on your prototype.</td>
		</tr>
		<tr>
			<td><a href="https://github.com/koenbok/CactusTemplatesExtras" target="_blank">Cactus Template</a></td>
			<td>A Framer template to drop into Cactus.</td>
		</tr>
		<tr>
			<td><a href="https://itunes.apple.com/us/app/clear-browser-full-screen/id536117231?mt=8" target="_blank">Clear Browser</a></td>
			<td>A full screen mobile browser for iOS. Run your prototype with Cactus and load the local URL into this browser.</td>
		</tr>
</tbody></table>

<a name="integration"></a>

<hr>

<!-- Photoshop -->
<a name="integration"></a>
### Integration

#### Sketch
Content

<hr>

#### Photoshop
Framer comes with an application to convert your Photoshop document into a Framer project. This eliminates the need for slicing up your images and rebuilding your views in Framer. To get a quick overview of how this works see this video.
<iframe src="http://player.vimeo.com/video/66300587" width="100%" height="313" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
To begin, just open the Framer application, a Photoshop document and click Run. After running you will be presented with a folder containing your project. The project folder contents consists of images, the framework, view data, an index.html and app.js file. Open the index.html file in your browser to see your project.

The app.js file is where you start coding. By default it contains some example code that you can safely remove. Framer added an object called PSD that has references to all your views by name. So if your layer group is called iPhone, you can access it's views with PSD.iPhone or PSD["iPhone"]. The views are normal Framer views, so for example to animate an the view created from the layer group named iPhone you can do:

<pre><code data-language="coffeescript">layer = new Layer width:100, height:100
PSD.iPhone.on("click", function() {
  PSD.iPhone.animate({
    properties: {scale: 2.0}
  })
})</code></pre>
From this point you can use Framer like you normally would to basically add behavior to your Photoshop mock. You can also safely run Framer again after a change in Photoshop, it will update the views but not touch your code. The rules for converting Photoshop files are:
<ul>
	<li>Every layer group will become an ImageView, backed by the pixel and/or shape layers in that layer group.</li>
	<li>Views are accessible by name under the PSD object.</li>
	<li>Framer respects the layer hierarchy, so a sub layer group will become a subview. This way you can define your view structure in Photoshop.</li>
	<li>Layer groups with vector masks will become views with clipping enabled. You can optionally add "scroll" to the layer group name to make it a ScrollView.</li>
	<li>Layer group names should be unique, if they're not Framer will silently rename them on export.</li>
</ul>

{% endfilter %}	
{% endblock content%}