{% extends "base.html" %}
{% block content %}
{% filter markdown %}

### Install

To get started, <a href="">download Framer</a> and unzip it. From there you use the Framer app to generate a new project from a Photoshop file. Or you can begin from scratch with the template:

<ul>
	<li>Open index.html in Safari or Chrome</li>
	<li>Start editing app.js</li>
</ul>

### Javascript

If you don't know any Javascript or are just beginning, don't worry. There are many great resources to get started and while it might seem hard at first you'll see that you'll get better quickly. It's also good to know that Javascript is worth learning even apart from Framer, as you can do web, application and backend development with it. Most people agree it's a language with a future.

Some great Javascript resources:

<table>
		<tbody><tr>
			<th>Site</th>
			<th>Description</th>
		</tr>
		<tr>
			<td><a href="http://coffeescript.org/">Code Academy</a></td>
			<td>Free high quality online Javascript course. Start here if you don't know any Javascript</td>
		</tr>
		<tr>
			<td><a href="http://cactusformac.com">Mozilla Dev Center</a></td>
			<td>Mozilla's resources to get started with Javascript.</td>
		</tr>
	</tbody>
</table>


### Resources

### Photoshop

### Sketch

### FAQ






{% endfilter %}	
{% endblock content%}