{% extends "base.html" %}
{% block isindex %}class="index"{% endblock isindex %}
{% block studioheader %}
<figure id="illustration">
	<img class="blueprint 2x" src="/static/images/fs/illustration-blueprint.png">
	<img class="app-icon 2x" src="/static/images/fs/icon-appicon.png">
</figure>
{% endblock studioheader %}


{% block sidebarclass %}class="studio"{% endblock %}
{% block content %}

	<link rel="stylesheet" href="{% static '/static/css/style-studio.css' %}">
	
	<div class="inner">
	<header id="header">
		<p class="small">Framer Studio</p>
		<h1>Innovative prototyping</h1>
		<a class="green" href="/">Download</a>
		<a href="/">Buy Now</a>
		<section>
			<a href="/" class="small" target="_blank">Available on Mac for $49.99</a>
		</section>
	</header>
	
	<hr>
	
	<section id="screenshot-copy" class="clearfix">
		<li>
			<h3>Build</h3>
			<p>Framer Studio is the best way to prototype with Framer.</p>
		</li>
		<li>
			<h3>View</h3>
			<p>Everything you do is rendered in real time and ready to present.</p>
		</li>		
		
	</section>
	</div> <!--inner-->
	
	<section id="screenshot">
	<img class="2x studio" src="/static/images/fs/ui-studio.png">
	</section>
	
	<div class="inner">
	
	<h5>When prototyping, you're considering how your design looks <span>and</span> how it feels.</h5>
	
	<hr/>
	
	<section id="start" class="half clearfix">
		<section>
			<img class="2x" src="/static/images/fs/generate.png">
		</section>
		
		<section class="right">
			<h2>Integrated Workflow</h2>
			<p>Framer Studio has Photoshop & Sketch integration, allowing you to import layers directly from your static designs and turn them into interactive prototypes.</p>
		</section>
		
	</section>
	
	<section id="framer" class="half clearfix">
		<section>
			<h2>Built on Framer</h2>
			<p>Framer Studio is built on FramerJS, an open source framework. It's based on WebKit, so prototypes work on desktop, mobile and tablets. </p>
		</section>
		
		<section class="right">
		<img class="icon-gen 2x" src="/static/images/fs/icon-generator.png">
		</section>
		
		<ul>	
			<section>
				<li>3D Animation with Spring Physics</li>
				<li>Fluid, 60fps Framerates</li>
			</section>
		</ul>
		
	</section> <!---framer block --->
	</div> <!--inner-->
	
	<section id="interaction" class="half clearfix">
		<img class="ss-half 2x" src="/static/images/fs/ss-code.png">
		<div class="inner">
			<h2>Explore animations.</h2> <h2>Discover new interactions.</h2>
			<h4>Framer Studio embraces code for its flexibility.  It has a smart editor that’s build to simplify coding.</h4>
	
		<section>
			<li><p class="title">CoffeeScript</p>
			<p>Framer Studio uses CoffeeScript, a much more legible and minimal way to write JavaScript.</p></li>
			
			<li><p class="title">Snippets</p>
			<p>Framer Studio comes with a built-in snippet library. Add layers and interactions with  a single click.</p></li>
			
			<li><p class="title">Auto-Complete</p>
			<p>Built around FramerJS. Remembers any variables & layer names that you've set. </p></li>
			
			<li><p class="title">Inline Errors</p>
			<p>Better understand your code. A more forgiving way to write CoffeeScript.</p></li>
		</section>
		
			
		</div> <!--inner-->
	</section>
	
	</section>
	<div class="inner">
	</div> <!--inner-->

{% endblock content%}