{% extends "base.html" %}
{% block sidebarclass %}class="studio"{% endblock %}
{% block content %}

	<link rel="stylesheet" href="{% static '/static/css/style-dark.css' %}">

	<header id="header">
		<img class="2x" src="/static/images/fs/header.png">
		<h1>The complete toolkit for building innovative prototypes</h1>
		<a class="grey" href="/">Download</a>
		<a href="/">Buy Now</a>
		<section>
			<a href="/" class="small" target="_blank">Available for $49.99</a>
		</section>
	</header>

	<section id="screenshot" class="clearfix">
		<li>
			<img class="2x" src="/static/images/fs/icon-smallcode.png">
			<h3>Prototype Anything</h3>
			<p>Create rich interactions and fluid animations with easy to learn code.</p>
		</li>
		<li>
			<img class="2x icon-animation" src="/static/images/fs/icon-smallphone.png">
			<h3>Preview Immediatly</h3>
			<p>Everything you do is rendered in real time and ready to present.</p>
		</li>		
		<img class="2x screenshot" src="/static/images/fs/screenshot.png">
		
		<h5>When building prototypes, you consider how your design looks <span>and</span> how it feels.</h5>
	</section>
	
	<hr/>
	
	<section id="start" class="half clearfix">
		<section>
			<h2>Start with Design</h2>
			<p>Do your visual design work in the tools you love. When you’re ready to add interaction, exporting assets is a breeze. Open Framer Studio, click ‘Generate’ and you’re good to go.</p>
		</section>
		<section class="right">
			<img class="2x" src="/static/images/fs/generate.png">
		</section>
		
		<ul class="features clearfix">
		<li><img src="/static/images/fs/icon-integrations.png"> Sketch & Photoshop</li>
		<li><img src="/static/images/fs/icon-groups.png"> Export Groups to Images</li>
		<li><img src="/static/images/fs/icon-regenerate.png"> Infinite Re-Generate</li>
		<li><img src="/static/images/fs/icon-hierarchy.png"> Respects Layer Hierarchy</li>
		</ul>	
	</section>
	
	<hr/>
	
	<section id="interaction" class="half clearfix">
	
		<h2 class="center">Explore animations and discover interactions.</h2>
		<h5>Framer Studio shortens the learning curve, and embraces code for its flexibility.</h5>
		
		<section>
		<img src="/static/images/fs/thumb-code.png">
		</section>
		
		<section class="right">
		<p class="title">Smart editor</p>
		<p>Coding for the experienced and inexperienced alike. With snippets, inline-errors and auto-complete, it’s a powerful yet easy-to-use method of defining interactions.
		</p>
		
		<p>It uses CoffeeScript, a much more legible and minimal way to write JavaScript. </p>
		</section>
	
	</section>

{% endblock content%}