{% extends "base.html" %}
{% block isindex %}class="index"{% endblock isindex %}
{% block hide %}hide{% endblock hide %}

{% block studioheader %}
<figure id="illustration">
	<img class="blueprint 2x" src="/static/images/fs/illustration-blueprint.png">
	<img class="app-icon 2x" src="/static/images/fs/icon-appicon.png">
</figure>
{% endblock studioheader %}


{% block sidebarclass %}class="studio"{% endblock %}
{% block content %}

	<link rel="stylesheet" href="{% static '/static/css/style-studio.css' %}">
	
	<div class="inner">
	<header id="header">
		<h1>Framer Studio</h1>
		<h2>Innovating prototyping on Mac. A new balance between flexibility and ease of use.</h2>
		<a class="green" href="/">Download</a>
		<a href="/">Buy Now</a>
		<section>
			<a href="/" class="small" target="_blank">Available on Mac for $49.99</a>
		</section>
	</header>
	
	<hr>
	
	<section id="screenshot-copy" class="clearfix">
		<li>
			<h3>Build</h3>
			<p>Framer Studio is the best way to prototype with Framer.</p>
		</li>
		<li>
			<h3>View</h3>
			<p>Everything you do is rendered in real time and ready to present.</p>
		</li>		
		
	</section>
	</div> <!--inner-->
	
	<section id="screenshot">
	<img class="2x studio" src="/static/images/fs/ui-studio.png">
	</section>
	
	<div class="inner">
	
	<!-- Quote 1 -->
	<h5>When prototyping, you're considering how your design looks <span>and</span> how it feels.</h5>
	
	<hr/>
	
	<section id="start" class="half clearfix">
		<section>
			<img class="2x" src="/static/images/fs/generate.png">
		</section>
		
		<section class="right">
			<h2>Integrated Workflow</h2>
			<p>Framer Studio has Photoshop & Sketch integration, allowing you to import layers directly from your static designs and turn them into interactive prototypes.</p>
		</section>
		
	</section>
	
	<section id="framer" class="half clearfix">
		<section>
			<h2>Built on Framer</h2>
			<p>Framer Studio is built on FramerJS, an open source framework. It's based on WebKit, so prototypes work on desktop, mobile and tablets. </p>
		</section>
		
		<section class="right">
		<img class="icon-gen 2x" src="/static/images/fs/illustration-framer.png">
		</section>
		
		<ul>	
			<section>
				<li>Spring Physics & Bezier Curves</li>
				<li>Fluid 3D Animation</li>
			</section>
		</ul>
		
	</section> <!---framer block --->
	</div> <!--inner-->
	
	<section id="interaction" class="feature-block half clearfix">
		
		<div class="inner">
			<h2>Discover new interactions.</h2>
			<h4>Framer Studio embraces code for its flexibility.  It has a smart editor that’s build to simplify coding.</h4>
			
		<div class="feature-list">
			<figure class="ss-half"></figure>
			<section>
				<li><img src="/static/images/fs/icon-cs.png"><p class="title">CoffeeScript</p>
				<p>Framer Studio uses CoffeeScript, a much more legible and minimal way to write JavaScript.</p></li>
				
				<li><img src="/static/images/fs/icon-snippets.png"><p class="title">Snippets</p>
				<p>Framer Studio comes with a built-in snippet library. Add layers and interactions with  a single click.</p></li>
				
				<li><img src="/static/images/fs/icon-autocomplete.png"><p class="title">Auto-Complete</p>
				<p>Built around FramerJS. Remembers any variables & layer names that you've set. </p></li>
				
				<li><img src="/static/images/fs/icon-errors.png"><p class="title">Inline Errors</p>
				<p>Better understand your code. A more forgiving way to write CoffeeScript.</p></li>
			</section>
		</div> <!--feature-list-->
		
			
		</div> <!--inner-->
	</section> <!--interaction-block -->
	
	<section id="viewer" class="feature-block half clearfix">
		
		<div class="inner">
			<h2>See what you're creating.</h2>
			<h4>With instant visual feedback, multiple devices and a full-screen presentation mode.</h4>
			
			<div class="feature-list">
				<figure class="ss-half"></figure>
				<section class="right">
					<li><p class="title">CoffeeScript</p>
					<p>Framer Studio uses CoffeeScript, a much more legible and minimal way to write JavaScript.</p></li>
					
					<li><p class="title">Snippets</p>
					<p>Framer Studio comes with a built-in snippet library. Add layers and interactions with  a single click.</p></li>
					
					<li><p class="title">Auto-Complete</p>
					<p>Built around FramerJS. Remembers any variables & layer names that you've set. </p></li>
					
					<li><p class="title">Inline Errors</p>
					<p>Better understand your code. A more forgiving way to write CoffeeScript.</p></li>
				</section><!--right-->
			</div> <!--feature-list-->
				
		</div> <!--inner-->
		</section> <!--viewer-block -->
		
	<div class="inner">
	
	<hr>
	
	<!-- Quote 2 -->
	<h5>Building prototypes encourages exploration and helps effectively communicate concepts.</h5>
	
	<hr>
	
	<footer id="footer">
		<h1>Start prototyping today.</h1>
		<h2>No set-up required.</h2>
		<a class="green" href="/">Download</a>
		<a href="/">Buy Now</a>
		<section>
			<a href="/" class="small" target="_blank">Available on Mac for $49.99</a>
		</section>
	</footer>
	
	<footer class="global">
		<p class="small">Site built with <a href="http://www.cactusformac.com" target="_blank">Cactus</a><br>Copyright &copy; 2014 Podium BV</p>
		

	</footer>
	</div> <!--inner-->

{% endblock content%}