<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

	<link rel="shortcut icon" href="{% static '/static/images/favicon.ico' %}">
	<link rel="stylesheet" href="{% static '/static/css/style.css' %}">
	<link rel="stylesheet" href="{% static '/static/css/code.css' %}">
	
	<!-- Colfax Typeface -->
	<script type="text/javascript" src="//use.typekit.net/ivi1pzu.js"></script>
	<script type="text/javascript">Typekit.load();</script>
	
	{% block header %}
	<title>{% block title %}Framer{% endblock %}</title>
	{% endblock header %}

</head>
<body>
	{% block content %}
	Main content
	{% endblock content %}

	{% block scripts %}
	<script src="//code.jquery.com/jquery.min.js"></script>
	<script src="{% static '/js/main.js' %}"></script>
	<script src="{% static '/js/rainbow.min.js' %}"></script>
	<script src="{% static '/js/language/javascript.js' %}"></script>
	<script src="{% static '/js/language/coffeescript.js' %}"></script>
	<script src="{% static '/js/language/python.js' %}"></script>
	{% endblock scripts%}
</body>
</html>
