<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width">

	<link rel="shortcut icon" href="{{ STATIC_URL }}/favicon.ico">
	
	<link rel="stylesheet" href="{{ STATIC_URL }}/css/vendor/reset.css">
	<link rel="stylesheet" href="{{ STATIC_URL }}/css/vendor/grid.css">
	<link rel="stylesheet" href="{{ STATIC_URL }}/css/master.css">
	<link rel="stylesheet" href="{{ STATIC_URL }}/css/mobile.css" 
		media='screen and (max-width: 768px)'>

	{% block header %}
	<title>Framer - Modern Prototyping</title>
	{% endblock %}

</head>
<body>
	
	<div id="content-wrap" class="container row">
		
		<header class="row">
			<nav id="global-nav" class="row">
				<div class="button">
					Download
				</div>
				<h1>Framer</h1>
				<ul>
					<li class="about"><a href="{{ ROOT_URL }}">About</a></li>
					<li class="learn"><a href="{{ ROOT_URL }}/learn">Learn</a></li>
					<li class="examples"><a href="{{ ROOT_URL }}/examples">Examples</a></li>
					<li class="docs"><a href="{{ ROOT_URL }}/docs">Docs</a></li>
					<li class="community"><a href="{{ ROOT_URL }}/community">Community</a></li>
					<li class="source"><a href="https://github.com/koenbok/Framer">Source</a></li>
				</ul>

			</nav>
		</header>
		
		<section id="content-wrap" class="row">
		{% block content %}
		Main content
		{% endblock %}
		</section>
		
		<footer class="row">
			&copy; 2013 Koen Bok
		</footer>
	</div>

	{% block scripts %}
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
	<script src="{{ STATIC_URL }}/js/main.js"></script>
	{% endblock %}
</body>
</html>
