<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

	<link rel="shortcut icon" href="{% static '/static/images/favicon.ico' %}">
	<link rel="stylesheet" href="{% static '/static/css/style.css' %}">
	<link rel="stylesheet" href="{% static '/static/css/animation.css' %}">
	<link rel="stylesheet" href="{% static '/static/css/code.css' %}">
	
	<!-- Colfax Typeface -->
	<script type="text/javascript" src="//use.typekit.net/ivi1pzu.js"></script>
	<script type="text/javascript">Typekit.load();</script>
	
	{% block header %}
	<title>{% block title %}Framer{% endblock %}</title>
	{% endblock header %}

</head>
<body>
	{% block sidebar %}
	<header id="topbar"> <a href="index.html"><h1>Framer</h1></a>  <img class="2x" src="/static/images/menu-icon.png"></header>
	<div id="gradientbar"></div>
	<aside id="sidebar" class="{% block sidebarclass %}{% endblock %}">
		<nav>
			<ul><li class="headline {% block framerclass %}{% endblock %}"><a href="index.html" class="introduction">Framer</a></li></ul>
				
			<ul id="start">
				<li class="headline"><a href="start.html" class="start">Start <span class="drop"></span></a></li>
				<section>
				<li><a href="start.html#installation" class="installation">Installation</a></li>
				<li><a href="start.html#javascript" class="javascript">Javascript</a></li>
				<li><a href="start.html#coffeescript" class="coffeescript">Coffeescript</a></li>
				<li><a href="start.html#resources" class="resources">Resources</a></li>
				<li><a href="start.html#integration" class="integration">Integration</a></li>
				</section>
			</ul>

			<ul id="examples">
				<li class="headline examples"><a href="examples.html" class="examples">Examples <span class="drop"></span></a></li>
				<section>
				<li><a href="examples.html#prototypes" class="prototypes">Prototypes</a></li>
				<li><a href="examples.html#codepen" class="codepen">CodePen</a></li>
				</section>
			</ul>

			<ul id="learn">
				<li class="headline"><a href="learn.html" class="learn">Learn <span class="drop"></span></a></li>
				<section>
				<li><a href="learn.html#layers" class="layers">Layers</a></li>
				<li><a href="learn.html#hierarchy" class="hierarchy">Hierarchy</a></li>
				<li><a href="learn.html#types" class="types">Types</a></li>
				<li><a href="learn.html#animation" class="animation">Animation</a></li>
				<li><a href="learn.html#styling" class="styling">Styling</a></li>
				<li><a href="learn.html#events" class="events">Events</a></li>
				<li><a href="learn.html#statemachine" class="statemachine">State Machine</a></li>
				</section>
			</ul>

			<ul id="docs">
				<li class="headline"><a href="docs.html" class="docs">Docs <span class="drop"></span></a></li>
				<section>
				<li><a href="docs.html#layers" class="layerstwo">Layers</a></li>
				<li><a href="docs.html#animations" class="animations">Animations</a></li>
				<li><a href="docs.html#utilities" class="utilities">Utilities</a></li>
				<li><a href="docs.html#defaults" class="defaults">Defaults</a></li>
				</section>
			</ul>
			
			<ul id="more">
				<li class="headline"><a href="more.html" class="more">More <span class="drop"></span></a></li>
				<section>
				<li><a href="more.html#organizing" class="organizing">Organizing Code</a></li>
				<li><a href="more.html#keyframes" class="keyframes">CSS Keyframes</a></li>
				<li><a href="more.html#philosophy" class="philosophy">Philosophy</a></li>
				<li><a href="more.html#debugging" class="debugging">Debugging</a></li>
				<li><a href="more.html#faq" class="faq">FAQ</a></li>
				</section>
			</ul>
		
		</nav>
	</aside>
	{% endblock sidebar %}
	
	<section id="wrapper">
	{% block content %}
	Main content
	{% endblock content %}
	</section>

	{% block scripts %}
	<script src="//code.jquery.com/jquery.min.js"></script>
	<script src="{% static '/js/main.js' %}"></script>
	<script src="{% static '/js/rainbow.min.js' %}"></script>
	<script src="{% static '/js/rainbow.linenumbers.min.js' %}"></script>
	<script src="{% static '/js/language/javascript.js' %}"></script>
	<script src="{% static '/js/language/coffeescript.js' %}"></script>
	<script src="{% static '/js/scroller.js' %}"></script>
	{% endblock scripts %}
	
</body>
</html>
