{% extends "base.html" %}

{% block content %}
<div id="subpage">
	
	<div id="submenu">
		<div class="logo">
			<a href="{% url '/index.html' %}">
				<img src="{% static '/static/img/Resources/framer-logo.png' %}" width="21" height="24" alt="Framer Logo" class="2x">
				Framer
			</a>
		</div>
		
		{% include "menu.html" %}
		
		<div class="footer">
			Feel free to help make the docs better. They are hosted at <a href="https://github.com/koenbok/FramerSite">Github</a>.
		</div>
		
	</div>

	<div id="main">
	{% block main %}
	{% endblock %}
	</div>

</div>
{% endblock %}