<div class="item">
	<h3>Introduction</h3>
	<ul>
		<li><a href="{{ ROOT_URL }}/introduction#install">Install</a></li>
		<li><a href="{{ ROOT_URL }}/introduction#motivation">Motivation</a></li>
		<li><a href="{{ ROOT_URL }}/introduction#philosophy">Philosophy</a></li>
		<li><a href="{{ ROOT_URL }}/introduction#users">Users</a></li>
	</ul>
</div>

<div class="item">
	<h3>Examples</h3>
	<ul>
		<li><a href="{{ ROOT_URL }}/examples#quickies">Quickies</a></li>
		<li><a href="{{ ROOT_URL }}/examples#photoshop">Photoshop</a></li>
		<li><a href="{{ ROOT_URL }}/examples#gallery">Gallery</a></li>
	</ul>
</div>

<div class="item">
	<h3>Get Started</h3>
	<ul>
		<li><a href="{{ ROOT_URL }}/start#photoshop">Photoshop</a></li>
		<li><a href="{{ ROOT_URL }}/start#javascript">Javascript</a></li>
		<li><a href="{{ ROOT_URL }}/start#debugging">Debugging</a></li>
	</ul>
</div>

<div class="item">
	<h3>Lessons</h3>
	<ul>
		<li><a href="{{ ROOT_URL }}/lessons#views">Views</a></li>
		<li><a href="{{ ROOT_URL }}/lessons#hierarchy">View Hierarchy</a></li>
		<li><a href="{{ ROOT_URL }}/lessons#types">View Types</a></li>
		<li><a href="{{ ROOT_URL }}/lessons#animation">Animation</a></li>
		<li><a href="{{ ROOT_URL }}/lessons#styling">Styling</a></li>
		<li><a href="{{ ROOT_URL }}/lessons#events">Events</a></li>
	</ul>
</div>

<div class="item">
	<h3>Documentation</h3>
	<ul>
		<li><a href="{{ ROOT_URL }}/documentation#view">View</a></li>
		<li><a href="{{ ROOT_URL }}/documentation#scrollview">ScrollView</a></li>
		<li><a href="{{ ROOT_URL }}/documentation#imageview">ImageView</a></li>
		<li><a href="{{ ROOT_URL }}/documentation#animation">Animation</a></li>
		<li><a href="{{ ROOT_URL }}/documentation#utilities">Utilities</a></li>
		<li><a href="{{ ROOT_URL }}/documentation#configuration">Configuration</a></li>
	</ul>
</div>

<div class="item">
	<h3>Advanced</h3>
	<ul>
		<li><a href="{{ ROOT_URL }}/advanced#code">Organizing Code</a></li>
		<li><a href="{{ ROOT_URL }}/advanced#animations">Animations</a></li>
		<li><a href="{{ ROOT_URL }}/advanced#keyframes">CSS Keyframes</a></li>
	</ul>
</div>
