<div class="item">
	<h3>Introduction</h3>
	<ul>
		<li><a href="{% url '/introduction/index.html' %}#install">Install</a></li>
		<li><a href="{% url '/introduction/index.html' %}#motivation">Motivation</a></li>
		<li><a href="{% url '/introduction/index.html' %}#philosophy">Philosophy</a></li>
		<li><a href="{% url '/introduction/index.html' %}#users">Users</a></li>
		<li><a href="{% url '/introduction/index.html' %}#thanks">Thanks</a></li>
	</ul>
</div>

<div class="item">
	<h3>Examples</h3>
	<ul>
		<li><a href="{% url '/examples/index.html' %}#quickies">Quickies</a></li>
		<li><a href="{% url '/examples/index.html' %}#full">Full Examples</a></li>
		<li><a href="{% url '/examples/index.html' %}#yours">Submit Yours</a></li>
	</ul>
</div>

<div class="item">
	<h3>Get Started</h3>
	<ul>
		<li><a href="{% url 'https://vimeo.com/74712901' %}" target="new">Overview Video</a></li>
		<li><a href="{% url '/start/index.html' %}#photoshop">Photoshop</a></li>
		<li><a href="{% url '/start/index.html' %}#javascript">Javascript</a></li>
		<li><a href="{% url '/start/index.html' %}#debugging">Debugging</a></li>
	</ul>
</div>

<div class="item">
	<h3>Lessons</h3>
	<ul>
		<li><a href="{% url '/lessons/index.html' %}#views">Views</a></li>
		<li><a href="{% url '/lessons/index.html' %}#hierarchy">View Hierarchy</a></li>
		<li><a href="{% url '/lessons/index.html' %}#types">View Types</a></li>
		<li><a href="{% url '/lessons/index.html' %}#animation">Animation</a></li>
		<li><a href="{% url '/lessons/index.html' %}#styling">Styling</a></li>
		<li><a href="{% url '/lessons/index.html' %}#events">Events</a></li>
	</ul>
</div>

<div class="item">
	<h3>Documentation</h3>
	<ul>
		<li><a href="{% url '/documentation/index.html' %}#view">View</a></li>
		<li><a href="{% url '/documentation/index.html' %}#scrollview">ScrollView</a></li>
		<li><a href="{% url '/documentation/index.html' %}#imageview">ImageView</a></li>
		<li><a href="{% url '/documentation/index.html' %}#animation">Animation</a></li>
		<li><a href="{% url '/documentation/index.html' %}#utilities">Utilities</a></li>
		<li><a href="{% url '/documentation/index.html' %}#configuration">Configuration</a></li>
	</ul>
</div>

<div class="item">
	<h3>Advanced</h3>
	<ul>
		<li><a href="{% url '/advanced/index.html' %}#code">Organizing Code</a></li>
		<li><a href="{% url '/advanced/index.html' %}#keyframes">CSS Keyframes</a></li>
		<li><a href="{% url '/advanced/index.html' %}#pimp">Pimp Framer</a></li>
		<li><a href="{% url '/advanced/index.html' %}#animations">Animations</a></li>
	</ul>
</div>
