<!-- Facebook -->
<meta property="og:url" content="http://framerjs.com"/>
<meta property="og:title" content="Framer - A prototyping toolkit"/>
<meta property="og:description" content="Built for designers to turn static mockups in to prototypes with animation &amp; interaction."/>
<meta property="og:image" content="http://studio-staging.s3-website-us-east-1.amazonaws.com/static/images/social/card.png"/>

<!-- Twitter -->
<meta name="twitter:card" content="photo">
<meta name="twitter:site" content="@framerjs">
<meta name="twitter:creator" content="@framerjs">
<meta name="twitter:title" content="Framer - A prototyping toolkit">
<meta name="twitter:image:src" content="http://framerjs.com/static/images/social/card.png">
<meta name="twitter:domain" content="framerjs.com">