<!-- Facebook -->
<meta property="og:url" content="http://studio-staging-2.s3-website-us-east-1.amazonaws.com"/>
<meta property="og:title" content="Framer - Innovative Prototyping"/>
<meta property="og:description" content="Invent, design and experiment with interaction."/>
<meta property="og:image" content="http://studio-staging-2.s3-website-us-east-1.amazonaws.com/static/images/social/card.png"/>

<!-- Twitter -->
<meta name="twitter:card" content="photo">
<meta name="twitter:site" content="@framerjs">
<meta name="twitter:creator" content="@framerjs">
<meta name="twitter:title" content="Framer - A prototyping toolkit">
<!-- <meta name="twitter:image:src" content="http://framerjs.com/static/images/social/card.png"> -->
<meta name="twitter:domain" content="framerjs.com">