{% extends "more.html" %}
{% block content %}
<h1>Motivation</h1>

<p>Many people already prototype in the browser. It's simple and quick. But while html/js/css/jquery gets a lot done it has some downsides:</p>

<ul>
	<li>It can get pretty complicated mixing all the different technologies</li>
	<li>It can be hard to get the pixel perfect control you want</li>
	<li>It's not always performant, especially on mobile</li>
	<li>It's pretty far from how it will be actually implemented if you prototype for native</li>
</ul>

<p>Framer tries to solve some of these problems by providing a very lightweight framework modeled after larger application frameworks. The basic idea is that you only need a few simple building blocks like images, animation and events to build and test complex interactions.</p>

<p>Inspired by <a href="https://github.com/rsms">Rasmus</a> excellent <a href="http://rsms.me/uilayer/">UILayer</a>, it uses modern webkit technologies to leverage the graphics card, so it runs smooth on both desktop and mobile.</p>

<p>Framer can be seen as an alternative to <a href="http://www.adobe.com/products/flash.html">Flash</a> or <a href="https://developer.apple.com/technologies/mac/graphics-and-animation.html">Quartz Composer</a>. It's targeted at designers that can do basic javascript, up until experienced interface programmers.</p>

<!-- <h1>Assumptions</h1>

<p>Although not strictly needed, it helps if you have a very basic understanding of:</p>

<ul>
	<li>HTML/CSS</li>
	<li>Javascript</li>
	<li>Object oriented programming</li>
</ul>

<h1>Alternatives</h1> -->

{% endblock %}
