{% extends "base.html" %}
{% block content %}


<!-- (1) Optimize for mobile versions -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- (1) Moot look and feel -->
<link rel="stylesheet" href="http://cdn.moot.it/1.1/moot.css"/>

<!-- (4) Custom CSS -->
<style>

.moot { font-size: 14px; }

.m-header {
	display:none;
   background-color: #fff;
}
</style>

<!-- (1) Moot depends on jQuery v1.7 or greater -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>

<!-- (1) Moot client application -->
<script src="http://cdn.moot.it/1.1/moot.min.js"></script>


<!-- (2) Placeholder for the forum. The forum will be rendered inside this element -->
<a class="moot" href="http://api.moot.it/framer"></a>

<!--
(2) Example tag for commenting, put it on a different page
<a class="moot" href="http://api.moot.it/framer/blog#my-blog-entry"></a>

(2) Example tag for threaded commenting
<a class="moot" href="http://api.moot.it/framer/blog/my-large-blog-entry"></a>

Moot paths are awesome: http://moot.it/docs/?framer#path
-->


{% endblock %}
